Repository lancedb/lance, pull requests merged in 2023-03, with the labels that each got.

#651 Windows support
  rust/src/io/local.rs
Labels: rust, windows

#669 OPQ rotation matrix training
  rust/src/arrow.rs
  rust/src/arrow/linalg.rs
  rust/src/datatypes.rs
  rust/src/index/vector.rs
  rust/src/index/vector/kmeans.rs
  rust/src/index/vector/opq.rs
  rust/src/index/vector/pq.rs
Labels: rust, vector

#689 Streaming PQ
  benchmarks/sift/lance_sift1m_stats.csv
  protos/index.proto
  rust/src/arrow.rs
  rust/src/arrow/linalg.rs
  rust/src/bin/lq.rs
  rust/src/dataset.rs
  rust/src/index/vector.rs
  rust/src/index/vector/ivf.rs
  rust/src/index/vector/opq.rs
  rust/src/index/vector/pq.rs
Labels: rust, vector

#693 [Bug] PQ training generates empty centroids
  rust/src/utils/kmeans.rs
Labels: bug, rust, vector

#711 [Bug] Fix transpose in MatrixView.data()
  rust/src/arrow/linalg.rs
Labels: bug, rust

#722 [Bug] Fix IVF merge sort when refine factor is presented.
  .github/workflows/python.yml
  rust/src/bin/lq.rs
  rust/src/dataset/scanner.rs
  rust/src/index/vector/ivf.rs
  rust/src/index/vector/kmeans.rs
  rust/src/index/vector/opq.rs
  rust/src/index/vector/pq.rs
Labels: bug, rust, vector

#729 Make contract clear for KNN nodes
  .github/workflows/rust.yml
  rust/src/dataset/scanner.rs
  rust/src/index/vector.rs
  rust/src/index/vector/flat.rs
  rust/src/io/exec.rs
  rust/src/io/exec/knn.rs
  rust/src/io/exec/take.rs
  rust/src/io/exec/testing.rs
Labels: enhancement, rust

#732 [Rust] Use folked sqlparser to unblock rust crate release
  rust/Cargo.toml
  rust/src/io/exec/planner.rs
Labels: rust

#733 [Rust] Fix filter on large UTF8 columns
  rust/src/datafusion/logical_expr.rs
  rust/src/dataset/scanner.rs
Labels: bug, rust
