Repository lancedb/lance, pull requests merged in 2024-10, with the labels that each got.

#2963 fix: inline datafusion_common
  rust/lance-core/src/error.rs
Labels: bug

#2964 ci: run rust benchmark and generate report
  .github/workflows/rust-benchmark.yml
Labels: ci

#2950 fix: include the list item field schema
  python/python/tests/test_file.py
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
Labels: bug, python

#2966 feat: nested list access
  docs/read_and_write.rst
  python/python/tests/test_dataset.py
  rust/lance-datafusion/src/planner.rs
Labels: enhancement, python

#2969 chore: stop pinning h5py now that arm wheels are being published again
  python/pyproject.toml
Labels: python, chore

#2755 feat: add backwards compatibility with 0.13.0 v2 datasets
  python/python/tests/historical_datasets/0.13.0_string_encoding.lance/_latest.manifest
  python/python/tests/historical_datasets/0.13.0_string_encoding.lance/_transactions/0-995aef7c-b448-4978-98e9-434731c3d2e8.txn
  python/python/tests/historical_datasets/0.13.0_string_encoding.lance/_versions/1.manifest
  python/python/tests/historical_datasets/0.13.0_string_encoding.lance/data/19080b7e-4202-4f18-906c-5b64d17d43b5.lance
  python/python/tests/test_backwards_compatibility.py
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
Labels: enhancement, python

#2940 perf: add python benchmark test for write/read integers
  python/python/benchmarks/test_read_write.py
Labels: python, performance

#2944 feat: add a python API for reading arrays of binary/large_binary as file objects
  python/python/lance/__init__.py
  python/python/lance/blob.py
  python/python/tests/test_blob.py
Labels: enhancement, python

#2974 fix: don't use direct dependencies for cuvs as this prevents pypi from publishing
  python/pyproject.toml
Labels: bug, python

#2868 feat: add a blob encoding for large binary values
  protos/encodings.proto
  python/python/tests/test_file.py
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-io/src/scheduler.rs
Labels: enhancement, python

#2946 feat: cuda acceleration for PQ builds/assignments
  python/python/lance/dataset.py
  python/python/lance/torch/kmeans.py
  python/python/lance/vector.py
Labels: enhancement, python

#2991 feat(rust): add checkout_latest to Dataset
  rust/lance/src/dataset.rs
Labels: enhancement

#2970 chore: option to disable null filter during builds
  python/python/lance/dataset.py
  python/python/lance/vector.py
Labels: python, chore

#2990 feat: support storage options for spark read and write
  java/.gitignore
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/FragmentOperation.java
  java/core/src/main/java/com/lancedb/lance/WriteParams.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceCatalog.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceConfig.java
  java/spark/src/main/java/com/lancedb/lance/spark/SparkOptions.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceDataWriter.java
Labels: enhancement, java

#2998 feat: add some basic primitive for working with repdef data
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/repdef.rs
Labels: enhancement

#3001 feat: one-pass IVF_PQ accelerated builds
  python/python/benchmarks/test_index.py
  python/python/lance/dataset.py
  python/python/lance/vector.py
  python/python/tests/test_dataset.py
Labels: enhancement, python

#2986 feat: add bit-width, cardinality and data-size to datablock statistics
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
  rust/lance-encoding/src/encodings/physical/block_compress.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/statistics.rs
Labels: enhancement

#2820 feat: add table config
  protos/table.proto
  protos/transaction.proto
  python/src/dataset.rs
  rust/lance-table/README.md
  rust/lance-table/src/feature_flags.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python

#3000 fix: filter the vec index in function Index::scalar_index_info
  rust/lance/src/index.rs
Labels: bug

#2979 feat: expose number of rows covered per delta
  rust/lance/src/index.rs
Labels: enhancement

#3003 chore: make ivf fields public
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/io/exec/knn.rs
Labels: chore

#3002 feat: add the basic encode path for 2.1
  protos/encodings.proto
  protos/file2.proto
  python/python/tests/test_file.py
  rust/lance-core/src/datatypes/field.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: enhancement, python

#2983 feat: add a new BlobFile API that can be used to read blob data
  python/python/lance/__init__.py
  python/python/lance/blob.py
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_blob.py
  python/src/dataset.rs
  python/src/dataset/blob.rs
  python/src/lib.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-datafusion/src/projection.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/blob.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
Labels: enhancement, python

#3007 chore: don't require torch
  python/python/lance/vector.py
  python/python/tests/test_dataset.py
  python/python/tests/test_huggingface.py
Labels: python, chore

#3011 chore: add FTS as alias of INVERTED
  python/python/lance/dataset.py
  python/src/dataset.rs
Labels: python, chore

#2926 perf: reduce the required memory for indexing FTS
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: performance

#3010 feat: make it possible to add columns from existing data
  python/Cargo.toml
  python/python/lance/dataset.py
  python/python/lance/file.py
  python/python/tests/test_schema_evolution.py
  python/src/dataset.rs
  rust/lance/src/dataset/schema_evolution.rs
Labels: enhancement, python

#3018 fix: update cursor correctly in blob file API
  python/python/tests/test_blob.py
  rust/lance/src/dataset/blob.rs
Labels: bug, python

#3027 fix: refine FTS error message if no index
  rust/lance/src/dataset/scanner.rs
Labels: bug, chore

#3024 fix: create FTS on empty table/strings
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/src/dataset.rs
Labels: bug

#3021 feat!: combine LanceFragment.merge_columns and LanceDataset.add_columns in one implementation
  Cargo.toml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.toml
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/types.py
  python/python/lance/udf.py
  python/python/tests/test_dataset.py
  python/python/tests/test_schema_evolution.py
  python/src/dataset.rs
  python/src/fragment.rs
  python/src/lib.rs
  python/src/updater.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/updater.rs
Labels: enhancement, python, java, breaking-change

#3023 perf: reduce the minimum chunk size for l2 distance calculations
  python/python/lance/torch/distance.py
Labels: python, performance, chore

#3032 ci: fix version check CI job
  .github/workflows/pr-title.yml
Labels: ci, chore

#2992 feat!: support to customize tokenizer
  Cargo.toml
  python/python/lance/dataset.py
  python/src/dataset.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/tokenizer.rs
  rust/lance/examples/full_text_search.rs
Labels: enhancement, python, breaking-change

#3025 feat: support FTS on multiple fields
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/fts.rs
Labels: enhancement

#3040 ci: add typos to the pre-commit config
  .pre-commit-config.yaml
Labels: ci

#3028 feat: adds support for detached commits
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-table/src/format.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/io/commit.rs
  rust/lance/src/dataset.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python

#3043 chore: pin ray version <2.38 and remove numpy pin
  .github/workflows/run_integtests/action.yml
  python/pyproject.toml
Labels: python, chore

#2968 feat: add 2.1 read path
  Cargo.toml
  protos/encodings.proto
  python/python/benchmarks/test_file.py
  python/python/tests/test_file.py
  python/src/file.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement, python

#3034 feat: expose compression-level configuration for general compression
  protos/encodings.proto
  rust/lance-core/src/datatypes.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/block_compress.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
Labels: enhancement

#2973 feat: make it possible to use rowid and rowaddr in filters
  java/core/lance-jni/src/blocking_scanner.rs
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/python/tests/test_integration.py
  python/src/dataset.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python, java

#2467 feat: more flexible and sophisticated handling of non-null constraints
  python/python/tests/test_ingestion.py
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-file/src/writer.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/write.rs
Labels: enhancement, python

#3048 ci: shorten some of the longest tests
  python/python/tests/test_indices.py
  python/python/tests/test_lance.py
  rust/lance-encoding/src/compression_algo/fsst/src/fsst.rs
Labels: python, ci

#3059 perf: use total cmp for ordered float
  rust/lance-index/src/vector/graph.rs
Labels: performance

#3056 fix: verify num_sub_vectors is valid before creating index
  python/python/lance/dataset.py
  python/python/lance/indices.py
  python/python/tests/test_indices.py
  python/python/tests/test_vector_index.py
Labels: bug, python

#3039 chore: lance file write read verification
  .github/workflows/nightly_run.yml
  .github/workflows/write_read_roundtrip_test/action.yml
  .github/workflows/write_read_roundtrip_test/test_write_read.py
Labels: chore

#3060 perf: parallel search partitions in subindex
  rust/lance/src/index/vector/ivf/v2.rs
Labels: performance

#3061 chore: send + sync for quantizer build param + pub knn part schema
  rust/lance-index/src/vector/quantizer.rs
  rust/lance/src/io/exec/knn.rs
Labels: chore

#3055 chore: add granularity of 1024 to bit_width stats
  rust/lance-encoding/src/encodings/physical/block_compress.rs
  rust/lance-encoding/src/statistics.rs
Labels: chore

#3063 chore: enable nightly run file verification
  .github/workflows/file_verification.yml
  .github/workflows/file_verification/test_write_read.py
  .github/workflows/nightly_run.yml
Labels: chore

#3066 fix: always return correct batch size
  python/python/lance/sampler.py
  python/python/lance/torch/data.py
  python/python/tests/torch_tests/test_data.py
Labels: bug, python

#3051 feat: support build lance java with rust release mode
  .github/workflows/java-publish.yml
  java/core/pom.xml
Labels: enhancement, java

#3036 feat: do brute force search on unindexed data
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/examples/full_text_search.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/fts.rs
Labels: enhancement
