Repository lancedb/lance, pull requests merged in 2024-09, with the labels that each got.

#2807 perf: parallelize FTS indexing
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/examples/full_text_search.rs
Labels: performance

#2813 feat: support update tags
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  python/src/error.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/refs.rs
Labels: enhancement, python

#2782 feat(java): add create vector search index, list index names, and vector search scan
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/blocking_scanner.rs
  java/core/lance-jni/src/error.rs
  java/core/lance-jni/src/ffi.rs
  java/core/lance-jni/src/utils.rs
  java/core/pom.xml
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/FragmentMetadata.java
  java/core/src/main/java/com/lancedb/lance/ReadOptions.java
  java/core/src/main/java/com/lancedb/lance/WriteParams.java
  java/core/src/main/java/com/lancedb/lance/index/DistanceType.java
  java/core/src/main/java/com/lancedb/lance/index/IndexParams.java
  java/core/src/main/java/com/lancedb/lance/index/IndexType.java
  java/core/src/main/java/com/lancedb/lance/index/vector/HnswBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/IvfBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/PQBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/SQBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/VectorIndexParams.java
  java/core/src/main/java/com/lancedb/lance/ipc/LanceScanner.java
  java/core/src/main/java/com/lancedb/lance/ipc/Query.java
  java/core/src/main/java/com/lancedb/lance/ipc/ScanOptions.java
  java/core/src/main/java/com/lancedb/lance/test/JniTestHelper.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/JNITest.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/core/src/test/java/com/lancedb/lance/TestVectorDataset.java
  java/core/src/test/java/com/lancedb/lance/VectorSearchTest.java
  java/pom.xml
  java/spark/src/main/java/com/lancedb/lance/spark/LanceInputPartition.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceScanBuilder.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceTable.java
  java/spark/src/test/java/com/lancedb/lance/spark/LanceFragmentColumnarBatchScannerTest.java
  rust/lance-index/src/lib.rs
Labels: enhancement, java

#2818 chore: don't sort the data when optimizing the FTS index
  rust/lance/src/index/append.rs
Labels: chore

#2826 feat: make default I/O buffer size configurable via env var
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement

#2824 fix: torch to_tensor for FixedShapeTensorType data
  python/python/lance/torch/data.py
  python/python/tests/torch_tests/test_data.py
Labels: bug, python

#2792 fix: cleanup external staging manifests
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/io/commit/dynamodb.rs
  rust/lance/src/io/commit/external_manifest.rs
Labels: bug

#2770 perf: split MaterializeIndex stream into batches
  rust/lance/src/io/exec/scalar_index.rs
Labels: performance

#2825 fix: the DataFile version doesn't respect the writer's version
  python/python/tests/test_dataset.py
  python/python/tests/test_fragment.py
  rust/lance-encoding/src/version.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/src/dataset/write.rs
Labels: bug, python

#2833 fix: merge-insert and update can't work on v2 format
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/update.rs
Labels: bug

#2798 feat: constant-time manifest lookup on object stores
  docs/format.rst
  java/core/lance-jni/src/blocking_dataset.rs
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/dynamodb.rs
  rust/lance/src/io/commit/external_manifest.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python, java

#2831 chore: fix clippy warning
  rust/lance-index/src/scalar/inverted/index.rs
Labels: chore

#2836 fix: ensure the v2 file writer does not mix up the order of a column
  python/python/tests/test_file.py
  rust/lance-encoding/src/encoder.rs
  rust/lance-file/src/v2/writer.rs
Labels: bug, python

#2834 perf: parallelize remapping to improve FTS compaction
  rust/lance-index/src/scalar/inverted/builder.rs
Labels: performance

#2787 perf: concurrent loading FTS index files
  rust/lance-index/src/scalar/inverted/index.rs
Labels: performance

#2841 fix: calculate decode priority correctly
  python/python/tests/conftest.py
  python/python/tests/test_dataset.py
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: bug, python

#2845 fix: vector column mismatch should not be a IO Error
  rust/lance-datafusion/src/logical_expr.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write.rs
Labels: bug

#2827 ci: auto release java
  .github/workflows/bump-version/action.yml
  .github/workflows/java-publish.yml
  .github/workflows/java.yml
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/DatasetFragment.java
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/ReadOptions.java
  java/core/src/main/java/com/lancedb/lance/Utils.java
  java/core/src/main/java/com/lancedb/lance/WriteParams.java
  java/core/src/main/java/com/lancedb/lance/index/IndexParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/IvfBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/PQBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/SQBuildParams.java
  java/core/src/main/java/com/lancedb/lance/index/vector/VectorIndexParams.java
  release_process.md
Labels: ci, java

#2848 chore: don't be so strict about checking the error type in duckdb test
  python/python/tests/test_integration.py
Labels: python, chore

#2849 chore: address clippy suggestions from new clippy version
  rust/lance-encoding/benches/buffer.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-linalg/build.rs
Labels: chore

#2851 chore: fix aws-integ-test from running out of disk space
  python/Makefile
Labels: python, chore

#2840 feat: propagate `storage_options` to `LanceFileWriter` and `LanceFileReader`
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_s3_ddb.py
  python/src/file.rs
  python/src/indices.rs
Labels: enhancement, python

#2869 ci: make it easier to see breaking change that fails ci job
  .github/workflows/pr-title.yml
  Cargo.toml
  ci/check_versions.py
  python/Cargo.toml
Labels: python, ci

#2846 fix: check label list list column type earlier
  rust/lance-index/src/scalar/label_list.rs
  rust/lance/src/index/scalar.rs
Labels: bug

#2852 chore: always return error for phrase query if there's no position
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: chore

#2875 fix: can't filter on string column which has FTS index
  python/python/tests/test_scalar_index.py
  rust/lance-datafusion/src/expr.rs
  rust/lance-linalg/build.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/scalar.rs
Labels: bug, python

#2879 chore: removal accidental inclusion of dbg macro
  rust/lance-encoding/src/encodings/physical/value.rs
Labels: chore

#2867 feat!: update_table returns stats
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/write/update.rs
Labels: enhancement, python, breaking-change

#2880 feat: support decimal 128 and 256 json types
  .github/workflows/rust.yml
  rust/lance/src/arrow/json.rs
Labels: enhancement

#2891 chore!: remove manylinux 2014 build
  .github/workflows/pypi-publish.yml
Labels: chore, breaking-change

#2892 Revert "chore!: remove manylinux 2014 build (#2891)"
  .github/workflows/pypi-publish.yml
Labels: breaking-change

#2883 feat: add CreateIndex commit type to python API
  python/python/lance/dataset.py
  python/python/tests/test_commit_index.py
  python/src/dataset.rs
Labels: enhancement, python

#2895 fix: limit/offset pushdown was not working correctly in the presence of deletions
  python/python/tests/test_dataset.py
  rust/lance-core/src/utils/deletion.rs
  rust/lance/src/dataset/fragment.rs
Labels: bug, python

#2897 fix: fix release versions
  Cargo.toml
  java/core/lance-jni/Cargo.toml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
Labels: bug, java

#2896 feat!: add batch_size option to merge_columns
  python/python/lance/fragment.py
  python/python/tests/test_dataset.py
  python/src/fragment.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/updater.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: enhancement, python, breaking-change

#2900 fix: revert Bump version f3eef61
  Cargo.toml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.toml
Labels: bug, python, java

#2901 fix: enlarge cargo release timeout and add workflow dispatch
  .github/workflows/cargo-publish.yml
Labels: bug

#2902 fix: fix cargo release tag checkout
  .github/workflows/cargo-publish.yml
Labels: bug

#2903 feat: make `Debug` for useful `Session`
  rust/lance-core/src/cache.rs
  rust/lance/src/session.rs
Labels: enhancement

#2906 feat: log the execution plan in a more compact fashion
  rust/lance-datafusion/src/exec.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement

#2907 fix: restore ability to write fixed size list of nullable
  python/python/tests/test_file.py
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/block_compress.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
Labels: bug, python

#2899 fix: use retry loop when loading deletion files
  rust/lance-io/src/local.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/traits.rs
  rust/lance-table/src/io/deletion.rs
Labels: bug

#2887 chore: change default compiler to clang
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/cargo-publish.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  rust/lance-linalg/build.rs
  rust/lance-linalg/src/distance/dot.rs
Labels: chore

#2871 feat(java): add dataset open storage options
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/ReadOptions.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#2878 feat: reconnect block compression
  python/python/benchmarks/test_compression.py
  python/python/tests/test_file.py
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
Labels: enhancement, python

#2910 feat: handle nulls when creating indices with cuda
  python/python/lance/sampler.py
  python/python/lance/torch/data.py
  python/python/lance/vector.py
  python/python/tests/test_indices.py
  python/python/tests/test_vector_index.py
  python/python/tests/torch_tests/test_data.py
Labels: enhancement, python

#2915 ci: change to use github action runners
  .github/workflows/rust.yml
Labels: ci

#2914 fix: fix dot distance for cuda
  python/python/lance/torch/distance.py
  python/python/tests/test_indices.py
Labels: bug, python

#2918 ci: java publish job to use gh action runners
  .github/workflows/java-publish.yml
Labels: ci

#2921 ci: python to use Github arm runner
  .github/workflows/python.yml
  .github/workflows/rust.yml
Labels: ci

#2816 feat: cuvs acceleration for gpu k-means
  python/pyproject.toml
  python/python/lance/cuvs/__init__.py
  python/python/lance/cuvs/kmeans.py
  python/python/lance/dependencies.py
  python/python/lance/torch/kmeans.py
  python/python/lance/vector.py
Labels: enhancement, python

#2924 fix: use existing storage version on overwrite, if none specified
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/ray/sink.py
  python/python/tests/test_dataset.py
  rust/lance/src/dataset.rs
Labels: bug, python

#2925 fix: support negative values in SQL array literals
  rust/lance-datafusion/src/planner.rs
Labels: bug

#2923 fix: v2 deadlock when there are multiple data files
  python/python/tests/test_dataset.py
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/io/exec/scan.rs
Labels: bug, python

#2916 feat: allow users to specify late/early materialization, adjust default threshold
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-arrow/src/lib.rs
  rust/lance-arrow/src/schema.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-io/src/object_store.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement, python

#2928 feat: add an optional process-wide limit for IOPS
  rust/lance-io/src/scheduler.rs
Labels: enhancement

#2932 chore: add cu11 targets for cuvs
  python/pyproject.toml
Labels: python, chore

#2933 fix: `refine_factor` should be used in `search_in_partition` for IVF V2 Indices
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#2935 ci: use oss runner to build docs
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
Labels: ci

#2936 fix: list_indices never updated after first call
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-index/src/optimize.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
Labels: bug, python

#2937 feat: allow scalar indices to be disabled for a query
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#2913 feat: reconnect pushdown to v2
  python/src/file.rs
  rust/lance-core/src/cache.rs
  rust/lance-core/src/utils.rs
  rust/lance-core/src/utils/path.rs
  rust/lance-datafusion/src/substrait.rs
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/substrait.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/index.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement, python

#2919 fix: fix ray sink error when there are no data to write
  python/python/lance/ray/sink.py
  python/python/tests/test_ray.py
Labels: bug, python

#2886 feat: support fastlanes bitpacking
  protos/encodings.proto
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/compression_algo/fastlanes.rs
  rust/lance-encoding/src/compression_algo/mod.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement

#2948 fix: remove dup cache consts and respect index size param
  rust/lance-core/src/cache.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#2957 fix: don't always include first doc
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: bug, python

#2959 feat: improve datafusion SQL planning and parsing errors
  rust/lance-core/src/error.rs
  rust/lance-datafusion/src/logical_expr.rs
  rust/lance-datafusion/src/planner.rs
Labels: enhancement, chore

#2962 fix: better error for concurrent create
  rust/lance/src/dataset.rs
  rust/lance/src/io/commit.rs
Labels: bug
