Repository lancedb/lance, pull requests merged in 2024-08, with the labels that each got.

#2643 feat: implement disk-based inverted index
  Cargo.toml
  rust/lance-arrow/src/lib.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/prefilter.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/examples/full_text_search.rs
  rust/lance/examples/ivf_hnsw.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/io/exec/fts.rs
Labels: enhancement

#2657 feat: support transforming selected fragments in vector transform stage for ivf_pq index
  python/python/lance/indices.py
  python/python/tests/test_indices.py
  python/src/fragment.rs
  python/src/indices.rs
Labels: enhancement, python

#2674 chore: remove the build.rs script from the python dir
  python/build.rs
Labels: python, chore

#2675 test: fix `test_vector_index` on Windows
  python/python/tests/test_indices.py
Labels: python, chore

#2671 feat!: distinguishable scalar index types
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-table/src/format/index.rs
  rust/lance/examples/full_text_search.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/session.rs
Labels: enhancement, python, breaking-change

#2676 chore: clean up unused rust dependencies
  rust/lance-arrow/Cargo.toml
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/compression-algo/fsst/Cargo.toml
  rust/lance-encoding/compression-algo/fsst/examples/benchmark.rs
  rust/lance-encoding/compression-algo/fsst/src/fsst.rs
  rust/lance-file/Cargo.toml
  rust/lance-index/Cargo.toml
  rust/lance-table/Cargo.toml
  rust/lance/Cargo.toml
Labels: chore

#2678 docs: reorg the scalar index python docstring to make the index type clear
  python/python/lance/dataset.py
Labels: documentation, python

#2383 perf: benchmark lance vs parquet read time, write time, and compressed size
  python/python/benchmarks/test_v2_read_write.py
Labels: python, benchmark, performance

#2679 feat: expand tags api
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/refs.rs
Labels: enhancement, python

#2670 feat: add standalone shuffle for transformed ivf-pq vectors file
  python/python/lance/indices.py
  python/python/tests/test_indices.py
  python/src/indices.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
Labels: enhancement, python, rust

#2662 feat: support bitpacking for signed types
  protos/encodings.proto
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/buffers.rs
  rust/lance-encoding/src/encodings/physical/value.rs
Labels: enhancement

#2684 feat: support loading huggingface image dataset and convert image to PIL
  python/python/lance/hf.py
  python/python/lance/torch/data.py
  python/python/tests/test_huggingface.py
Labels: enhancement, python

#2687 feat: return BM25 scores for FTS
  rust/lance/src/dataset/scanner.rs
Labels: enhancement

#2689 fix: slight cleanups to path handling so that the indices builder tool properly supports Windows
  python/src/file.rs
  python/src/indices.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
Labels: bug, python

#2673 feat: add data file format / version information to manifest
  docs/file_struct.png
  docs/format.rst
  docs/format_overview.png
  docs/index.rst
  protos/file2.proto
  protos/table.proto
  python/python/lance/dataset.py
  python/python/lance/file.py
  python/python/lance/fragment.py
  python/python/lance/lance/__init__.pyi
  python/python/lance/ray/sink.py
  python/python/lance/vector.py
  python/python/tests/test_dataset.py
  python/python/tests/test_file.py
  python/python/tests/test_fragment.py
  python/python/tests/test_ray.py
  python/python/tests/test_s3_ddb.py
  python/src/dataset.rs
  python/src/file.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-encoding/src/version.rs
  rust/lance-file/src/lib.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-table/src/feature_flags.rs
  rust/lance-table/src/format.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance-testing/src/lib.rs
  rust/lance-testing/src/util.rs
  rust/lance/benches/take.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/fragment/write.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/updater.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/session/index_extension.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python

#2685 feat: add support for the null data type to v2
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement

#2683 feat: add backpressure to v2 I/O scheduler
  python/src/file.rs
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/Cargo.toml
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/utils.rs
Labels: enhancement, python

#2686 feat: make scalar index training configurable
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/index/scalar.rs
Labels: enhancement

#2677 feat: migrate Bitmap & LabelList index file to v2 format
  rust/lance-core/src/error.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/scalar.rs
Labels: enhancement

#2693 feat: make default batch size configurable via environment variable
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#2692 fix: out of bounds error in bitpacking
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/value.rs
Labels: bug

#2702 fix: add fix for slicing single array into many pages but don't have enough rows to do so
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/testing.rs
Labels: bug

#2698 fix: optimize cosine IVF_PQ index
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  rust/lance-index/src/vector/pq.rs
Labels: bug, python

#2544 feat: move-stable row ids in compaction
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/segment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/optimize/remapping.rs
  rust/lance/src/dataset/transaction.rs
Labels: enhancement, rust, experimental

#2701 fix: search results are not correct after appending index
  rust/lance/src/index/append.rs
  rust/lance/src/index/vector/builder.rs
Labels: bug

#2704 fix: v2 writer used the wrong value to calculate how many rows were available in array
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
Labels: bug

#2681 feat: load multiple ivf-pq sorted files and commit index into dataset
  python/python/lance/indices.py
  python/python/tests/test_indices.py
  python/src/indices.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/traits.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/ivf.rs
Labels: enhancement, python

#2696 perf: bitpacking exclude sign bit if not needed
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/value.rs
Labels: bug, performance

#2703 perf: various fixes to improve vector transform performance at high scales
  python/python/benchmarks/test_index.py
  python/python/lance/dataset.py
  python/python/lance/indices.py
  python/python/tests/test_indices.py
  python/src/dataset.rs
  python/src/indices.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/transform.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-index/src/vector/sq/transform.rs
  rust/lance-index/src/vector/transform.rs
  rust/lance/src/index/vector/ivf/builder.rs
Labels: python, performance

#2715 fix: correct index type of inverted index
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug

#2716 feat!: index_statistics returns the concrete index type
  Cargo.toml
  python/Cargo.toml
  python/python/tests/test_scalar_index.py
  python/python/tests/test_vector_index.py
  rust/lance-encoding/compression-algo/fsst/Cargo.toml
  rust/lance-index/src/lib.rs
  rust/lance/src/dataset.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug, enhancement, python, breaking-change

#2723 chore: relax the check in test_index_cache_size
  python/python/tests/test_vector_index.py
Labels: python, chore

#2720 fix: drop indices if all fragment ids are missing
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/transaction.rs
Labels: bug

#2724 fix: ignore pages with zero rows
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: bug

#2721 fix: various changes to fix backpressure
  python/src/file.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/utils.rs
Labels: bug, python

#2728 feat: add `max_bytes_per_file` and `batch_size` to CompactionOptions
  python/python/lance/dataset.py
  python/python/tests/test_optimize.py
  python/src/dataset/optimize.rs
  rust/lance/src/dataset/optimize.rs
Labels: enhancement, python

#2680 perf: coalesce ids before executing take
  python/python/benchmarks/test_search.py
  python/python/tests/test_dataset.py
  rust/lance-encoding/src/decoder.rs
  rust/lance/src/dataset/scanner.rs
Labels: python, performance

#2709 perf: cache default session contexts
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: performance

#2729 fix: raise exception if user passes unsorted indices to take_rows() of lance file api
  python/python/lance/file.py
Labels: bug, python

#2707 feat: add fixed size binary encoding to lance
  protos/encodings.proto
  python/python/benchmarks/test_fixed_size_binary.py
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
Labels: enhancement, python, rust

#2690 fix: don't panic when v2 scans end early (reader is dropped)
  rust/lance-encoding/src/decoder.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#2731 fix: fix a crash that could sometimes happen reading largish string/binary data in a list
  python/python/tests/test_file.py
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
Labels: bug, python

#2740 chore: add rust format in precommit hook
  .pre-commit-config.yaml
Labels: chore

#2736 feat: make the I/O buffer size configurable
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#2745 docs: fix version table so it renders
  docs/format.rst
Labels: documentation

#2746 docs: document newly added compaction options in optimize.py
  python/python/lance/optimize.py
  python/python/tests/test_optimize.py
Labels: documentation, python

#2744 docs: fix transaction conflict table
  rust/lance/src/dataset/transaction.rs
Labels: documentation

#2754 fix: fix two cases in the v2 decoder where the decode order didn't match the scheduling priority
  python/python/tests/test_dataset.py
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
Labels: bug, python

#2752 chore: scan unordered chunks for training FTS index
  rust/lance-index/src/scalar/inverted.rs
Labels: chore

#2710 perf: various fixes to improve shuffling performance at high scales
  python/python/benchmarks/test_index.py
  python/src/indices.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/vector/ivf/shuffler.rs
Labels: python, performance

#2750 perf: improve performance of IndicesBuilder compute ivf partitions
  python/python/lance/sampler.py
  python/python/lance/torch/data.py
  python/python/lance/torch/distance.py
  python/python/lance/torch/kmeans.py
  python/python/lance/vector.py
  python/python/tests/torch_tests/test_data.py
Labels: python, performance, chore

#2756 fix: fix several situations where we were incorrectly inferring the storage version
  python/python/tests/test_fragment.py
  python/python/tests/test_migration.py
  python/python/tests/test_optimize.py
  rust/lance-encoding/src/version.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset/transaction.rs
  test_data/v0.15.0/README.md
  test_data/v0.15.0/v1_no_files.lance/_latest.manifest
  test_data/v0.15.0/v1_no_files.lance/_transactions/0-4a3f63b9-e75a-42ed-8dad-b737ebd29e5f.txn
  test_data/v0.15.0/v1_no_files.lance/_transactions/0-b2bbb126-958f-48ef-81f7-b33deac71663.txn
  test_data/v0.15.0/v1_no_files.lance/_versions/1.manifest
  test_data/v0.15.0/v1_with_files.lance/_latest.manifest
  test_data/v0.15.0/v1_with_files.lance/_transactions/0-d8a059b3-345b-477b-bcf6-f3ee3692e871.txn
  test_data/v0.15.0/v1_with_files.lance/_transactions/0-df497a43-e5ae-4dd1-84da-3fb991ff858a.txn
  test_data/v0.15.0/v1_with_files.lance/_versions/1.manifest
  test_data/v0.15.0/v1_with_files.lance/data/320f7c03-94b1-4107-941f-eaab4a75792d.lance
  test_data/v0.15.0/v1_with_files.lance/data/7e7057e4-81a6-41b1-a44b-5c1285b1a8f8.lance
  test_data/v0.15.0/v2_no_files.lance/_latest.manifest
  test_data/v0.15.0/v2_no_files.lance/_transactions/0-131fefa6-74ca-4b2f-92b3-5fe9a5aa7eb4.txn
  test_data/v0.15.0/v2_no_files.lance/_transactions/0-ffe96c42-4ab0-4b8a-845b-31faa8b24e4d.txn
  test_data/v0.15.0/v2_no_files.lance/_versions/1.manifest
  test_data/v0.15.0/v2_with_files.lance/_latest.manifest
  test_data/v0.15.0/v2_with_files.lance/_transactions/0-053f9cac-5295-4222-aa69-1443c8e9ce9d.txn
  test_data/v0.15.0/v2_with_files.lance/_transactions/0-c1bab3c1-6e53-4eed-92c2-0e6496996785.txn
  test_data/v0.15.0/v2_with_files.lance/_versions/1.manifest
  test_data/v0.15.0/v2_with_files.lance/data/38639abd-798b-4005-87a1-39d7a151ee30.lance
  test_data/v0.15.0/v2_with_files.lance/data/f52fd5c9-0c86-4e22-828c-cd9121ac0217.lance
Labels: bug, python

#2747 feat: pushdown limit & offset into file reader if there is no filter
  python/python/tests/test_dataset.py
  rust/lance-index/src/scalar/expression.rs
  rust/lance/src/datafusion/logical_plan.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement, python

#2757 chore: change the level of log of reading large batch to debug
  rust/lance-encoding/src/decoder.rs
Labels: chore

#2769 fix: rework priority handling for lists. We now properly schedule list item pages in priority order
  python/python/tests/test_dataset.py
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
Labels: bug, python

#2759 fix: try and fix an invalid data storage version automatically
  python/python/tests/test_migration.py
  rust/lance-table/src/format/fragment.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/io/commit.rs
  test_data/v0.16.0/wrong_data_version_can_fix.lance/_latest.manifest
  test_data/v0.16.0/wrong_data_version_can_fix.lance/_transactions/0-5dad8b75-f89c-4811-9965-3a3b5de71072.txn
  test_data/v0.16.0/wrong_data_version_can_fix.lance/_transactions/0-804c7ee1-f67b-4506-82f9-ef13d6b2e65e.txn
  test_data/v0.16.0/wrong_data_version_can_fix.lance/_versions/1.manifest
  test_data/v0.16.0/wrong_data_version_can_fix.lance/_versions/2.manifest
  test_data/v0.16.0/wrong_data_version_can_fix.lance/data/069af2f1-d802-4500-853d-99bae9d3861a.lance
  test_data/v0.16.0/wrong_data_version_can_fix.lance/data/50c1bd24-4571-40d0-b0a9-cc072e48837a.lance
  test_data/v0.16.0/wrong_data_version_can_fix.lance/data/77548e41-fcc4-49ec-a7a9-fe8f84b98a31.lance
  test_data/v0.16.0/wrong_data_version_no_fix.lance/_latest.manifest
  test_data/v0.16.0/wrong_data_version_no_fix.lance/_transactions/0-3c5e65ef-fc3b-4403-800f-b6249f39fdb3.txn
  test_data/v0.16.0/wrong_data_version_no_fix.lance/_transactions/0-60c63cfd-0ad8-438d-aeaf-e60a31ac4f2c.txn
  test_data/v0.16.0/wrong_data_version_no_fix.lance/_transactions/2-1278c5fc-ce0f-4aa5-ada9-9bb2d8775d20.txn
  test_data/v0.16.0/wrong_data_version_no_fix.lance/_versions/1.manifest
  test_data/v0.16.0/wrong_data_version_no_fix.lance/_versions/2.manifest
  test_data/v0.16.0/wrong_data_version_no_fix.lance/data/2d3f6312-f9a4-4fd4-b8a8-6e80a36f083b.lance
  test_data/v0.16.0/wrong_data_version_no_fix.lance/data/4050abe6-aa7d-4d2d-8383-1d59e4ad8759.lance
  test_data/v0.16.0/wrong_data_version_no_fix.lance/data/518e8ab1-f105-4e72-a615-15e82f0c47bd.lance
  test_data/v0.16.0/wrong_data_version_no_fix.lance/data/693e4fef-9404-4166-8bd7-b44841f261fd.lance
Labels: bug, python

#2763 perf: calculate the max scores for posting lists then have a tighter upper bound
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: performance

#2751 feat: support phrase query for full text search
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance-index/src/scalar/lance_format.rs
Labels: enhancement

#2706 perf: stable row id prefilter
  rust/lance-core/src/utils/deletion.rs
  rust/lance-core/src/utils/mask.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/segment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/index/prefilter.rs
Labels: performance

#2783 perf: add prefetching to hnsw greedy_search
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/hnsw/builder.rs
Labels: performance

#2786 chore: remove global frequency of tokens and sort tokens lexicographically
  rust/lance-index/src/scalar/inverted/index.rs
Labels: chore

#2788 docs: fix #2748, "Merge Insert" doc error
  docs/read_and_write.rst
Labels: documentation

#2773 feat: make the # of CPU threads configurable and document cpu/memory patterns
  Cargo.toml
  docs/format.rst
  docs/index.rst
  docs/performance.rst
  python/Cargo.toml
  python/DEVELOPMENT.md
  python/src/dataset/optimize.rs
  rust/lance-core/Cargo.toml
  rust/lance-core/src/utils/tokio.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-file/Cargo.toml
  rust/lance-file/src/reader.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/Cargo.toml
  rust/lance-io/src/encodings/binary.rs
  rust/lance-io/src/encodings/plain.rs
  rust/lance-io/src/local.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-io/src/traits.rs
  rust/lance-linalg/Cargo.toml
  rust/lance/Cargo.toml
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/hash_joiner.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scan.rs
Labels: enhancement, python

#2784 chore: add utilities to LanceBuffer
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/benches/buffer.rs
  rust/lance-encoding/src/buffer.rs
Labels: chore

#2776 feat: stop writing `_latest.manifest`
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/io/commit/dynamodb.rs
  rust/lance/src/io/commit/external_manifest.rs
Labels: enhancement, breaking-change

#2791 feat: add logging to compaction
  rust/lance/src/dataset/optimize.rs
Labels: enhancement

#2794 fix: add not-linux version of benches to avoid bench compiler error on mac
  rust/lance-encoding/benches/buffer.rs
Labels: bug

#2552 refactor: build & search vector index with new indexer & IVF impl
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/pq/transform.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-index/src/vector/sq.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/builder.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
Labels: breaking-change

#2761 feat(python): account for both multi-process and distributed torch workers
  python/python/lance/torch/data.py
  python/python/lance/torch/dist.py
Labels: enhancement, python

#2796 feat: allow duckdb / polars pushdown to operate with non-substrait types in schema but not filter
  python/python/tests/test_integration.py
  rust/lance-datafusion/src/expr.rs
  rust/lance-datafusion/src/lib.rs
  rust/lance-datafusion/src/substrait.rs
  rust/lance-encoding-datafusion/src/substrait.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#2806 feat: add an environment variable LANCE_INITIAL_UPLOAD_SIZE
  rust/lance-io/src/object_writer.rs
Labels: enhancement

#2800 feat: extend python bindings for the v2 reader/writer
  python/Cargo.toml
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_file.py
  python/src/file.rs
Labels: enhancement, python

#2795 feat: provide param to control whether to build FTS index with positions
  python/python/lance/dataset.py
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/src/index.rs
  rust/lance/src/index/scalar.rs
Labels: enhancement, python

#2811 feat: allow creating fragments from v2 files, expose rewrite operation to python
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  python/src/fragment.rs
  python/src/lib.rs
  rust/lance-encoding/src/version.rs
  rust/lance-file/src/lib.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python

#2797 feat: use a considerably higher default for frag readahead in v2
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scan.rs
Labels: enhancement

#2762 fix: fix v2 error that can happen when writing list<struct<...>> with many empty lists
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
Labels: bug
