Repository lancedb/lance, pull requests merged in 2024-11, with the labels that each got.

#3064 feat: introduce concept of "storage class" wtih separate dataset for "blob" storage data
  protos/file.proto
  protos/file2.proto
  protos/table.proto
  protos/transaction.proto
  python/python/tests/test_blob.py
  python/python/tests/test_file.py
  python/src/fragment.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-core/src/error.rs
  rust/lance-core/src/lib.rs
  rust/lance-file/src/datatypes.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/blob.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/exec.rs
  rust/lance/src/io/exec/utils.rs
Labels: enhancement, python

#3076 chore: remove cardinality statistic gathering for fixed width data block
  rust/lance-encoding/src/statistics.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/src/dataset/transaction.rs
Labels: python, chore

#3082 feat: add max length statistics to VariableWidth Datablock
  rust/lance-encoding/src/statistics.rs
Labels: enhancement

#3087 perf: implement fast path for union many row id tree map
  rust/lance-core/src/utils/mask.rs
  rust/lance-index/src/scalar/bitmap.rs
Labels: performance

#3079 feat: add support for "take" operation to balanced storage
  python/python/tests/test_balanced.py
  python/python/tests/test_blob.py
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-core/src/utils/address.rs
  rust/lance-core/src/utils/futures.rs
  rust/lance-datafusion/src/projection.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/blob.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/index/vector/ivf/builder.rs
  rust/lance/src/index/vector/pq.rs
Labels: enhancement, python

#3090 feat: enable write variable width data in 2.1
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/statistics.rs
Labels: enhancement

#3089 ci(rust): faster CI jobs
  .github/workflows/rust.yml
  .gitignore
  Cargo.lock
  python/Cargo.lock
  rust/Cargo.lock
Labels: python, ci

#3088 feat: add compaction support to balanced datasets
  python/python/lance/dataset.py
  python/python/tests/test_balanced.py
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/update.rs
Labels: enhancement, python

#3095 ci(rust): pass `--locked` to builds
  .github/workflows/python.yml
  .github/workflows/rust.yml
  Cargo.lock
  java/lance-jni/Cargo.lock
  python/Cargo.lock
Labels: python, ci, java

#3074 chore: clear println in codebase
  integration/duckdb_lance/src/arrow.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-file/src/writer/statistics.rs
  rust/lance-index/src/vector/hnsw/builder.rs
Labels: chore

#3101 feat: align buffers in 2.1 files
  python/python/tests/test_blob.py
  python/python/tests/test_file.py
  rust/lance-core/src/utils/bit.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
Labels: enhancement, python

#3103 chore: various fixes to get the random data tests working on 2.1
  protos/encodings.proto
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-encoding/src/statistics.rs
  rust/lance-encoding/src/testing.rs
Labels: chore

#3041 feat: allow inserting subschemas
  python/python/tests/test_balanced.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  python/src/debug.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-file/src/reader.rs
  rust/lance-file/src/writer.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/exec/projection.rs
  rust/lance/src/io/exec/pushdown_scan.rs
Labels: enhancement, python

#3105 fix: fp16 GPU training
  python/python/lance/dataset.py
  python/python/lance/vector.py
  python/python/tests/test_vector_index.py
  rust/lance-index/src/vector/ivf/shuffler.rs
Labels: bug, python

#3083 chore: use LOG_ELEMS_PER_CHUNK to compute ELEMS_PER_CHUNK
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
Labels: chore

#3099 feat: support miniblock with binary data
  protos/encodings.proto
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/format.rs
Labels: enhancement

#3107 chore: fix miniblock selection logic error
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: chore

#3116 chore: lance-encoding test utility now properly aligns buffers
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/testing.rs
Labels: chore

#3120 perf: transpose the PQ codes to improve search performance
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
Labels: performance

#3114 feat: add full zip encoding for wide data types
  protos/encodings.proto
  rust/lance-core/src/utils/bit.rs
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/repdef.rs
Labels: enhancement

#3121 feat: fsst compression with mini-block
  protos/encodings.proto
  rust/lance-encoding/src/compression_algo/fsst/src/fsst.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/format.rs
Labels: enhancement

#3110 refactor: remove the queue in LanceArrowWriter to reduce memory usage for spark sink
  .github/workflows/java-publish.yml
  java/spark/pom.xml
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceArrowWriter.java
Labels: java

#3081 chore: remove used_coding as it is not used currently
  python/Cargo.lock
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
  rust/lance-encoding/src/encodings/physical/block_compress.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/encodings/physical/value.rs
Labels: python, chore

#3131 feat: start recording index details in the mainifest, cache index type lookup
  Cargo.lock
  protos/table.proto
  python/Cargo.lock
  python/src/dataset.rs
  rust/lance-encoding/src/compression_algo/fsst/examples/benchmark.rs
  rust/lance-index/src/scalar.rs
  rust/lance-table/build.rs
  rust/lance-table/src/format/index.rs
  rust/lance/Cargo.toml
  rust/lance/examples/full_text_search.rs
  rust/lance/examples/hnsw.rs
  rust/lance/examples/ivf_hnsw.rs
  rust/lance/examples/write_read_ds.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/index.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python

#3118 chore: cleanup decoder benches
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-file/src/v2/reader.rs
Labels: chore

#3119 feat!: allow passing down existing dataset for write
  Cargo.lock
  Cargo.toml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.lock
  python/Cargo.toml
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  python/src/fragment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/insert.rs
Labels: enhancement, python, performance, java, breaking-change

#3143 feat: make dataset version serializable
  rust/lance/src/dataset.rs
Labels: enhancement

#3144 feat: support 4bit PQ on new IVF_PQ
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement

#3117 perf: optimize reading transactions in commit loop
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/lib.rs
  rust/lance-core/src/cache.rs
  rust/lance-io/src/object_store.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/utils/test.rs
Labels: python, performance, java

#3151 fix: handle filter on empty partition
  rust/lance/src/index/vector/pq.rs
Labels: bug

#3142 feat: add `commit_batch` API
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/write/commit.rs
Labels: enhancement, python, java

#3152 fix: fix dynamodb drop table
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/dynamodb.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/io/commit/dynamodb.rs
Labels: bug

#3145 fix: full text search index broken after optimize_indices()
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/src/index.rs
Labels: bug

#3146 feat: allow async stream for writing and appending to a dataset
  Cargo.lock
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/fragment.rs
  rust/lance-core/src/error.rs
  rust/lance-datafusion/src/utils.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/fragment/write.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: enhancement, python, java

#3158 chore(rust): bump up dependencies
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/lance-core/src/cache.rs
  rust/lance/src/index/cache.rs
Labels: python, chore

#3134 feat: add dictionary encoding
  protos/encodings.proto
  rust/lance-core/src/utils.rs
  rust/lance-core/src/utils/hash.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/statistics.rs
Labels: enhancement

#3155 perf: improve constructing dist table
  rust/lance-index/benches/pq_dist_table.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/utils.rs
  rust/lance-linalg/src/distance/l2.rs
Labels: performance

#3162 feat: expose the table provider
  rust/lance/src/datafusion.rs
  rust/lance/src/datafusion/dataframe.rs
  rust/lance/src/utils/test.rs
Labels: enhancement

#3167 chore(python): set minimal pyarrow to 14.0
  python/pyproject.toml
Labels: python, chore

#3169 perf: improve dot distance computing
  rust/lance-index/benches/4bitpq_dist_table.rs
  rust/lance-index/src/vector/pq/distance.rs
Labels: performance

#3170 fix: fix performance regression introduced during reader refactor
  rust/lance-encoding/src/decoder.rs
Labels: bug

#3163 fix: panic if all docs are deleted in a posting list
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: bug, python

#3165 ci: add benchmark suite
  .github/workflows/ci-benchmarks.yml
  python/python/ci_benchmarks/__init__.py
  python/python/ci_benchmarks/benchmarks/test_random_access.py
  python/python/ci_benchmarks/benchmarks/test_scan.py
  python/python/ci_benchmarks/benchmarks/test_search.py
  python/python/ci_benchmarks/datagen/__init__.py
  python/python/ci_benchmarks/datagen/gen_all.py
  python/python/ci_benchmarks/datagen/lineitems.py
  python/python/ci_benchmarks/datasets.py
Labels: python, ci

#3126 chore: add expect_stat, expect_single_stat in GetStat trait
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
  rust/lance-encoding/src/statistics.rs
Labels: chore
