Repository lancedb/lance, pull requests merged in 2024-06, with the labels that each got.

#2419 chore: replace `self.uri.to_string()` with `self.uri.clone()`
  rust/lance/src/dataset.rs
Labels: chore

#2431 ci: bump GHA node version to 20
  .github/workflows/license-header-check.yml
  .github/workflows/pr-title.yml
Labels: ci

#2433 refactor: rename use_experimental_writer to use_legacy_format
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/ray/sink.py
  python/python/tests/test_dataset.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/updater.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/session/index_extension.rs
  rust/lance/src/utils/test.rs
Labels: python

#2435 feat: once a table has been created with v1 or v2 format then it should always use that format
  python/python/tests/test_dataset.py
  rust/lance-table/src/feature_flags.rs
  rust/lance-testing/src/datagen.rs
  rust/lance/src/dataset.rs
Labels: enhancement, python

#2439 chore(deps): upgrade parquet to 51.0 to same as arrow
  Cargo.toml
Labels: chore

#2438 fix: incorrect chunking was making lance datasets use too much RAM
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/chunker.rs
  rust/lance/src/dataset/write.rs
Labels: bug

#2440 chore: test to make sure `batch_size` would work as expected
  rust/lance-file/src/v2/reader.rs
Labels: chore

#2437 chore: chunked SQ storage
  python/src/utils.rs
  rust/lance-core/src/utils/mask.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/find_partitions.rs
  rust/lance-index/benches/sq.rs
  rust/lance-index/src/prefilter.rs
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq.rs
  rust/lance-index/src/vector/sq/builder.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/sq/transform.rs
  rust/lance-index/src/vector/v3/storage.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/hnsw.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/index/vector/sq.rs
  rust/lance/src/session/index_extension.rs
Labels: python, chore

#2418 feat: support IVF_FLAT index
  Cargo.toml
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/ivf/storage.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/v3.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-index/src/vector/v3/storage.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance/Cargo.toml
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement

#2446 refactor: move hnsw from lance crate to lance-index crate
  python/src/utils.rs
  rust/lance-index/benches/sq.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/hnsw/index.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/v3.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/hnsw/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/lib.rs
Labels: python

#2448 perf: speed up hnsw build
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/utils.rs
Labels: performance

#2445 feat: add support for arbitrary global buffers to the v2 reader/writer
  rust/lance-encoding/src/lib.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
Labels: enhancement

#2444 feat: add pushdown to the read path
  Cargo.toml
  protos/encodings.proto
  python/Cargo.toml
  python/src/file.rs
  rust/lance-datafusion/src/expr.rs
  rust/lance-encoding-datafusion/Cargo.toml
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/substrait.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/Cargo.toml
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement, python

#2441 feat: scan with stable row id
  docs/read_and_write.rst
  protos/table.proto
  python/python/lance/dataset.py
  rust/lance-arrow/src/lib.rs
  rust/lance-core/src/lib.rs
  rust/lance-core/src/utils/deletion.rs
  rust/lance-table/benches/row_id_index.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance-table/src/utils.rs
  rust/lance-table/src/utils/stream.rs
  rust/lance/src/datafusion/logical_plan.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement, python, rust, experimental

#2453 fix: lance.torch.LanceDataset spelt readahead wrong
  python/python/lance/torch/data.py
  python/python/tests/torch_tests/test_data.py
Labels: bug, python, PyTorch

#2450 perf: better L2 code generation
  rust/lance-linalg/src/distance/l2.rs
Labels: performance

#2459 feat: pickle the manifest when pickling a dataset
  python/python/lance/dataset.py
  python/src/dataset.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
Labels: enhancement, python

#2449 feat: store IVF in global buffer
  Cargo.toml
  rust/lance-index/Cargo.toml
  rust/lance-index/src/vector/storage.rs
  rust/lance/Cargo.toml
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement

#2456 docs: add spark-lance-connector readme
  java/spark/v3/README.md
  java/spark/v3/pom.xml
Labels: documentation, java

#2369 chore(java): enable lance-jni rust release
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/ffi.rs
  java/core/lance-jni/src/lib.rs
Labels: chore

#2460 fix: respect storage options on `create_index`
  python/python/lance/dataset.py
Labels: bug, python

#2464 fix: incorrect logic when decoding manifest from last block
  rust/lance/src/dataset.rs
Labels: bug

#2462 refactor: impl the sub index trait for HNSW and clean code
  python/src/schema.rs
  python/src/utils.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-index/benches/hnsw.rs
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/hnsw/index.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance/examples/hnsw.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
Labels: python

#2471 fix: correct with_new_children for knn flat
  rust/lance/src/io/exec/knn.rs
Labels: bug

#2473 feat: add arguments to allow resuming gpu indexing
  python/python/lance/dataset.py
  python/python/lance/vector.py
Labels: enhancement, python

#2472 feat: make IVF_HNSW_SQ work with dot distance
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-linalg/src/distance/dot.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/builder.rs
Labels: enhancement

#2477 docs: clip training example
  docs/examples/clip_training.rst
  docs/examples/examples.rst
Labels: documentation

#2406 feat(rust): add support for loongarch
  rust/lance-core/Cargo.toml
  rust/lance-core/src/utils/cpu.rs
  rust/lance-linalg/build.rs
  rust/lance-linalg/src/distance.rs
  rust/lance-linalg/src/distance/cosine.rs
  rust/lance-linalg/src/distance/dot.rs
  rust/lance-linalg/src/distance/l2.rs
  rust/lance-linalg/src/distance/norm_l2.rs
  rust/lance-linalg/src/lib.rs
  rust/lance-linalg/src/simd/f32.rs
  rust/lance-linalg/src/simd/i32.rs
Labels: enhancement

#2483 chore: implement with_new_children correctly for index nodes
  rust/lance/src/io/exec/knn.rs
Labels: chore

#2488 feat: added some additional logging to the indexing process
  rust/lance-index/src/vector/ivf/shuffler.rs
Labels: enhancement

#2487 fix: low recall if many partitions with only 1 row
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
Labels: bug

#2486 chore: replace the legacy numeric constants with new ones
  rust/lance-file/src/writer/statistics.rs
  rust/lance/src/io/exec/pushdown_scan.rs
Labels: chore

#2485 chore: remove unused distance type from HNSW
  rust/lance-index/src/vector/hnsw/builder.rs
Labels: chore

#2493 perf: don't write precomputed partitions to trace file
  rust/lance/src/index/vector/ivf/builder.rs
Labels: performance

#2426 feat: convert binary field encoding/decoding to array encoding/page decoding
  protos/encodings.proto
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
Labels: enhancement

#2495 chore: replace legacy constants with new ones
  rust/lance-linalg/src/kernels.rs
Labels: chore

#2447 feat: support stable row ids in Dataset::take_rows()
  rust/lance-table/src/utils/stream.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/take.rs
Labels: enhancement, rust, experimental

#2494 chore: remove unused code
  rust/lance-index/src/vector/pq/storage.rs
Labels: chore

#2489 docs: flickr8k_dataset_creation_example
  docs/examples/clip_training.rst
  docs/examples/examples.rst
  docs/examples/flickr8k_dataset_creation.rst
Labels: documentation

#2499 chore: make flat storage and hnsw build accept dot distance type
  python/src/utils.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
Labels: python, chore

#2506 docs(python): note multiprocessing incompatibility
  docs/integrations/pytorch.rst
  docs/integrations/tensorflow.rst
Labels: documentation

#2507 ci: fix pytorch CI failure in arm64 jobs
  .github/workflows/python.yml
Labels: ci

#2509 fix: dot distance so kmeans can converge
  Cargo.toml
  python/Cargo.toml
  rust/lance-linalg/src/distance/dot.rs
  rust/lance-linalg/src/kernels.rs
  rust/lance-linalg/src/kmeans.rs
Labels: bug, python, breaking-change

#2515 perf: use faster kmean find partition routing for pq assignment
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/pq_assignment.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/utils.rs
  rust/lance-linalg/src/kmeans.rs
Labels: performance

#2457 chore(java): enable separate java builds
  .github/workflows/java.yml
  java/core/lance-jni/src/fragment.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
Labels: java, chore

#2481 fix: allow row id only in v2
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
Labels: bug

#2522 feat: expose DatasetPreFilter, PreFilter, and FilterLoader to the public API
  rust/lance/src/index.rs
Labels: enhancement

#2521 feat: enhance binary array encoding, make it the default
  protos/encodings.proto
  protos/file2.proto
  protos/table.proto
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement

#2504 docs: artefact_management_doc
  docs/examples/artefact_management.rst
  docs/examples/examples.rst
Labels: documentation

#2510 chore: upgrade aws-config for aarch64-pc-windows support
  Cargo.toml
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/dynamodb.rs
Labels: chore

#2531 ci: fix stepWithCompactEncoding error on MacOS
  .github/workflows/rust.yml
Labels: ci

#2528 chore: reuse the scheduler during reading shuffled partitions
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
Labels: chore

#2527 perf: avoid allocating bitvec for each insertion while indexing HNSW
  rust/lance-index/src/vector/hnsw/builder.rs
Labels: performance

#2452 feat: stable row id support in queries
  .gitignore
  rust/lance-arrow/src/schema.rs
  rust/lance-core/src/utils/mask.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-table/src/feature_flags.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance-testing/src/datagen.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/session/index_extension.rs
Labels: enhancement, python, experimental

#2532 fix: return correct sub index statistics
  Cargo.toml
  python/Cargo.toml
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug, python, breaking-change

#2539 fix: pytorch dot inference pass unwanted parameters
  python/python/lance/torch/kmeans.py
  python/python/tests/test_kmeans.py
  python/python/tests/test_vector_index.py
Labels: bug, python

#2535 refactor: flat search to use datafusion top k
  python/python/tests/test_optimize.py
  python/python/tests/test_vector_index.py
  rust/lance-index/src/vector/flat.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec.rs
  rust/lance/src/io/exec/knn.rs
Labels: python

#2541 fix: show underlying cause of DynamoDB service error
  rust/lance-table/src/io/commit/dynamodb.rs
Labels: bug

#2534 feat: make it possible to create v2 fragments using the fragment API
  python/python/tests/test_fragment.py
  rust/lance/src/dataset/fragment/write.rs
Labels: enhancement, python

#2523 chore: disable pprof on non-Linux targets
  rust/lance-index/Cargo.toml
  rust/lance-io/Cargo.toml
Labels: chore
