Repository lancedb/lance, pull requests merged in 2024-05, with the labels that each got.

#2276 docs: document LANCE_BYPASS_SPILLING environment variable
  python/python/lance/dataset.py
Labels: documentation

#2277 fix: don't use pushdown scan if a custom batch size has been set
  rust/lance/src/dataset/scanner.rs
Labels: bug

#2281 chore: `half` dependency unpin and bump
  Cargo.toml
Labels: chore

#2282 ci: make sure the tests run if only the root cargo file is updated
  .github/workflows/rust.yml
Labels: ci

#2273 ci: setup release process for preview releases
  .github/workflows/cargo-publish.yml
  .github/workflows/make-release-commit.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/upload_wheel/action.yml
  README.md
  ci/setup_version.py
  docs/index.rst
  python/Cargo.toml
  release_process.md
Labels: ci

#2262 feat: don't load all list items before returning a batch
  python/src/file.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-io/src/object_reader.rs
Labels: enhancement

#2284 chore: remove misleading comment
  rust/lance-encoding/src/encodings/logical/list.rs
Labels: chore

#2283 ci: fix type in release commit job
  .github/workflows/make-release-commit.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/upload_wheel/action.yml
  Cargo.toml
  ci/setup_version.py
Labels: ci

#2286 chore: expose some internal graph index apis
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/graph/builder.rs
  rust/lance-index/src/vector/graph/storage.rs
  rust/lance-index/src/vector/hnsw.rs
Labels: chore

#2266 feat(java): support dataset/fragment scan with string filter, columns filter
  .github/workflows/java.yml
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/blocking_scanner.rs
  java/core/lance-jni/src/ffi.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/lib.rs
  java/core/lance-jni/src/utils.rs
  java/core/pom.xml
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/DatasetFragment.java
  java/core/src/main/java/com/lancedb/lance/Utils.java
  java/core/src/main/java/com/lancedb/lance/ipc/FragmentScanner.java
  java/core/src/main/java/com/lancedb/lance/ipc/LanceScanner.java
  java/core/src/main/java/com/lancedb/lance/ipc/ScanOptions.java
  java/core/src/main/java/com/lancedb/lance/test/JniTestHelper.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/JNITest.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/pom.xml
Labels: enhancement

#2289 feat: support storage options in write fragments
  python/python/lance/fragment.py
Labels: enhancement

#2288 chore: simplify the datagen API
  rust/lance-datagen/benches/array_gen.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-table/src/utils/stream.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/exec/utils.rs
Labels: chore

#2292 chore: remove pq width from ivf shuffler
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/builder.rs
Labels: chore

#2293 feat: ray sink takes storage options parameter
  python/python/lance/ray/sink.py
Labels: enhancement

#2294 feat(python): support auto conversion between fixed size int array to pytorch tensor
  python/python/lance/torch/data.py
  python/python/tests/torch_tests/test_data.py
Labels: enhancement

#2290 perf: re-enable late materialization on full scans
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/utils/test.rs
Labels: performance

#2295 feat: add experimental limit variables for GCS
  rust/lance-io/src/object_store/gcs_wrapper.rs
Labels: enhancement

#2297 feat: add support for large string & large binary to the v2 encoder & decoder
  python/python/tests/test_file.py
  rust/lance-datagen/benches/array_gen.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-index/src/scalar/lance_format.rs
Labels: enhancement

#2291 fix: fix some corner cases that can arise in v2 list encoding
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
Labels: bug

#2298 fix: flush after writing pages so that we don't yield to the user with in-progress writes
  rust/lance-file/src/v2/writer.rs
Labels: bug

#2300 chore: remove unused async in kmeans code
  rust/lance-linalg/src/kmeans.rs
  rust/lance-linalg/src/lib.rs
Labels: chore

#2110 feat: hamming distance
  protos/index.proto
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-linalg/Cargo.toml
  rust/lance-linalg/benches/hamming.rs
  rust/lance-linalg/src/distance.rs
  rust/lance-linalg/src/distance/hamming.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/index/vector/ivf.rs
Labels: enhancement, vector

#2302 fix: fix a panic that could happen when scanning only the row id from fragment with deleted rows
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/fragment.rs
Labels: bug

#2305 ci: fix bug in upload wheel
  .github/workflows/upload_wheel/action.yml
Labels: ci

#2306 ci: fix target dir for fury upload
  .github/workflows/upload_wheel/action.yml
Labels: ci

#2301 docs: update quickstart doc for supporting IVF_HNSW_*
  notebooks/quickstart.ipynb
  python/python/lance/dataset.py
Labels: documentation

#2296 feat: add projection support to the v2 format
  Cargo.toml
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_file.py
  python/src/file.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/Cargo.toml
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance/src/dataset/fragment.rs
Labels: enhancement

#2314 fix: relax 'take out of bounds' check which could cause failure if flat searching deleted rows
  python/python/tests/test_dataset.py
  rust/lance-file/src/reader.rs
  rust/lance-io/src/lib.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
Labels: bug

#2320 chore: remove type restriction from ArrowFloatType over distance traits
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/ivf/transformer.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/utils.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-linalg/benches/cosine.rs
  rust/lance-linalg/benches/dot.rs
  rust/lance-linalg/benches/l2.rs
  rust/lance-linalg/src/distance.rs
  rust/lance-linalg/src/distance/cosine.rs
  rust/lance-linalg/src/distance/dot.rs
  rust/lance-linalg/src/distance/l2.rs
  rust/lance-linalg/src/distance/norm_l2.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/index/vector/ivf.rs
Labels: chore

#2321 chore: simplify kmeans
  python/src/utils.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-linalg/src/distance/norm_l2.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/index/vector/ivf.rs
Labels: chore

#2322 chore!: remove opq related code
  python/python/lance/dataset.py
  python/src/dataset.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-linalg/src/matrix.rs
  rust/lance/benches/ivf_pq.rs
  rust/lance/benches/vector_index.rs
  rust/lance/src/arrow.rs
  rust/lance/src/arrow/svd.rs
  rust/lance/src/bin/lq.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/hnsw.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/io/commit.rs
Labels: chore, breaking-change

#2311 feat: add v2 support to fragment merge / update paths
  rust/lance-core/src/utils/deletion.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/updater.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/io/exec/pushdown_scan.rs
Labels: enhancement

#2310 chore: add HNSW stats
  rust/lance-index/src/vector/graph/builder.rs
  rust/lance-index/src/vector/hnsw.rs
Labels: chore

#2326 refactor: simplify kmeans and clustering API, prepare for kmode
  Cargo.toml
  python/src/utils.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-linalg/Cargo.toml
  rust/lance-linalg/benches/kmeans.rs
  rust/lance-linalg/src/clustering.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance-linalg/src/lib.rs
Labels: chore

#2324 ci: breaking change policy
  .github/workflows/pr-title.yml
  ci/check_versions.py
  release_process.md
Labels: ci

#2315 feat: add priority to I/O scheduler
  Cargo.toml
  python/src/file.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/io.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-io/Cargo.toml
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/lib.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-io/src/testing.rs
  rust/lance/src/dataset/fragment.rs
Labels: enhancement

#2332 chore: bump version to 0.11 to reflect breaking changes
  .github/workflows/pr-title.yml
  Cargo.toml
  python/Cargo.toml
Labels: chore

#2334 test: benchmark the index merge performance
  python/python/benchmarks/test_index.py
Labels: benchmark, chore

#2330 perf: use the file metadata cache in scalar indices
  rust/lance-core/src/cache.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset/index.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/scalar.rs
Labels: performance

#2331 feat: add take_rows operation to the v2 file reader's python bindings
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_file.py
  python/src/file.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement

#2327 ci: run arm64 runner on wrapbuild
  .github/workflows/python.yml
  .github/workflows/rust.yml
  java/core/lance-jni/src/ffi.rs
Labels: ci

#2339 ci: bump nodejs version in github actions
  .github/workflows/build_mac_wheel/action.yml
  .github/workflows/build_windows_wheel/action.yml
  .github/workflows/python.yml
Labels: ci

#2343 chore: use rayon in pq transform and remove async calls
  rust/lance-index/Cargo.toml
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/transform.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/dataset/index.rs
  rust/lance/src/index/vector/pq.rs
Labels: chore

#2346 docs: clearify comments in table.proto -> message DataFragment -> physical_rows
  protos/table.proto
Labels: documentation

#2349 feat: added example for reading and writing dataset in rust
  docs/examples/examples.rst
  docs/examples/write_read_dataset.rst
  rust/lance/examples/write_read_ds.rs
Labels: enhancement

#2350 chore: consolidate compute partition implementation and remove async fn
  rust/lance-index/benches/find_partitions.rs
  rust/lance-index/src/vector/bq.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-linalg/benches/compute_partition.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/index/vector/pq.rs
Labels: chore

#2351 chore: remove async transform and use rayon instead
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/pq/transform.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-index/src/vector/transform.rs
  rust/lance/src/index/vector/ivf.rs
Labels: chore

#2352 chore: make Ivf not be restricted by arrow float type
  rust/lance-index/benches/find_partitions.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-linalg/benches/compute_partition.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/builder.rs
  rust/lance/src/index/vector/pq.rs
Labels: chore

#2356 fix: recognize a simple expression like 'is_foo' as a scalar index query
  rust/lance-index/src/scalar/expression.rs
Labels: bug

#2353 feat: new HNSW implementation
  Cargo.toml
  python/src/utils.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/hnsw.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/graph/builder.rs
  rust/lance-index/src/vector/graph/memory.rs
  rust/lance-index/src/vector/graph/storage.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance/examples/hnsw.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/hnsw.rs
  rust/lance/src/index/vector/hnsw/builder.rs
  rust/lance/src/index/vector/ivf.rs
Labels: enhancement

#2344 fix: rework list encoder to handle list-struct
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
Labels: bug

#2325 chore(java): refactor error handling
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/blocking_scanner.rs
  java/core/lance-jni/src/error.rs
  java/core/lance-jni/src/ffi.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/lib.rs
  java/core/lance-jni/src/traits.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/DatasetFragment.java
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/FragmentMetadata.java
  java/core/src/main/java/com/lancedb/lance/FragmentOperation.java
  java/core/src/main/java/com/lancedb/lance/LockManager.java
  java/core/src/main/java/com/lancedb/lance/ipc/LanceScanner.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
Labels: chore

#2354 feat: add fragment take / fixed-size-binary support to v2 format
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-io/src/lib.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/session/index_extension.rs
  rust/lance/src/utils/test.rs
Labels: enhancement

#2361 fix: minor bug fixes for v2
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
Labels: bug

#2364 chore: make kmeans not generic, to support more algorithms later
  python/src/utils.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-linalg/benches/kmeans.rs
  rust/lance-linalg/src/kmeans.rs
Labels: chore

#2360 chore: replace Vec<bool> with bitvec
  Cargo.toml
  rust/lance-index/Cargo.toml
  rust/lance-index/src/vector/graph.rs
Labels: chore

#2355 perf: make VectorStorage and DistCalculator static to generate better code
  rust/lance-index/benches/hnsw.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/graph/memory.rs
  rust/lance-index/src/vector/graph/storage.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/hnsw.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/index/vector/traits.rs
  rust/lance/src/session/index_extension.rs
Labels: performance

#2358 chore: fix passing wrong prefetch hint
  rust/lance-index/src/vector/sq/storage.rs
Labels: chore

#2359 chore: remove unnecessary arc
  rust/lance-index/benches/hnsw.rs
  rust/lance-index/src/vector/graph/memory.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance/examples/hnsw.rs
  rust/lance/src/index/vector/hnsw/builder.rs
Labels: chore

#2362 feat(java): support jdk8
  .github/workflows/java.yml
  java/core/lance-jni/src/ffi.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/DatasetFragment.java
  java/core/src/main/java/com/lancedb/lance/Utils.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/JNITest.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/pom.xml
Labels: enhancement

#2366 feat: support kmode with hamming distance
  Cargo.toml
  rust/lance-linalg/Cargo.toml
  rust/lance-linalg/src/kmeans.rs
Labels: enhancement

#2370 chore(java): bump java version to 0.11.0-snapshot
  java/core/pom.xml
  java/pom.xml
Labels: chore

#2303 feat: row id index structures (experimental)
  Cargo.toml
  protos/rowids.proto
  rust/lance-core/src/utils/address.rs
  rust/lance-table/Cargo.toml
  rust/lance-table/benches/row_id_index.rs
  rust/lance-table/build.rs
  rust/lance-table/src/lib.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/bitmap.rs
  rust/lance-table/src/rowids/encoded_array.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance-table/src/rowids/segment.rs
  rust/lance-table/src/rowids/serde.rs
Labels: enhancement, experimental

#2357 feat: update merge_insert to add statistics for inserted, updated, deleted rows
  benchmarks/dbpedia-openai/benchmarks.py
  benchmarks/flat/benchmark.py
  benchmarks/full_report/_lib.py
  benchmarks/sift/index.py
  benchmarks/tpch/benchmark.py
  docs/conf.py
  docs/examples/gcs_example.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/write/merge_insert.rs
  test_data/v0.10.5/datagen.py
Labels: enhancement

#2380 feat: define Flat index as a scan over VectorStorage
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/graph/memory.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/v3.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-index/src/vector/v3/storage.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance/src/index/vector/hnsw.rs
Labels: enhancement

#2384 fix: concat batches before writing to avoid small IO slow down
  rust/lance-index/src/vector/ivf/shuffler.rs
Labels: bug

#2386 fix: low recall if the num partitions is more than num rows
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
Labels: bug

#2389 feat: add some schema utility methods to the v2 reader/writer
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
Labels: enhancement

#2368 feat: general compression for value page buffer
  Cargo.toml
  protos/encodings.proto
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/buffers.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement

#2381 feat: make the index cache size (in bytes) available
  Cargo.toml
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_session.py
  python/src/dataset.rs
  python/src/lib.rs
  python/src/session.rs
  rust/lance-core/Cargo.toml
  rust/lance-core/src/cache.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-core/src/utils/deletion.rs
  rust/lance-file/Cargo.toml
  rust/lance-file/src/format/metadata.rs
  rust/lance-file/src/page_table.rs
  rust/lance-file/src/reader.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/lib.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/graph/builder.rs
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf/storage.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-io/Cargo.toml
  rust/lance-io/src/local.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/traits.rs
  rust/lance-linalg/Cargo.toml
  rust/lance-linalg/src/distance.rs
  rust/lance-table/Cargo.toml
  rust/lance-table/src/format/index.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/hnsw.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/session.rs
  rust/lance/src/session/index_extension.rs
Labels: enhancement

#2390 chore: expose exec node internal APIs
  rust/lance/src/io.rs
  rust/lance/src/io/exec.rs
Labels: chore

#2385 fix: f32 reduce_min for x86
  rust/lance-linalg/src/simd/f32.rs
Labels: bug

#2388 feat: add encoder utilities for pushdown
  Cargo.toml
  protos/encodings-df.proto
  python/src/file.rs
  rust/lance-encoding-datafusion/Cargo.toml
  rust/lance-encoding-datafusion/README.md
  rust/lance-encoding-datafusion/build.rs
  rust/lance-encoding-datafusion/protos
  rust/lance-encoding-datafusion/src/format.rs
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/writer.rs
Labels: enhancement

#2408 fix: fix incorrect validation logic in updater
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/updater.rs
Labels: bug

#2396 perf: optimize IO path for reading manifest
  docs/format.rst
  rust/lance-file/src/page_table.rs
  rust/lance-io/src/encodings/binary.rs
  rust/lance-io/src/encodings/dictionary.rs
  rust/lance-io/src/encodings/plain.rs
  rust/lance-io/src/local.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-io/src/traits.rs
  rust/lance-io/src/utils.rs
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/utils/test.rs
Labels: performance

#2413 fix: fix file writer which was not writing page buffers in the correct order
  python/python/tests/test_file.py
  rust/lance-file/src/v2/writer.rs
Labels: bug

#2404 feat: new shuffler
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/src/vector/v3/shuffler.rs
Labels: enhancement

#2401 feat: new index builder
  rust/lance-index/benches/hnsw.rs
  rust/lance-index/src/vector/flat.rs
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/graph/memory.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/utils.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-index/src/vector/v3/storage.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance/examples/hnsw.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/hnsw/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/utils.rs
Labels: enhancement

#2416 feat: change dataset uri to return full qualified url instead of object store path
  Cargo.toml
  python/Cargo.toml
  python/src/fragment.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-io/src/object_store.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/write.rs
Labels: enhancement, breaking-change

#2425 chore: expose dataset field on TakeExec
  rust/lance/src/io/exec/take.rs
Labels: chore

#2363 feat: stable row id manifest changes
  docs/format.rst
  protos/rowids.proto
  protos/table.proto
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  rust/lance-table/src/feature_flags.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/lib.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/bitmap.rs
  rust/lance-table/src/rowids/encoded_array.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance-table/src/rowids/segment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/feature_flags.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, experimental

#2424 ci: label java and python PRs
  .github/labeler.yml
Labels: ci
