Repository lancedb/lance, pull requests merged in 2024-07, with the labels that each got.

#2547 fix: propagate storage_options to LanceFragment.create and LanceDataset.commit
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/src/dataset.rs
  rust/lance/src/dataset/fragment/write.rs
Labels: bug, python

#2382 ci: prep for java release
  java/pom.xml
Labels: enhancement, ci

#2409 feat: add dictionary encoding to lance
  protos/encodings.proto
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/utils.rs
Labels: enhancement

#2553 feat: create standalone IVF training API in python
  python/python/benchmarks/test_index.py
  python/python/lance/dataset.py
  python/python/lance/indices.py
  python/python/lance/lance/indices/__init__.pyi
  python/python/lance/vector.py
  python/python/tests/test_indices.py
  python/src/indices.rs
  python/src/lib.rs
  rust/lance/src/index/vector/ivf.rs
Labels: enhancement, python

#2501 feat: support u8 for existing distance types
  rust/lance-linalg/benches/norm_l2.rs
  rust/lance-linalg/src/distance/cosine.rs
  rust/lance-linalg/src/distance/hamming.rs
  rust/lance-linalg/src/distance/l2.rs
  rust/lance-linalg/src/distance/norm_l2.rs
  rust/lance-testing/src/datagen.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
Labels: enhancement

#2496 feat: reserve cores for IO
  rust/lance-core/Cargo.toml
  rust/lance-core/src/utils/tokio.rs
Labels: enhancement, rust

#2545 ci: cargo check on various platforms
  .github/workflows/rust.yml
  rust/lance-linalg/build.rs
Labels: ci

#2558 feat: allow users to create a file writer without a schema
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_file.py
  python/src/file.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/src/dataset/fragment/write.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/index/vector/builder.rs
Labels: enhancement, python

#2564 fix: propagate shuffle_partition_concurrency from Python SDK
  python/src/dataset.rs
Labels: bug, python

#2559 fix: avoid multiple threads loading same index partition
  python/python/tests/test_vector_index.py
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/utils.rs
Labels: bug, python

#2565 fix: failed to return index stats if the first partition is empty
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#2568 fix: propagate storage_options to create_index for reading precomputed partition file
  python/python/lance/dataset.py
  python/src/dataset.rs
  rust/lance-index/src/vector/ivf/builder.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance/src/index/vector/ivf.rs
Labels: bug, python

#2570 chore: skip tensorflow tests
  python/python/tests/test_tf.py
Labels: python, chore

#2526 feat: add inverted index
  Cargo.toml
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/inverted.rs
Labels: enhancement

#2573 feat(python): expose fast search flag in python
  python/python/lance/dataset.py
  python/src/dataset.rs
Labels: enhancement, python

#2555 feat: use hyperloglog for cardinality estimation for dictionary encoding
  Cargo.toml
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/encoder.rs
Labels: enhancement

#2560 feat: add scalar bitmap index to lance
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/lance_format.rs
Labels: enhancement

#2562 feat: add a standalone method for calculating the PQ model
  python/python/lance/indices.py
  python/python/lance/lance/indices/__init__.pyi
  python/python/tests/test_indices.py
  python/src/indices.rs
  rust/lance/src/index/vector/pq.rs
Labels: enhancement, python

#2575 feat: integrate bitmap index into top-level lance APIs
  python/python/benchmarks/test_search.py
  python/python/lance/dataset.py
  python/src/dataset.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance/src/index.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/index/scalar.rs
Labels: enhancement, python

#2569 feat: support to set ef for search from python
  python/python/lance/dataset.py
  python/src/dataset.rs
Labels: enhancement, python

#2567 chore: bump aws package versions
  Cargo.toml
Labels: chore

#2579 feat: dataset update accepts binary value
  python/python/tests/test_dataset.py
  rust/lance/src/io/exec/planner.rs
Labels: enhancement, python

#2580 fix: add support for list fields with names other than 'item'
  python/python/tests/test_file.py
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
Labels: bug, python

#2578 fix: propagate storage_options to v2 writer
  rust/lance/src/dataset/fragment/write.rs
Labels: bug

#2582 fix: be compatible with v1 index format
  rust/lance-index/src/vector/ivf/storage.rs
Labels: bug

#2583 feat: do flat search if too many rows are filtered out
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/hnsw/builder.rs
Labels: enhancement

#2581 feat: add label list index
  python/python/benchmarks/test_search.py
  python/python/lance/dataset.py
  python/src/dataset.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/index.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/io/exec/scalar_index.rs
Labels: enhancement, python

#2587 perf: change scalar index to return RowIdTreeMap instead of u64 array
  rust/lance-core/src/utils/mask.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
Labels: performance

#2586 feat: allow passing in precomputed centroids to lance.util.KMeans
  python/python/lance/util.py
  python/python/tests/test_kmeans.py
  python/src/utils.rs
Labels: enhancement, python

#2556 feat: add standalone partition assignment operation
  python/python/benchmarks/test_index.py
  python/python/lance/indices.py
  python/python/lance/vector.py
  python/python/tests/test_indices.py
Labels: enhancement, python

#2584 fix: search panic with prefilter and HNSW
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#2591 feat: add fast search to `to_table` method
  python/python/lance/dataset.py
Labels: enhancement, python

#2592 fix: avoid making empty range requests as these will err on S3
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/testing.rs
Labels: bug

#2588 chore: tracing the query path
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: chore

#2574 perf: improve inverted index performance
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/scalar/inverted.rs
Labels: performance

#2516 ci(java): build JNI release package
  .github/workflows/java-publish.yml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
Labels: python, ci, java

#2597 feat: loosen pyarrow pin
  python/pyproject.toml
Labels: enhancement, python

#2594 feat: upgrade DataFusion, Arrow, PyO3, ObjectStore
  Cargo.toml
  ci/check_versions.py
  python/Cargo.toml
  python/python/lance/cleanup.py
  python/python/lance/progress.py
  python/python/tests/helper.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  python/src/fragment.rs
  python/src/lib.rs
  python/src/utils.rs
  rust/lance-core/src/utils/mask.rs
  rust/lance-core/src/utils/testing.rs
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/expr.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding-datafusion/Cargo.toml
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-file/src/writer.rs
  rust/lance-file/src/writer/statistics.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/gcs_wrapper.rs
  rust/lance-io/src/object_store/tracing.rs
  rust/lance-io/src/object_writer.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-io/src/testing.rs
  rust/lance-io/src/utils.rs
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/datafusion/logical_expr.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/fragment/write.rs
  rust/lance/src/dataset/progress.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/optimizer.rs
  rust/lance/src/io/exec/planner.rs
  rust/lance/src/io/exec/projection.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/io/exec/testing.rs
  rust/lance/src/io/exec/utils.rs
  rust/lance/src/utils/test.rs
  rust/lance/src/utils/tfrecord.rs
Labels: enhancement, python, breaking-change

#2604 perf: improve v2 scan performance
  python/src/file.rs
  rust/lance-core/src/utils/tokio.rs
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
Labels: python, performance

#2470 feat: add FSST string compression
  Cargo.toml
  protos/encodings.proto
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/compression-algo/fsst/Cargo.toml
  rust/lance-encoding/compression-algo/fsst/README.md
  rust/lance-encoding/compression-algo/fsst/examples/benchmark.rs
  rust/lance-encoding/compression-algo/fsst/src/fsst.rs
  rust/lance-encoding/compression-algo/fsst/src/lib.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement

#2607 feat!: remove deprecated methods on dataset
  rust/lance/src/dataset.rs
Labels: enhancement, chore, breaking-change

#2616 fix: upgrade AWS SDK
  Cargo.toml
Labels: bug

#2622 refactor: move planner.rs, logical_expr.rs, and sql.rs from lance to lance_datafusion
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/lib.rs
  rust/lance-datafusion/src/logical_expr.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/sql.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance/src/datafusion.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec.rs
  rust/lance/src/io/exec/optimizer.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/utils.rs
Labels: python

#2624 fix: specify behavior version when creating dynamodb config
  rust/lance-table/src/io/commit.rs
  rust/lance/src/io/commit/dynamodb.rs
Labels: bug

#2577 feat: integrate inverted index into lance index APIs
  python/python/lance/dataset.py
  python/python/lance/vector.py
  python/python/tests/test_scalar_index.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-encoding/compression-algo/fsst/examples/benchmark.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/prefilter.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/Cargo.toml
  rust/lance/examples/full_text_search.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/io/exec.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/utils.rs
Labels: enhancement, python

#2623 feat: add projection to take and take_rows
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/lib.rs
  rust/lance-datafusion/src/projection.rs
  rust/lance/examples/ivf_hnsw.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement, python

#2619 feat: add storage_options to _BaseLanceDatasink, LanceDatasink, LanceCommitter
  .github/workflows/python.yml
  python/python/lance/ray/sink.py
  python/python/tests/test_s3_ddb.py
  python/src/dataset.rs
Labels: enhancement, python

#2333 feat: add bitpack encoding for LanceV2
  protos/encodings.proto
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/basic.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/buffers.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/Cargo.toml
  rust/lance-file/src/v2/reader.rs
  rust/lance-testing/src/lib.rs
  rust/lance-testing/src/util.rs
Labels: enhancement

#2631 perf: allow fragment scan for nearest query if there is a prefilter
  rust/lance/src/dataset/scanner.rs
Labels: performance

#2593 feat: add a packed struct encoding to lance
  protos/encodings.proto
  python/python/benchmarks/test_packed_struct.py
  rust/lance-encoding-datafusion/src/lib.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/dictionary.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/encodings/utils.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement, python, rust

#2638 chore: add tests for ann fragment scan validation
  python/python/tests/test_vector_index.py
Labels: python, chore

#2626 perf: speed up fsst decompression
  rust/lance-encoding/compression-algo/fsst/examples/benchmark.rs
  rust/lance-encoding/compression-algo/fsst/src/fsst.rs
Labels: performance

#2637 fix: pin numpy version to avoid numpy >= 2.0 until pyarrow supports it
  python/pyproject.toml
Labels: bug, python

#2632 perf: skip documents with WAND
  rust/lance-index/src/prefilter.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance/src/index/prefilter.rs
Labels: performance

#2609 feat: support deletion with stable row id and scalar indices
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec.rs
  rust/lance/src/io/exec/rowids.rs
Labels: enhancement

#2566 feat: standalone vector transform stage
  python/python/benchmarks/test_index.py
  python/python/lance/indices.py
  python/python/lance/lance/indices/__init__.pyi
  python/python/tests/test_indices.py
  python/src/indices.rs
  rust/lance-encoding/src/testing.rs
  rust/lance/src/index/vector/ivf/builder.rs
Labels: enhancement, python

#2647 perf: add v2 fragment file metadata to the FileMetadataCache
  rust/lance-file/src/v2/reader.rs
  rust/lance/src/dataset/fragment.rs
Labels: performance

#2652 chore: fix broken windows test
  python/src/file.rs
  python/src/indices.rs
Labels: python, chore

#2655 chore: upgrade arrow-rs to 52.2
  Cargo.toml
  python/Cargo.toml
  rust/lance-index/src/scalar/btree.rs
Labels: python, chore

#2654 perf: add random take benchmark
  rust/lance/Cargo.toml
  rust/lance/benches/take.rs
  rust/lance/src/dataset.rs
Labels: performance

#2653 fix: correctly encode a list<string> type when all items are empty
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
Labels: bug

#2636 feat: coalesce scheduling of reads to speed up random access
  python/python/benchmarks/test_random_access.py
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-io/src/scheduler.rs
Labels: enhancement, python, rust

#2658 chore: fix cargo clippy warning in encoding crate
  rust/lance-encoding/src/buffer.rs
  rust/lance/benches/take.rs
Labels: chore

#2482 feat: add version tags
  Cargo.toml
  benchmarks/sift/perf.py
  python/Cargo.toml
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-core/src/error.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/refs.rs
  rust/lance/src/dataset/schema_evolution.rs
Labels: enhancement, python

#2513 feat: object store registry for custom object store providers
  java/core/lance-jni/src/blocking_dataset.rs
  python/src/dataset.rs
  rust/lance-io/src/object_store.rs
  rust/lance-table/src/io/commit.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/fragment/write.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/io.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python, java

#2659 chore: upgrade object_store to 0.10.2 because security alert
  Cargo.toml
Labels: chore

#2644 fix: improve error message when can't train PQ on too small dataset
  rust/lance/src/index.rs
  rust/lance/src/index/vector/pq.rs
Labels: bug

#1911 docs: schema evolution
  docs/read_and_write.rst
  python/python/lance/dataset.py
  rust/lance/src/dataset.rs
Labels: documentation, python

#2639 feat: merge_insert update subcolumns
  protos/table.proto
  python/python/tests/test_dataset.py
  rust/lance-arrow/src/lib.rs
  rust/lance-datafusion/src/dataframe.rs
  rust/lance-datafusion/src/exec.rs
  rust/lance/src/datafusion/dataframe.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python

#2641 chore: remove unused feature flags and fixed some clippy warnings by rust 1.80
  rust/lance-core/src/utils/mask.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-linalg/src/simd/f32.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/dynamodb.rs
Labels: python, chore

#2665 docs: fix clippy issues and contributor guide updates
  README.md
  docs/contributing.rst
  python/.cargo/config.toml
  python/DEVELOPMENT.md
  python/Makefile
  rust/lance-encoding/benches/decoder.rs
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance/DEVELOPMENT.md
  rust/lance/benches/take.rs
Labels: documentation, python, chore

#2664 feat!: simplify take row api
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/take.rs
Labels: enhancement, python, breaking-change

#2667 chore: fix kernel_suppport clippy warnings
  rust/lance-linalg/build.rs
  rust/lance-linalg/src/distance/cosine.rs
  rust/lance-linalg/src/distance/l2.rs
  rust/lance-linalg/src/distance/norm_l2.rs
Labels: chore

#2669 ci: increase gap for moment
  python/python/tests/test_dataset.py
Labels: python, ci
