Repository lancedb/lance, pull requests merged in 2024-12, with the labels that each got.

#3183 feat: support write multi fragments or empty fragment in one spark task
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/FragmentMetadata.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/core/src/test/java/com/lancedb/lance/TestVectorDataset.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceDataWriter.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/SparkWriteTest.java
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/fragment/write.rs
Labels: enhancement, java

#3189 fix: full text search may produce dup results when search over multiple columns
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
Labels: bug

#3171 fix: fix typing for _write_fragment
  python/python/lance/ray/sink.py
Labels: bug, python

#3156 fix: fix storage options for dataset builder
  python/python/tests/test_s3_ddb.py
  rust/lance/src/dataset/fragment/write.rs
Labels: bug, python

#3197 chore: add .java-version to .gitignore for java module
  java/.gitignore
Labels: java, chore

#3184 feat: add drop to dataset
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceCatalog.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/SparkWriteTest.java
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/python/tests/test_s3_ddb.py
  python/src/dataset.rs
Labels: enhancement, python, java

#3164 fix: fix storage options for ray
  python/python/lance/dataset.py
  python/python/tests/test_s3_ddb.py
Labels: bug, python

#3202 chore: fix warnings on rust 1.83
  rust/lance-arrow/src/bfloat16.rs
  rust/lance-core/src/utils/bit.rs
  rust/lance-core/src/utils/deletion.rs
  rust/lance-core/src/utils/futures.rs
  rust/lance-core/src/utils/hash.rs
  rust/lance-core/src/utils/testing.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical/bitpack_fastlanes.rs
  rust/lance-file/src/writer/statistics.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-io/src/encodings/binary.rs
  rust/lance-io/src/encodings/dictionary.rs
  rust/lance-io/src/encodings/plain.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-io/src/utils.rs
  rust/lance-linalg/src/simd.rs
  rust/lance-linalg/src/simd/f32.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/bitmap.rs
  rust/lance/src/dataset/optimize/remapping.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/io/exec/scalar_index.rs
Labels: chore

#3201 feat: upgrade arrow (to 53) & datafusion (to 42)
  .github/workflows/java.yml
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/src/arrow.rs
  python/src/datagen.rs
  python/src/dataset.rs
  python/src/dataset/commit.rs
  python/src/dataset/optimize.rs
  python/src/debug.rs
  python/src/file.rs
  python/src/fragment.rs
  python/src/indices.rs
  python/src/lib.rs
  python/src/schema.rs
  python/src/tracing.rs
  rust/lance-arrow/Cargo.toml
  rust/lance-arrow/src/deepcopy.rs
  rust/lance-arrow/src/lib.rs
  rust/lance-core/src/error.rs
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/substrait.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-io/src/encodings/binary.rs
  rust/lance-io/src/encodings/plain.rs
  rust/lance-linalg/src/simd.rs
  rust/lance/Cargo.toml
  rust/lance/src/datafusion/logical_plan.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/utils/tfrecord.rs
Labels: enhancement, python

#3178 perf: in-register lookup table & SIMD for 4bit PQ
  python/Cargo.lock
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-linalg/src/simd.rs
  rust/lance-linalg/src/simd/u8.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: python, performance

#3200 feat: enhance repdef utilities to handle empty / null lists
  protos/encodings.proto
  python/Cargo.lock
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement, python

#3211 fix!: correctly handle nulls in btree and bitmap indices
  Cargo.lock
  Cargo.toml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.lock
  python/Cargo.toml
  python/python/tests/test_migration.py
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/scalar.rs
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_indices/bed6140c-b15a-454e-83a4-d66520397899/bitmap_page_lookup.lance
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_indices/e034c4d8-77cd-422c-8855-209eed8deff8/page_data.lance
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_indices/e034c4d8-77cd-422c-8855-209eed8deff8/page_lookup.lance
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_transactions/0-ca14443d-4119-474d-a32d-ae6c59288e9a.txn
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_transactions/1-6c1bfc70-d75f-4b58-84ec-aee73e2389d6.txn
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_transactions/2-70cf21e4-8f6d-4d41-b303-3dc1ee959c0b.txn
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_versions/1.manifest
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_versions/2.manifest
  test_data/v0.20.0/old_btree_bitmap_indices.lance/_versions/3.manifest
  test_data/v0.20.0/old_btree_bitmap_indices.lance/data/1f29c4b8-24ba-4f50-8d07-3b0b5c1b4f3f.lance
Labels: bug, python, java, breaking-change

#3213 docs: add the documentation about how to install packages for tests
  python/DEVELOPMENT.md
Labels: documentation, python

#3206 feat: let pylance use sub-level logger of logging
  python/python/ci_benchmarks/datagen/gen_all.py
  python/python/ci_benchmarks/datagen/lineitems.py
  python/python/ci_benchmarks/datasets.py
  python/python/lance/__init__.py
  python/python/lance/cuvs/kmeans.py
  python/python/lance/dataset.py
  python/python/lance/log.py
  python/python/lance/sampler.py
  python/python/lance/tf/data.py
  python/python/lance/torch/async_dataset.py
  python/python/lance/torch/distance.py
  python/python/lance/torch/kmeans.py
  python/python/lance/vector.py
  python/python/tests/test_log.py
Labels: enhancement, python, chore

#3194 feat: support _rowid meta column for spark connector in java
  LICENSE
  java/spark/pom.xml
  java/spark/src/main/java/com/lancedb/lance/spark/LanceConstant.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceDataset.java
  java/spark/src/main/java/com/lancedb/lance/spark/SparkOptions.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentColumnarBatchScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceDataWriter.java
  java/spark/src/main/java/org/apache/spark/sql/vectorized/LanceArrowColumnVector.java
  java/spark/src/main/java/org/apache/spark/sql/vectorized/UInt8Accessor.java
  java/spark/src/main/scala/org/apache/spark/sql/util/LanceArrowUtils.scala
  java/spark/src/test/java/com/lancedb/lance/spark/TestUtils.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/SparkConnectorReadWithRowId.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/BatchAppendTest.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/LanceDataWriterTest.java
  java/spark/src/test/scala/org/apache/spark/sql/util/LanceArrowUtilsSuite.scala
  java/spark/src/test/scala/org/apache/spark/sql/vectorized/LanceArrowColumnVectorSuite.scala
Labels: enhancement, java

#3207 ci: update python/Cargo.log on version bump
  .github/workflows/bump-version/action.yml
Labels: ci

#3214 chore: remove cuvs and pylibraft
  python/pyproject.toml
  python/python/lance/cuvs/__init__.py
  python/python/lance/cuvs/kmeans.py
  python/python/lance/dependencies.py
  python/python/lance/vector.py
Labels: python, chore

#3217 feat: support blob api in pytorch loader
  python/python/lance/torch/data.py
  python/python/tests/torch_tests/test_data.py
Labels: enhancement, python

#3219 chore: configure the spotless maven plugin to format Scala code
  java/.scalafmt.conf
  java/pom.xml
  java/spark/src/main/scala/org/apache/spark/sql/util/LanceArrowUtils.scala
  java/spark/src/test/scala/org/apache/spark/sql/util/LanceArrowUtilsSuite.scala
  java/spark/src/test/scala/org/apache/spark/sql/vectorized/LanceArrowColumnVectorSuite.scala
Labels: ci, java, chore

#3216 feat(python): add experimental parameter `enable_move_stable_row_ids` for pylance
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
Labels: enhancement, python

#3208 feat: add the repetition index to the miniblock write path
  protos/encodings.proto
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/writer.rs
Labels: enhancement

#3212 docs: add doc and test for 4bit PQ
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
Labels: documentation, python

#3186 feat: packed struct encoding
  protos/encodings.proto
  python/python/benchmarks/test_packed_struct.py
  rust/lance-arrow/src/schema.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/encodings/physical/struct_encoding.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/statistics.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement, python

#3227 fix: test failure in `test_fsl_packed_struct`
  rust/lance-encoding/src/encodings/physical/packed_struct.rs
Labels: bug

#3225 feat: support between sql clauses
  python/python/tests/test_filter.py
  python/python/tests/test_scalar_index.py
  rust/lance-datafusion/src/planner.rs
  rust/lance-index/src/scalar/expression.rs
Labels: enhancement, python

#3237 feat(java): support drop columns for dataset
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3231 feat(java): expose uri method for Dataset instance
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3239 fix: remove overzealous warning
  rust/lance-index/src/scalar/expression.rs
Labels: bug

#3242 chore: remove unused import
  rust/lance-index/src/scalar/expression.rs
Labels: chore

#3238 fix: correctly copy null buffer when making deep copy
  python/python/tests/test_scalar_index.py
  rust/lance-arrow/src/deepcopy.rs
  rust/lance-encoding/src/data.rs
Labels: bug, python

#3232 feat: add file statistics
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_file.py
  python/src/file.rs
  python/src/lib.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement, python

#3244 feat: enable tracing for object storage
  rust/lance-io/src/object_store.rs
Labels: enhancement

#3247 docs: blob api documents
  docs/_static/blob.png
  docs/api/api.rst
  docs/api/python.rst
  docs/blob.rst
  docs/index.rst
  python/python/lance/__init__.py
  python/python/lance/dataset.py
Labels: documentation, python

#3253 feat(java): support limit and offset interface for spark connector
  java/spark/src/main/java/com/lancedb/lance/spark/LanceDataset.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceInputPartition.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceScan.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceScanBuilder.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/SparkWrite.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/LanceColumnarPartitionReaderTest.java
Labels: enhancement, java

#3246 fix: allow LANCE_LOG to be set to trace
  python/python/lance/dataset.py
  python/python/lance/log.py
Labels: bug, python

#3241 feat: adds list decode support for mini-block encoded data
  protos/encodings.proto
  rust/lance-arrow/src/lib.rs
  rust/lance-arrow/src/list.rs
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement

#3258 fix: list indices always shows vector index type is IVF_PQ even it's not
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
Labels: bug, python

#3261 feat(java): support topn pushdown in spark connector
  java/core/lance-jni/src/blocking_scanner.rs
  java/core/src/main/java/com/lancedb/lance/ipc/ColumnOrdering.java
  java/core/src/main/java/com/lancedb/lance/ipc/LanceScanner.java
  java/core/src/main/java/com/lancedb/lance/ipc/ScanOptions.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/spark/src/main/java/com/lancedb/lance/spark/SparkOptions.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceInputPartition.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceScan.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceScanBuilder.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/LanceColumnarPartitionReaderTest.java
Labels: enhancement, java

#3263 feat: add replace_schema_metadata and replace_field_metadata
  protos/transaction.proto
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/transaction.rs
Labels: enhancement, python

#3100 feat: merge-insert supports inserting subset of columns
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/write/merge_insert.rs
Labels: enhancement, python

#3267 fix: panic when get stats from index over binary vectors
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#3254 feat: support merge by row_id, row_addr
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
Labels: enhancement

#3248 fix(rust): adjust scan range to avoid unnecessary warnings
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/scanner.rs
Labels: bug, python

#3268 feat: add the s3 retry config options for storage option
  docs/read_and_write.rst
  rust/lance-io/src/object_store.rs
Labels: enhancement

#3272 ci(java/scala): make spotless maven plugin auto-format in validate phase
  java/pom.xml
Labels: ci, java

#3273 docs: add java module into directory structure
  README.md
Labels: documentation

#3259 feat(java): support alter columns for dataset
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/schema/ColumnAlteration.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#2708 feat: support remapping for IVF_FLAT, IVF_PQ and IVF_SQ
  Cargo.lock
  python/Cargo.lock
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/hnsw/index.rs
  rust/lance-index/src/vector/quantizer.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance-linalg/src/distance.rs
  rust/lance-linalg/src/distance/hamming.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/index/vector/utils.rs
  rust/lance/src/session/index_extension.rs
Labels: enhancement, python

#3240 refactor(python)!: simplify marshalling of `Fragment`, `DataFile`, `Operation`, `Transaction`
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/fragment.pyi
  python/python/lance/vector.py
  python/python/tests/test_dataset.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  python/src/debug.rs
  python/src/fragment.rs
  python/src/indices.rs
  python/src/lib.rs
  python/src/transaction.rs
  python/src/utils.rs
Labels: python, breaking-change

#3279 feat: change MSRV from 1.78 to 1.80.1
  .github/workflows/rust.yml
  Cargo.toml
Labels: enhancement

#3277 fix: when taking struct fields they should be merged into the output in the correct order
  python/python/tests/test_filter.py
  rust/lance-arrow/src/lib.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance/src/datafusion/logical_plan.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/updater.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/exec/optimizer.rs
  rust/lance/src/io/exec/take.rs
Labels: bug, python

#3284 fix: full text search with limit may return an incorrect results
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance/src/dataset.rs
Labels: bug

#3278 fix: refine type annotation
  python/python/lance/__init__.py
  python/python/lance/_datagen.py
  python/python/lance/blob.py
  python/python/lance/dataset.py
  python/python/lance/file.py
  python/python/lance/fragment.py
  python/python/lance/lance/__init__.pyi
  python/python/lance/lance/datagen/__init__.pyi
  python/python/lance/lance/debug.pyi
  python/python/lance/lance/fragment.pyi
  python/python/lance/lance/optimize.pyi
  python/python/lance/lance/schema.pyi
  python/python/lance/lance/trace.pyi
  python/python/lance/sampler.py
  python/python/lance/tf/data.py
  python/python/lance/torch/data.py
  python/python/lance/tracing.py
  python/python/lance/util.py
  python/python/lance/vector.py
Labels: bug, python

#3256 feat: support merge fragment with dataset
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  python/src/fragment.rs
  rust/lance/src/dataset/fragment.rs
Labels: enhancement, python

#3286 ci(python): type checking with pyright
  python/Makefile
  python/pyproject.toml
  python/python/lance/torch/kmeans.py
  python/python/lance/util.py
  python/python/lance/vector.py
Labels: python, ci

#3288 chore(java): remove some supported TODO and add allow_http for storage_option
  java/spark/src/main/java/com/lancedb/lance/spark/SparkOptions.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceArrowWriter.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceDataWriter.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/SparkConnectorReadTest.java
Labels: java, chore

#3299 fix: fix pyproject.toml
  python/pyproject.toml
Labels: bug, python

#3310 ci: allow bencher benchmarks to be executed with workflow_dispatch
  .github/workflows/ci-benchmarks.yml
Labels: ci

#3309 feat: cache btree sub-index pages
  python/python/ci_benchmarks/benchmarks/test_search.py
  rust/lance-index/src/scalar/btree.rs
Labels: enhancement, python

#3314 feat(java): support spark in predict push down to lance scan
  java/spark/src/main/java/com/lancedb/lance/spark/read/FilterPushDown.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/FilterPushDownTest.java
Labels: enhancement, java

#3298 fix: is not false crash
  python/python/tests/test_filter.py
  rust/lance-datafusion/src/planner.rs
Labels: bug, python

#3319 fix: default value is overwritten
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
Labels: bug, python

#3318 feat(py): support count rows with filter in a fragment
  java/core/lance-jni/src/fragment.rs
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  python/src/fragment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/io/exec/scan.rs
Labels: enhancement, python, java

#3316 feat(java): support take api for java module
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/ffi.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/test/JniTestHelper.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/JNITest.java
Labels: enhancement, java
