Repository lancedb/lance, pull requests merged in 2025-07, with the labels that each got.

#4108 fix: panic when optimize empty PQ partition
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#4106 chore: upgrade datafusion to 48
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/logical_expr.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/substrait.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/schema_evolution/optimize.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/merge_insert/assign_action.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/io/exec/filter.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/projection.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/io/exec/take.rs
Labels: python, chore

#4122 fix: panic when commit fragment with format v2.1
  rust/lance/src/dataset/fragment/write.rs
Labels: bug

#4120 feat: allow _rowid and _rowaddr in read_columns for dataset.add_columns / fragment.merge_columns
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/udf.py
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/fragment.rs
Labels: enhancement, python

#4104 feat(encoding): cache repetition index for FullZip encoding
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: enhancement

#4133 chore: fully remove lance-encoding-datafusion
  Cargo.toml
Labels: chore

#4140 chore: remove dead cargo.lock files
  java/lance-jni/Cargo.lock
  rust/Cargo.lock
Labels: java, chore

#4148 docs: add catalog integration doc section pointing to Lance Namespace
  docs/mkdocs.yml
Labels: documentation, enhancement

#4149 docs: add DataFusion and DuckDB documentation
  docs/mkdocs.yml
  docs/src/index.md
  docs/src/integrations/datafusion.md
  docs/src/integrations/duckdb.md
Labels: documentation, enhancement

#4131 feat: expose max_page_bytes arg for python LanceFileWriter
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_file.py
  python/src/file.rs
Labels: enhancement, python

#4141 chore: rename RepetitionIndex to MiniBlockRepIndex
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: chore

#4147 docs: add lancelot page
  docs/mkdocs.yml
  docs/src/community/lancelot.md
  docs/src/index.md
Labels: documentation, enhancement

#4089 perf: use HNSW to speed up compute_partitions
  python/src/utils.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/compute_partition.rs
  rust/lance-index/benches/kmeans.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-index/src/vector/utils.rs
  rust/lance-linalg/Cargo.toml
  rust/lance-linalg/benches/kmeans.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance-linalg/src/lib.rs
  rust/lance/src/utils.rs
Labels: python, performance

#4123 feat: add utility to capture trace events in python
  python/python/lance/lance/__init__.pyi
  python/python/lance/lance/trace.pyi
  python/python/lance/tracing.py
  python/python/tests/test_tracing.py
  python/src/lib.rs
  python/src/tracing.rs
Labels: enhancement, python

#4180 fix: remapping FTS missed to remap token set
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug

#4144 fix: update lindera and tantivy and replace lindera model
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/python/lance/download.py
  python/python/tests/models/lindera/ipadic/main.zip
Labels: bug, python

#4185 ci: huggingface dataset scripts are no longer supported
  python/python/tests/test_huggingface.py
Labels: python, ci

#4186 fix: don't panic in byte_width_opt if given a fixed-size-list of a variable-width type
  rust/lance-arrow/src/lib.rs
Labels: bug

#4029 perf: use size prefixing for zstd buffer compressor for better decompressing performance
  rust/lance-encoding/src/encodings/physical/block.rs
  rust/lance-encoding/src/v2/encodings/logical/primitive.rs
Labels: performance

#4187 docs: ulimit to increase number of open files on OS X
  docs/src/community/contributing.md
Labels: documentation

#4199 ci: fix java publish logic with separated workspace
  .github/workflows/java-publish.yml
Labels: ci

#4208 fix: forward compatibility of pylance load_indices
  python/src/dataset.rs
Labels: bug, python

#4177 feat: add rle encoding support
  protos/encodings.proto
  rust/lance-core/src/datatypes.rs
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/encodings/physical/block.rs
  rust/lance-encoding/src/encodings/physical/general.rs
  rust/lance-encoding/src/encodings/physical/rle.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/statistics.rs
  rust/lance-encoding/src/v2/encodings/physical/bitpack.rs
Labels: enhancement

#4210 feat: support inferring system index type
  python/src/dataset.rs
  rust/lance-index/src/lib.rs
Labels: enhancement, python

#4211 fix: contributing link fixed on README.md
  README.md
Labels: bug

#4203 fix: move BYTES_READ_COUNTER update after await to ensure accuracy
  rust/lance-io/src/scheduler.rs
Labels: bug

#4217 chore: improve replacing semantics in code code of configuring dataset
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/transaction.rs
Labels: chore

#4228 fix: broken image link in README
  README.md
Labels: bug

#4226 fix: normalize_fsl should handle nulls
  Cargo.lock
  python/Cargo.lock
  rust/lance-linalg/Cargo.toml
  rust/lance-linalg/src/kernels.rs
Labels: bug, python

#4200 docs: separate Quickstart into three tutorials
  docs/mkdocs.yml
  docs/src/quickstart/index.md
  docs/src/quickstart/vector-search.md
  docs/src/quickstart/versioning.md
  docs/src/start/install.md
Labels: documentation

#4145 feat(rust): support trace dataset events
  python/python/tests/test_tracing.py
  python/src/tracing.rs
  rust/lance-core/src/utils/tracing.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/insert.rs
Labels: enhancement, python

#4235 feat: support prewarm for btree
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/btree.rs
Labels: enhancement, python

#4231 docs: add new homepage and sidebar
  docs/mkdocs.yml
  docs/src/community/index.md
  docs/src/format/index.md
  docs/src/guide/distributed_write.md
  docs/src/guide/performance.md
  docs/src/guide/read_and_write.md
  docs/src/index.md
  docs/src/integrations/tensorflow.md
  docs/src/quickstart/vector-search.md
Labels: documentation

#4086 feat: support sql api for dataset
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/sql.rs
Labels: enhancement

#4254 feat: enable oss support in python and java
  java/core/lance-jni/Cargo.lock
  python/Cargo.lock
  rust/lance/Cargo.toml
Labels: enhancement, python, java

#4167 feat: add retry-based conflict resolution for update operations
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/write/update.rs
Labels: enhancement, python

#4264 docs: separate table and file format spec
  docs/mkdocs.yml
  docs/src/format/file.md
  docs/src/format/index.md
  docs/src/format/table.md
Labels: documentation

#4116 fix: allow rowid in columns for scanner
  python/python/tests/test_lance.py
  python/src/dataset.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance/src/dataset/scanner.rs
Labels: bug, python

#4270 ci: fix nightly rust build failure of zerocopy
  Cargo.lock
Labels: ci

#4268 ci: do nightly runs only on the main repository
  .github/workflows/nightly_run.yml
Labels: ci

#4272 chore: add format detail
  .github/workflows/python.yml
  python/Makefile
Labels: python, chore

#3813 feat!: use FilteredReadExec in the planner
  .gitignore
  Cargo.lock
  Cargo.toml
  java/core/pom.xml
  java/pom.xml
  python/Cargo.lock
  python/Cargo.toml
  python/python/ci_benchmarks/benchmarks/test_search.py
  python/python/ci_benchmarks/datagen/basic.py
  python/python/ci_benchmarks/datagen/gen_all.py
  python/python/lance/vector.py
  python/python/tests/test_balanced.py
  python/python/tests/test_commit_index.py
  python/python/tests/test_dataset.py
  python/python/tests/test_filter.py
  python/python/tests/test_scalar_index.py
  python/src/reader.rs
  rust/lance-arrow/src/lib.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-datafusion/src/chunker.rs
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/projection.rs
  rust/lance-datafusion/src/utils.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-io/src/lib.rs
  rust/lance-table/benches/row_id_index.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/utils/stream.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/blob.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/io/exec/filtered_read.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/utils.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python, java, breaking-change

#4275 perf: wrap Dataset with Arc in SqlQueryBuilder
  rust/lance/src/dataset/sql.rs
Labels: performance

#4092 feat: add 64-bit offset support to FSST compression for large binary/string data in V2.1
  python/Cargo.lock
  rust/lance-core/src/datatypes.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/compression_algo/fsst/Cargo.toml
  rust/lance-encoding/src/compression_algo/fsst/src/fsst.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/general.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement, python

#4236 feat: implement byte stream split for doubles
  protos/encodings.proto
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/byte_stream_split.rs
  rust/lance-encoding/src/format.rs
Labels: enhancement

#4294 fix: ensure _rowid comes after _distance and _score
  python/python/tests/test_scalar_index.py
  python/python/tests/test_vector_index.py
  rust/lance/src/dataset/scanner.rs
Labels: bug, python

#3556 feat: support ordering for pylance sdk
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/tests/test_order_by.py
  python/src/dataset.rs
  python/src/fragment.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#4297 ci: enable crates.io trust publishing
  .github/workflows/cargo-publish.yml
Labels: ci

#4293 feat: support skipping auto cleanup during write
  rust/lance-table/src/io/commit.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/commit.rs
Labels: enhancement

#4219 feat(java): brings transaction api to Java module and support project
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/lib.rs
  java/core/lance-jni/src/transaction.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/Transaction.java
  java/core/src/main/java/com/lancedb/lance/operation/Operation.java
  java/core/src/main/java/com/lancedb/lance/operation/Project.java
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
Labels: enhancement, java

#4311 fix: add hnsw range search support
  rust/examples/src/hnsw.rs
  rust/lance-index/benches/hnsw.rs
  rust/lance-index/src/vector/graph.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/utils.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#4314 ci: fix Debian 10 EOL for java publish workflow
  .github/workflows/java-publish.yml
Labels: ci

#4313 fix: use debug format for object store provider errors
  rust/lance-io/src/object_store/providers/aws.rs
  rust/lance-io/src/object_store/providers/oss.rs
Labels: bug

#4316 fix: update missing lance perf asset
  README.md
Labels: bug

#4298 feat: add loading trace event
  python/python/tests/test_tracing.py
  rust/lance-core/src/utils/tracing.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
Labels: enhancement, python

#4287 feat: add file reader options in ReadParams
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/io/exec/pushdown_scan.rs
Labels: enhancement

#4322 feat: add matrix type
  rust/lance-linalg/src/lib.rs
  rust/lance-linalg/src/matrix.rs
Labels: enhancement

#4342 fix: correct the error enum in case of missing positions for phrase queries
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug

#4328 feat(java): expose sql api for java api
  java/core/lance-jni/src/lib.rs
  java/core/lance-jni/src/sql.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/SqlQuery.java
  java/core/src/test/java/com/lancedb/lance/SqlQueryTest.java
Labels: enhancement, java

#4345 chore: return the distances when computing partitions
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/kmeans.rs
Labels: chore

#4347 feat: add sdk_version in tracing events
  python/python/tests/test_tracing.py
  python/src/lib.rs
  python/src/tracing.rs
Labels: enhancement, python

#4359 docs: clean up table.proto
  protos/file.proto
  protos/table.proto
Labels: documentation
