Repository lancedb/lance, pull requests merged in 2025-10, with the labels that each got.

#4871 fix: ensure fragment IDs are sorted in load_training_data
  rust/lance/src/index/create.rs
  rust/lance/src/index/scalar.rs
Labels: bug

#4878 fix: typo in ut test_fragment_update
  rust/lance/src/dataset/fragment.rs
Labels: bug

#4879 feat: change one-pass GPU ivf-pq indexing as default
  python/python/lance/dataset.py
Labels: enhancement, python

#4619 docs: rework file specification docs
  docs/src/format/file/.pages
  docs/src/format/file/encoding.md
  docs/src/format/file/index.md
  docs/src/format/file/versioning.md
  docs/src/images/encoding_v_array.png
  docs/src/images/file_high_level_overview.png
  docs/src/images/file_overview.png
  docs/src/images/format_overview.png
  docs/src/images/fullzip.png
  docs/src/images/fullzip_rep.png
  docs/src/images/miniblock.png
  docs/src/images/miniblock_meta.png
  protos/encodings_v2_0.proto
  protos/file2.proto
  python/uv.lock
  rust/lance-encoding/src/repdef.rs
Labels: documentation, python

#4890 fix: filter out vectors that could produce infinite l2 distances
  rust/lance-index/src/vector/transform.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#4880 fix: don't log the 'experimental' warning if users are using 2.1
  rust/lance-encoding/src/version.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance/src/dataset.rs
Labels: bug

#4795 feat: add scan_range_after_filter pushdown optimization for filtered reads
  rust/lance-datafusion/src/exec.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/write/merge_insert/exec/write.rs
  rust/lance/src/io/exec/filter.rs
  rust/lance/src/io/exec/filtered_read.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/optimizer.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement

#4906 fix: forward compatibility of FTS index
  .github/workflows/rust.yml
  python/python/tests/forward_compat/datagen.py
  python/python/tests/forward_compat/test_compat.py
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/src/dataset.rs
  rust/lance/src/index.rs
Labels: bug, python
