Repository lancedb/lance, pull requests merged in 2025-01, with the labels that each got.

#3322 fix: lance ray sink crash when fields contain none
  python/python/lance/ray/sink.py
  python/python/tests/test_ray.py
Labels: bug, python

#3313 feat(java): support overwrite for spark connector
  Cargo.lock
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/FragmentOperation.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceDataset.java
  java/spark/src/main/java/com/lancedb/lance/spark/SparkOptions.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceBatchWrite.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/LanceDataWriter.java
  java/spark/src/main/java/com/lancedb/lance/spark/write/SparkWrite.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/LanceBatchWriteTest.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/LanceDataWriterTest.java
  java/spark/src/test/java/com/lancedb/lance/spark/write/SparkWriteTest.java
Labels: enhancement, java

#3329 fix: allow empty scalar indices and don't drop nulls on update
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/label_list.rs
Labels: bug, python

#3303 perf: parallelize indexing partitions
  rust/lance/src/index/vector/builder.rs
Labels: performance

#3328 feat: add utility for reporting data stats
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  python/src/dataset/stats.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/statistics.rs
Labels: enhancement, python

#3323 feat: cache miniblock metadata
  rust/lance-core/src/cache.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/utils/path.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: enhancement, python

#3304 feat(java): support statistics row num for lance scan
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceScan.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceStatistics.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/SparkConnectorReadTest.java
Labels: enhancement, java

#3327 fix: coerce scalar for between
  python/python/tests/test_filter.py
  rust/lance-datafusion/src/logical_expr.rs
Labels: bug, python

#3336 feat: support with_rowaddr for spark
  java/core/lance-jni/src/blocking_scanner.rs
  java/core/src/main/java/com/lancedb/lance/ipc/LanceScanner.java
  java/core/src/main/java/com/lancedb/lance/ipc/ScanOptions.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceConstant.java
  java/spark/src/main/java/com/lancedb/lance/spark/LanceDataset.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceStatistics.java
  java/spark/src/test/java/com/lancedb/lance/spark/TestUtils.java
  java/spark/src/test/java/com/lancedb/lance/spark/read/SparkConnectorReadWithRowAddress.java
Labels: enhancement, java

#3337 feat(java): support get real data size for lance spark statistics interface
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/ipc/DataStatistics.java
  java/core/src/main/java/com/lancedb/lance/ipc/FieldStatistics.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/read/LanceStatistics.java
Labels: enhancement, java

#3287 feat(java): support add columns via sql expressions
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/schema/SqlExpressions.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3357 fix: avoid double-take in some scenarios
  rust/lance/src/dataset/scanner.rs
Labels: bug

#3218 feat: support lindera for japanese and korea tokenization
  Cargo.lock
  Cargo.toml
  docs/tokenizer.rst
  python/Cargo.lock
  python/Cargo.toml
  python/python/lance/download.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/models/jieba/default/dict.txt
  python/python/tests/models/jieba/invalid_dict/config.json
  python/python/tests/models/jieba/invalid_dict2/config.json
  python/python/tests/models/jieba/user_dict/config.json
  python/python/tests/models/jieba/user_dict/user.txt
  python/python/tests/models/lindera/README.md
  python/python/tests/models/lindera/invalid_dict/config.json
  python/python/tests/models/lindera/invalid_dict2/config.json
  python/python/tests/models/lindera/ipadic/main.zip
  python/python/tests/models/lindera/ipadic/raw/Noun.mock.csv
  python/python/tests/models/lindera/user_dict/config.json
  python/python/tests/models/lindera/user_dict/userdic.csv
  python/python/tests/models/lindera/user_dict2/config.json
  python/python/tests/models/lindera/user_dict2/userdic.bin
  python/python/tests/test_scalar_index.py
  python/src/lib.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar/inverted/tokenizer.rs
  rust/lance-index/src/scalar/inverted/tokenizer/jieba.rs
  rust/lance-index/src/scalar/inverted/tokenizer/lindera.rs
Labels: enhancement, python

#3335 feat: add support for repetition index to the full zip structural encoding
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-encoding/src/utils.rs
  rust/lance-encoding/src/utils/bytepack.rs
Labels: enhancement

#3301 feat: support IVF_FLAT and hamming in pylance
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance/src/index/vector.rs
Labels: enhancement, python

#3190 feat!: support multivector type
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-arrow/src/floats.rs
  rust/lance-index/src/vector/flat.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/sq.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/transform.rs
  rust/lance-linalg/src/distance.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/index/vector/utils.rs
  rust/lance/src/io/exec/knn.rs
Labels: enhancement, python, feature, breaking-change

#3235 feat: allow blob in `write_fragments`
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_balanced.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  python/src/fragment.rs
  python/src/lib.rs
  python/src/transaction.rs
Labels: enhancement, python

#3360 fix: handle deletions in take
  rust/lance-core/src/utils/deletion.rs
  rust/lance/src/dataset/take.rs
Labels: bug

#3307 refactor(java): simpilfy fragment
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/traits.rs
  java/core/pom.xml
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/DatasetFragment.java
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/FragmentMetadata.java
  java/core/src/main/java/com/lancedb/lance/FragmentOperation.java
  java/core/src/main/java/com/lancedb/lance/fragment/DataFile.java
  java/core/src/main/java/com/lancedb/lance/fragment/DeletionFile.java
  java/core/src/main/java/com/lancedb/lance/fragment/DeletionFileType.java
  java/core/src/main/java/com/lancedb/lance/fragment/RowIdMeta.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
  java/pom.xml
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
Labels: python, java

#3230 fix: fix ray lance sink error
  python/python/lance/ray/sink.py
Labels: bug, python

#3365 ci(java/scala): introduce auto code style check and fix exists issues
  .github/workflows/java.yml
  java/core/src/main/java/com/lancedb/lance/schema/SqlExpressions.java
Labels: ci, java

#3339 fix: scan out of range
  rust/lance-io/src/lib.rs
  rust/lance/src/dataset/fragment.rs
Labels: bug

#3367 feat: log the number of rows we were able to sample
  rust/lance/src/index/vector/utils.rs
Labels: enhancement

#3362 fix: cast null arrays to the appropriate type when coercing to a table
  python/python/lance/ray/sink.py
  python/python/tests/test_ray.py
Labels: bug, python

#3370 ci: add cargo-deny
  .github/workflows/rust.yml
  deny.toml
Labels: ci, chore

#3371 chore: better error message for unsupported data type
  rust/lance/src/index/vector/ivf.rs
Labels: chore

#3373 fix(python): correct type hint for `write_fragments()`
  python/python/lance/fragment.py
  python/python/lance/lance/__init__.pyi
Labels: bug, python

#3341 feat: upgrade datafusion to 44.0
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/sql.rs
  rust/lance-datafusion/src/substrait.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance/src/datafusion/dataframe.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/optimizer.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/testing.rs
Labels: enhancement, python

#3375 ci: additional disk space for rust release
  .github/workflows/cargo-publish.yml
Labels: ci

#3379 fix: json schema serializes field metadata
  rust/lance/src/arrow/json.rs
Labels: bug

#3380 chore(java): enlarge release timeout
  .github/workflows/java-publish.yml
Labels: chore

#3381 feat: enable all datafusion functions
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
Labels: enhancement, python

#3386 fix: flat FTS would return all unindexed rows
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/src/index.rs
Labels: bug

#3387 feat: support float16/float64 for multivector
  rust/lance-linalg/src/distance.rs
Labels: enhancement

#3384 fix: updating schema/field metadata now retains fragments
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/transaction.rs
Labels: bug

#3382 feat: add drop_index
  protos/transaction.proto
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_scalar_index.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-index/src/traits.rs
  rust/lance/src/index.rs
Labels: enhancement, python

#3385 chore: expose utils for infering vector dim and element type
  rust/lance/src/index/vector/utils.rs
Labels: chore

#3388 fix: full text search index may be corrupted after remapping
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance/src/index.rs
Labels: bug

#3391 feat: add an all null column as a metadata-only operation
  rust/lance-core/src/datatypes/schema.rs
  rust/lance/src/dataset/schema_evolution.rs
Labels: enhancement

#3396 fix: handle the possibility that serialize_expressions returns a memoryview
  python/python/lance/dataset.py
Labels: bug, python

#3377 fix!: delta index fragment bitmaps contained previous index coverage
  Cargo.lock
  Cargo.toml
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance/src/dataset.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/io/commit.rs
  test_data/v0.21.0/bad_index_fragment_bitmap/_indices/ca9b1111-abfc-4fde-b4cc-8e667b84e65d/index.idx
  test_data/v0.21.0/bad_index_fragment_bitmap/_indices/dc833a6e-a710-48aa-af24-9ab80f30700c/index.idx
  test_data/v0.21.0/bad_index_fragment_bitmap/_transactions/3-f68af88b-ea42-4fec-9feb-2b5bb3f48223.txn
  test_data/v0.21.0/bad_index_fragment_bitmap/_versions/4.manifest
  test_data/v0.21.0/bad_index_fragment_bitmap/data/0e45e8ed-1d98-4e07-a4a6-67ca3d194291.lance
  test_data/v0.21.0/bad_index_fragment_bitmap/data/c042e881-07a6-4a65-96b9-c3f31ea3bb47.lance
  test_data/v0.21.0/datagen.py
Labels: bug, python, java, breaking-change

#3399 perf: avoid re-alloc on assigning PQ
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-index/src/vector/transform.rs
Labels: performance

#3407 fix: merge_insert with subcols sometimes outputs unexpected nulls
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/write/merge_insert.rs
Labels: bug, python

#3409 ci: fix Python Arm build
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/pypi-publish.yml
  .github/workflows/python.yml
Labels: ci

#3405 perf: skip shuffling if there is only 1 partition
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/utils.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: performance

#3403 fix: ensure that 'block_size' parameter is properly propagated in the ObjectStore
  Cargo.lock
  rust/lance-io/Cargo.toml
  rust/lance-io/src/object_store.rs
Labels: bug

#3411 ci: use ARM runner for Python ARM release builds
  .github/workflows/pypi-publish.yml
Labels: ci

#3413 fix(rust): loosen bytemuck pin
  Cargo.lock
  python/Cargo.lock
  rust/lance-encoding/Cargo.toml
Labels: bug, python

#3414 chore: fix clippy lints
  rust/lance-arrow/src/lib.rs
  rust/lance-file/src/datatypes.rs
  rust/lance-file/src/page_table.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-io/src/object_store.rs
  rust/lance-table/src/rowids.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index/vector/pq.rs
Labels: chore

#3344 feat: finish up variable-length encodings in the full-zip path
  protos/encodings.proto
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement

#3417 fix: support fp16 type in SQ
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance/src/io/exec/knn.rs
Labels: bug

#3420 fix: move IO tasks off of CPU runtime in merge_insert
  rust/lance/src/dataset/write/merge_insert.rs
Labels: bug

#3404 fix: filter out null values when sampling for index training
  rust/lance/src/index/append.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/index/vector/utils.rs
Labels: bug

#3418 feat: add testing of string/binary to 2.1 full-zip encoding and fix bugs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement

#3421 ci(java): timeout test jobs after an hour
  .github/workflows/java.yml
Labels: ci

#3422 fix: handle null vectors in flat search
  rust/lance-index/src/vector/flat.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance/src/index/vector/ivf.rs
Labels: bug

#3392 chore: downgrade backpressure warning to a debug log message
  rust/lance-io/src/scheduler.rs
Labels: chore

#3390 chore: add binary array generator that generates different sized binary items
  rust/lance-datagen/benches/array_gen.rs
  rust/lance-datagen/src/generator.rs
Labels: chore
