Repository lancedb/lance, pull requests merged in 2025-04, with the labels that each got.

#3626 feat: support to ser/deser FtsQuery
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  python/src/utils.rs
  rust/lance-index/src/scalar/inverted/query.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#3369 feat: add distribute add columns by ray
  .github/workflows/file_verification/test_write_read.py
  python/python/lance/ray/distribute_task.py
  python/python/lance/ray/fragment_api.py
  python/python/tests/test_ray.py
Labels: enhancement, python

#3627 fix: allow TorchDataset to return raw data without direct tensor conversion
  python/python/lance/torch/data.py
Labels: bug, python

#3630 chore: bump half crate version
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
Labels: python, chore

#3632 fix: missing to handle FixedSizeBinary for JSON converting
  rust/lance/src/arrow/json.rs
Labels: bug

#3605 feat: int8 support for distance functions
  rust/lance-arrow/src/lib.rs
  rust/lance-index/src/vector/residual.rs
  rust/lance-index/src/vector/transform.rs
  rust/lance-linalg/src/distance/cosine.rs
  rust/lance-linalg/src/distance/dot.rs
  rust/lance-linalg/src/distance/l2.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance-testing/src/datagen.rs
  rust/lance/src/dataset.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/utils.rs
Labels: enhancement

#3643 chore: fix cargo clippy in rust 1.86
  rust/lance-arrow/src/lib.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitpack.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-file/src/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-index/src/vector/transform.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-linalg/src/clustering.rs
  rust/lance-table/src/rowids/bitmap.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/utils/future.rs
Labels: chore

#3644 fix: robust against body read failures in list endpoint
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/list_retry.rs
  rust/lance-table/src/io/commit.rs
Labels: bug

#3646 fix: don't change dictionary threshold
  rust/lance-encoding/src/encoder.rs
Labels: bug

#3622 feat: support to create FTS index on list of strings
  Cargo.lock
  python/python/lance/dataset.py
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#3648 fix: filter out infinite vectors
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/utils.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#3652 ci: update lockfile to fix advisories
  Cargo.lock
Labels: ci

#3655 ci: fix rust benchmark using warp arm to run
  .github/workflows/rust-benchmark.yml
Labels: ci

#3660 chore: don't use warn for backpressure throttle event
  rust/lance-io/src/scheduler.rs
Labels: chore

#3668 fix: check for -1 assignment during ivf-pq assignment
  python/python/lance/vector.py
Labels: bug, python

#3673 fix: one more finite vector fix
  python/python/lance/vector.py
  python/python/tests/test_vector_index.py
Labels: bug, python

#3657 fix: iterabledataset constructor has no parameters
  python/python/lance/torch/data.py
Labels: bug, python

#3676 chore: fix various clippy suggestions introduced in 1.86
  Cargo.lock
  deny.toml
  rust/lance-datafusion/src/planner.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-index/benches/4bitpq_dist_table.rs
  rust/lance-index/benches/pq_dist_table.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-linalg/src/kmeans.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: chore

#3670 perf: refactor the FTS indexing algo
  Cargo.lock
  python/Cargo.lock
  rust/lance-datafusion/src/utils.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: python, performance

#3581 docs: add spark integration doc
  docs/index.rst
  docs/integrations/spark.rst
Labels: documentation

#3623 feat: support AND query and improve phrase query performance
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/lance/query.py
  python/src/dataset.rs
  python/src/lib.rs
  python/src/utils.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/query.rs
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance/src/dataset.rs
  rust/lance/src/io/exec/fts.rs
Labels: enhancement, python

#3690 fix: respect the IO parallelism when load posting lists
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug

#3654 perf: improve ngram indexing performance
  Cargo.lock
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/scalar/ngram.rs
Labels: performance

#3688 refactor(rust)!: move all object stores to use `ObjectStoreProvider`
  Cargo.lock
  Cargo.toml
  java/core/pom.xml
  java/lance-jni/Cargo.lock
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance-io/Cargo.toml
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/providers.rs
  rust/lance-io/src/object_store/providers/aws.rs
  rust/lance-io/src/object_store/providers/azure.rs
  rust/lance-io/src/object_store/providers/gcp.rs
  rust/lance-io/src/object_store/providers/local.rs
  rust/lance-io/src/object_store/providers/memory.rs
  rust/lance-table/Cargo.toml
  rust/lance-table/src/io/commit.rs
  rust/lance/Cargo.toml
  rust/lance/benches/take.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
Labels: python, java, breaking-change

#3695 Revert "perf: refactor the FTS indexing algo (#3670)"
  Cargo.lock
  python/Cargo.lock
  rust/lance-datafusion/src/utils.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: python

#3696 feat: add prewarm for inverted index
  rust/lance-index/src/scalar/inverted/index.rs
Labels: enhancement

#3697 feat: add a function to prewarm an index
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  python/src/lib.rs
  python/src/scanner.rs
  rust/lance-datafusion/src/exec.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-index/src/traits.rs
  rust/lance-index/src/vector/hnsw/index.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/session/index_extension.rs
Labels: enhancement, python

#3699 chore(java): add maven wrapper
  java/.mvn/wrapper/maven-wrapper.properties
  java/mvnw
Labels: java, chore

#3683 feat: add bitmap (boolean) encoding to 2.1
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/physical/bitmap.rs
  rust/lance-encoding/src/encodings/physical/value.rs
Labels: enhancement

#3704 fix: avoid corrupting btree index when remapping nulls
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/lance_format.rs
Labels: bug

#3706 fix: don't panic if between bounds are reversed
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/btree.rs
Labels: bug, python

#3708 fix: the FTS deserialization is broken
  rust/lance-index/src/scalar/inverted/query.rs
Labels: bug

#3689 feat!: move object store registry to the session, re-use stores
  .github/workflows/rust.yml
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/file_reader.rs
  python/src/dataset.rs
  python/src/file.rs
  python/src/indices.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/reader.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/providers.rs
  rust/lance-io/src/object_store/providers/aws.rs
  rust/lance-io/src/object_store/providers/azure.rs
  rust/lance-io/src/object_store/providers/gcp.rs
  rust/lance-io/src/object_store/providers/local.rs
  rust/lance-io/src/object_store/providers/memory.rs
  rust/lance-io/tests/gcs_integration.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/fragment/write.rs
  rust/lance/src/dataset/index.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/session.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python, java, breaking-change

#3665 fix: intersection of list of struct
  rust/lance-arrow/src/lib.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
Labels: bug

#3710 fix: don't emit the IO core reservation warning on 2-core systems
  rust/lance-core/src/utils/tokio.rs
Labels: bug

#3702 ci(java): improve caching for lance-jni
  .github/workflows/java.yml
Labels: ci

#3717 ci: fix docs deploy out of disk space
  .github/workflows/docs-check.yml
  .github/workflows/docs-deploy.yml
Labels: ci

#3716 test: fix windows `test_replace_dataset` path handling
  rust/lance/src/dataset.rs
Labels: chore

#3721 feat: add ExpLinkedList
  rust/lance-core/src/container.rs
  rust/lance-core/src/container/list.rs
  rust/lance-core/src/lib.rs
Labels: enhancement

#3712 feat: strict overwrite operation
  rust/lance/src/dataset.rs
  rust/lance/src/io/commit.rs
Labels: enhancement

#3733 fix: correctly specify datafusion properties for input distribution in our custom exec nodes
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/io/exec/utils.rs
Labels: bug

#3614 feat: retry `merge_insert` when possible
  Cargo.lock
  python/Cargo.lock
  rust/lance-arrow/src/lib.rs
  rust/lance-arrow/src/memory.rs
  rust/lance-core/src/error.rs
  rust/lance-core/src/utils.rs
  rust/lance-core/src/utils/backoff.rs
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/lib.rs
  rust/lance-datafusion/src/spill.rs
  rust/lance-datafusion/src/utils.rs
  rust/lance-datafusion/src/utils/background_iterator.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python

#3641 fix: prevent deadlock using torch multi worker
  python/python/lance/torch/data.py
  python/python/tests/test_torch.py
Labels: bug, python

#3735 feat: add the index params into FTS stats
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: enhancement, python

#3748 fix: arrow version compatibility issues caused by API changes
  python/python/lance/_arrow/bf16.py
  python/python/lance/arrow.py
Labels: bug, python

#3750 feat: store data file size in manifest
  java/core/lance-jni/src/file_reader.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/traits.rs
  java/core/src/main/java/com/lancedb/lance/fragment/DataFile.java
  protos/table.proto
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  python/src/file.rs
  python/src/fragment.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python, java

#3755 feat!: allow take_blobs API to take on row address, indices or row ids
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/python/lance/dataset.py
  python/python/lance/torch/data.py
  python/python/tests/test_blob.py
  python/src/dataset.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/blob.rs
  rust/lance/src/dataset/take.rs
Labels: enhancement, python, breaking-change

#3743 ci(rust): fix cargo publish
  .github/workflows/cargo-publish.yml
Labels: ci

#3749 ci(java): allow dispatch action for publishing to Sonatype
  .github/workflows/java-publish.yml
Labels: ci

#3758 ci(java): fix gpg key for publishing to sonatype
  .github/workflows/java-publish.yml
Labels: ci

#3757 feat: expose public accessor for LanceScanExec config
  rust/lance/src/io/exec/scan.rs
Labels: enhancement

#3759 docs: how to set blob metadata
  docs/blob.rst
Labels: documentation

#3738 feat: fix various spans
  rust/lance-core/src/utils/tracing.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-io/src/object_store/list_retry.rs
  rust/lance-io/src/object_store/tracing.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/utils/future.rs
Labels: enhancement

#3752 perf: read tiny files in 1 IOP
  java/core/src/test/java/com/lancedb/lance/FileReaderWriterTest.java
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/utils/test.rs
Labels: python, performance, java

#3760 fix: prevent infinite loop of writing manifest
  rust/lance/src/io/commit.rs
Labels: bug

#3763 fix: revert IO optimizations for now until we can test more
  java/core/lance-jni/src/file_reader.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/traits.rs
  java/core/src/main/java/com/lancedb/lance/fragment/DataFile.java
  java/core/src/test/java/com/lancedb/lance/FileReaderWriterTest.java
  protos/table.proto
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  python/src/file.rs
  python/src/fragment.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/utils/test.rs
Labels: bug, python, java

#3765 fix: don't lose rows during bitmap remap if rows not being remapped
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/bitmap.rs
Labels: bug, python
