Repository lancedb/lance, pull requests merged in 2025-05, with the labels that each got.

#3767 docs:clarify instructions on where to run maturin develop
  docs/contributing.rst
Labels: documentation

#3768 fix: flat scan frags not covered by scalar index when doing prefilter search
  python/python/tests/test_scalar_index.py
  python/python/tests/test_vector_index.py
  rust/lance/src/dataset/scanner.rs
Labels: bug, python

#3769 fix: partition not used yet panic
  python/python/tests/test_vector_index.py
  rust/lance/src/io/exec/knn.rs
Labels: bug, python

#3756 feat(build): add make clean target for Python temporary files
  python/DEVELOPMENT.md
  python/Makefile
Labels: enhancement, python

#3770 chore: use less sample size for multivector
  rust/lance/src/index/vector/utils.rs
Labels: chore

#3766 feat: add tracing spans to ScanExec and TakeExec
  python/Cargo.toml
  rust/lance-core/src/utils.rs
  rust/lance-core/src/utils/stream.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-io/src/local.rs
  rust/lance-io/src/object_store/tracing.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-table/src/io/deletion.rs
  rust/lance-table/src/utils/stream.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
Labels: enhancement, python

#3762 perf: optimize load_indices
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/utils/test.rs
Labels: performance

#3780 perf: reduce retry thrashing in merge_insert
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance-core/src/utils/backoff.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/utils/test.rs
  rust/lance/src/utils/test/throttle_store.rs
Labels: bug, python, performance

#3783 fix: fix mapdataset batch getitems
  python/python/lance/torch/data.py
Labels: bug, python

#3764 perf: bring back io optimizations
  Cargo.lock
  java/core/lance-jni/src/file_reader.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/traits.rs
  java/core/src/main/java/com/lancedb/lance/fragment/DataFile.java
  java/core/src/test/java/com/lancedb/lance/FileReaderWriterTest.java
  protos/table.proto
  python/Cargo.lock
  python/python/lance/fragment.py
  python/python/tests/test_fragment.py
  python/src/file.rs
  python/src/fragment.rs
  rust/lance-file/benches/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-io/Cargo.toml
  rust/lance-io/benches/scheduler.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-io/src/utils.rs
  rust/lance-table/src/format/fragment.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/commit.rs
Labels: python, performance, java

#3801 feat: split large reads into smaller parallel reads
  Cargo.toml
  python/python/tests/test_file.py
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/providers/aws.rs
  rust/lance-io/src/object_store/providers/azure.rs
  rust/lance-io/src/object_store/providers/gcp.rs
  rust/lance-io/src/object_store/providers/local.rs
  rust/lance-io/src/object_store/providers/memory.rs
  rust/lance-io/src/scheduler.rs
Labels: enhancement, python

#3810 fix: limit the batch size to 64 for indexing multivectors
  rust/lance/src/index/vector/builder.rs
Labels: bug

#3811 fix: logic bug in RowIdTreeMap union
  rust/lance-core/proptest-regressions/utils/mask.txt
  rust/lance-core/src/utils/mask.rs
Labels: bug

#3789 fix: handle bitmap index overflow by implementing multi-batch read&write #3515
  rust/lance-index/src/scalar/bitmap.rs
Labels: bug

#3816 ci: add the setup-rust-toolchain action to the format & lint jobs
  .github/workflows/rust.yml
Labels: ci

#3803 docs: fix typos
  .github/workflows/pr-title.yml
  README.md
  docs/examples/artefact_management.rst
  docs/examples/clip_training.rst
  docs/examples/llm_dataset_creation.rst
  docs/format.rst
  python/python/lance/dataset.py
  rust/lance-file/src/writer/statistics.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/exec/take.rs
Labels: documentation, python

#3807 fix: fix python tracing
  python/python/benchmarks/test_file.py
  python/python/benchmarks/test_packed_struct.py
  python/python/benchmarks/test_random_access.py
  python/python/benchmarks/test_read_write.py
  python/python/lance/lance/trace.pyi
  python/python/lance/tracing.py
  python/python/tests/test_tracing.py
  python/src/tracing.rs
Labels: bug, python

#3823 fix: respect prefilter transformation in ANNIvfSubIndexExec
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/knn.rs
Labels: bug

#3649 feat: a Datafusion FFI for the LanceTableProvider
  .github/workflows/python.yml
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/pyproject.toml
  python/python/lance/__init__.py
  python/python/tests/test_table_provider.py
  python/src/executor.rs
  python/src/lib.rs
  rust/lance/src/datafusion/dataframe.rs
Labels: enhancement, python

#3824 test: fix flakey concurrency tests
  rust/lance/src/dataset/write/merge_insert.rs
Labels: chore

#3826 fix: don't error if logging is on but tracing is off
  python/src/tracing.rs
Labels: bug, python

#3832 ci: use toolchain file in Java builds
  .github/workflows/java.yml
Labels: ci

#3819 docs: fix typos
  docs/introduction/read_and_write.rst
Labels: documentation

#3839 fix: update size of data file in data replacement operation
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/transaction.rs
Labels: bug, python

#3830 chore: add or append pylance version to user agent
  python/src/dataset.rs
Labels: python, chore

#3795 feat(java): support adding columns by schema and field definitions
  java/README.md
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3843 fix: allow nulls when blob data files are missing
  python/python/tests/test_blob.py
  rust/lance-core/src/datatypes.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
Labels: bug, python

#3821 docs: add safe dataloader for lance dataset
  docs/integrations/pytorch.rst
Labels: documentation

#3856 feat: allow FTS and NGRAM index to co-exist on the same column
  python/python/tests/test_dataset.py
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/traits.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/index.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/io/exec/filtered_read.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/scalar_index.rs
Labels: enhancement, python

#3850 feat: add columns msg for count_rows
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#3745 fix: the error that the blob field requires a project
  python/python/tests/test_blob.py
  rust/lance/src/io/exec/projection.rs
Labels: bug, python

#3808 fix: ensure to_batches output strictly adheres to configured batch size
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/scan.rs
Labels: bug, python

#3869 fix: remove incorrect S3 commit documentation
  docs/format.rst
  docs/object_store.rst
Labels: bug

#3872 ci(java): fix java release workflow
  .github/workflows/java-publish.yml
Labels: ci

#3876 chore(java): fix java inconsistent version
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
Labels: java, chore

#3881 fix: use `e_tag` in cache key for cached manifests
  rust/lance-table/src/io/commit.rs
  rust/lance/src/dataset.rs
  rust/lance/src/io/commit.rs
Labels: bug

#3870 feat: auto-set S3 express and fix list ordering setting
  rust/lance-io/src/object_store/providers/aws.rs
Labels: enhancement

#3853 ci: disable torch tests on macos CI
  .github/workflows/python.yml
  .github/workflows/run_tests/action.yml
  python/python/tests/test_torch.py
Labels: python, ci

#3863 fix: remove modified fragments indices during horizontal merge_insert
  protos/transaction.proto
  python/python/lance/dataset.py
  python/python/tests/test_scalar_index.py
  python/src/transaction.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/io/commit/conflict_resolver.rs
  rust/lance/src/utils/test.rs
Labels: bug, python

#3892 fix: last item could be dropped from directory listing
  rust/lance-io/src/object_store/list_retry.rs
Labels: bug

#3879 feat: support boolean query
  python/python/lance/query.py
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  rust/lance-index/src/scalar/inverted/query.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/fts.rs
Labels: enhancement, python

#3888 feat: enhancing java LanceFileReader by adding projection push down and ranges lookup functionality
  java/core/lance-jni/src/file_reader.rs
  java/core/src/main/java/com/lancedb/lance/file/LanceFileReader.java
  java/core/src/main/java/com/lancedb/lance/util/Range.java
  java/core/src/test/java/com/lancedb/lance/FileReaderWriterTest.java
Labels: enhancement, java

#3901 feat: support lance rust log in jni
  Cargo.lock
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/lib.rs
  java/core/src/main/java/com/lancedb/lance/JniLoader.java
Labels: enhancement, java

#3900 feat: add storage options for `LanceFileWriter`
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/file_writer.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/file/LanceFileWriter.java
Labels: enhancement, java

#3857 feat: expose auto cleanup config option for pylance
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset.rs
Labels: enhancement, python

#3882 perf!: improve conflict resolution performance
  Cargo.lock
  Cargo.toml
  java/core/pom.xml
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/pom.xml
  java/spark/pom.xml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/providers/memory.rs
  rust/lance-table/Cargo.toml
  rust/lance-table/src/io/commit.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/s3_test.rs
Labels: python, performance, java, breaking-change

#3847 feat!: introduce fragment reuse index to defer compaction index remap
  protos/table.proto
  python/src/dataset/optimize.rs
  python/src/transaction.rs
  rust/lance-core/src/utils/tracing.rs
  rust/lance-index/src/frag_reuse.rs
  rust/lance-index/src/lib.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/index.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/index/frag_reuse.rs
Labels: enhancement, python, breaking-change

#3883 chore: do followup clean for splitting spark repo
  LICENSE
  README.md
  java/.gitignore
Labels: java, chore

#3890 feat: update to the latest versions of arrow and datafusion, remove pin on chrono
  .github/workflows/python.yml
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/sql.rs
  rust/lance-datafusion/src/substrait.rs
  rust/lance-io/Cargo.toml
  rust/lance-io/src/object_store.rs
  rust/lance/src/io/exec/filtered_read.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/io/exec/testing.rs
  rust/lance/src/io/exec/utils.rs
Labels: enhancement, python

#3906 feat: remap an index with fragment reuse index
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/optimize/remapping.rs
Labels: enhancement, python

#3899 fix: `PrimitiveStructualEncoder` extract_validity buffer should follow flag keep_original_array
  rust/lance-arrow/src/deepcopy.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
Labels: bug
