Repository lancedb/lance, pull requests merged in 2025-08, with the labels that each got.

#4362 fix: make sure cloud features aren't implicitly enabled (lancedb/lancedb#2567)
  Cargo.toml
  rust/lance-core/Cargo.toml
  rust/lance-index/Cargo.toml
  rust/lance-io/Cargo.toml
  rust/lance-table/Cargo.toml
  rust/lance/Cargo.toml
  rust/lance/src/utils.rs
Labels: bug

#4378 ci: run jombo tests for 2.1
  .github/workflows/nightly_run.yml
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
Labels: ci

#4312 chore: add CLAUDE.md files to subdirectories
  java/CLAUDE.md
  protos/CLAUDE.md
  python/CLAUDE.md
Labels: python, java, chore

#4396 fix: don't panic when reading files if the last row was deleted
  rust/lance-encoding/src/decoder.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance/src/io/exec/filtered_read.rs
Labels: bug

#4391 feat: support nullability in struct correctly
  python/python/tests/test_blob.py
  rust/lance-arrow/src/lib.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/physical/packed.rs
  rust/lance-encoding/src/previous/encodings/physical/packed_struct.rs
  rust/lance/src/dataset.rs
Labels: enhancement, python

#4335 feat: expose decoder config at python side
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#4340 feat: allow empty projection
  python/python/tests/test_dataset.py
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-datafusion/src/projection.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/sql.rs
Labels: bug, enhancement, python, java, breaking-change

#4139 ci: polish workflow by reduce cache size and remove not needed actions
  .github/workflows/java.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  rust-toolchain.toml
Labels: ci

#4400 chore: bump package versions by hand
  Cargo.lock
  Cargo.toml
  java/core/lance-jni/Cargo.lock
  java/core/lance-jni/Cargo.toml
  java/core/pom.xml
  java/pom.xml
  python/Cargo.lock
  python/Cargo.toml
Labels: python, java, chore

#4399 chore(java): fix format command in CLAUDE.md
  java/CLAUDE.md
Labels: java, chore

#4403 fix: limit the depth of filter expression to 500
  python/python/tests/test_filter.py
  rust/lance-index/src/scalar/expression.rs
Labels: bug, python

#4397 feat(java): dataset supports reading transaction
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/schema.rs
  java/core/lance-jni/src/transaction.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/FragmentMetadata.java
  java/core/src/main/java/com/lancedb/lance/Transaction.java
  java/core/src/main/java/com/lancedb/lance/fragment/DataFile.java
  java/core/src/main/java/com/lancedb/lance/fragment/DeletionFile.java
  java/core/src/main/java/com/lancedb/lance/fragment/RowIdMeta.java
  java/core/src/main/java/com/lancedb/lance/operation/Append.java
  java/core/src/main/java/com/lancedb/lance/operation/Overwrite.java
  java/core/src/main/java/com/lancedb/lance/operation/Project.java
  java/core/src/main/java/com/lancedb/lance/operation/SchemaOperation.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
Labels: enhancement, python, java

#4398 fix: make sure aws feature is applied to code correctly
  rust/lance/src/dataset/builder.rs
Labels: bug

#4295 feat: implement `explain_plan` and `analyze_plan` for `merge_insert` operations
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/merge_insert/exec.rs
  rust/lance/src/dataset/write/merge_insert/exec/write.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python

#4402 ci: use bump-my-version for release automation
  .bumpversion.toml
  .github/workflows/bump-version/action.yml
  .github/workflows/make-release-commit.yml
  .github/workflows/pr-title.yml
  ci/bump_version.py
  ci/check_breaking_changes.py
  ci/check_versions.py
  ci/setup_version.py
  release_process.md
Labels: ci

#4404 feat(rust): support diff_meta api
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/delta.rs
Labels: enhancement

#4419 feat(java): java transaction supports merge operation
  java/core/lance-jni/src/transaction.rs
  java/core/src/main/java/com/lancedb/lance/operation/Merge.java
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
Labels: enhancement, java

#4413 fix: fix target alignment incorrect by using LanceBuffer borrow_to_typed_slice
  rust/lance-encoding/src/encodings/physical/binary.rs
Labels: bug

#4424 fix: wrong OSS path append
  rust/lance-io/src/object_store/providers/oss.rs
Labels: bug

#4432 ci: fix git tag not run correct and preview version not created correctly
  .github/workflows/make-release-commit.yml
Labels: ci

#4414 feat(java): java transaction supports rewrite operation
  java/core/lance-jni/Cargo.lock
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/traits.rs
  java/core/lance-jni/src/transaction.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/index/Index.java
  java/core/src/main/java/com/lancedb/lance/operation/Rewrite.java
  java/core/src/main/java/com/lancedb/lance/operation/RewriteGroup.java
  java/core/src/main/java/com/lancedb/lance/operation/RewrittenIndex.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
Labels: enhancement, java

#4435 feat(java): java transaction support restore and reserveFragments operation
  java/core/lance-jni/src/transaction.rs
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/operation/ReserveFragments.java
  java/core/src/main/java/com/lancedb/lance/operation/Restore.java
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
Labels: enhancement, java

#4431 fix: too large data chunk generated by highly compressed yet nested data with RLE
  rust/lance-encoding/src/encodings/physical/rle.rs
  rust/lance/src/dataset.rs
Labels: bug

#4439 perf: introduce `assume` for generating better code
  rust/lance-core/src/utils.rs
  rust/lance-core/src/utils/assume.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/utils.rs
  rust/lance-linalg/src/distance/dot.rs
  rust/lance-linalg/src/distance/l2.rs
Labels: performance

#4437 chore: add license into java/core/lance-jni sources and integrate ci
  .github/workflows/license-header-check.yml
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/blocking_scanner.rs
  java/core/lance-jni/src/error.rs
  java/core/lance-jni/src/ffi.rs
  java/core/lance-jni/src/file_reader.rs
  java/core/lance-jni/src/file_writer.rs
  java/core/lance-jni/src/fragment.rs
  java/core/lance-jni/src/lib.rs
  java/core/lance-jni/src/schema.rs
  java/core/lance-jni/src/sql.rs
  java/core/lance-jni/src/traits.rs
  java/core/lance-jni/src/transaction.rs
  java/core/lance-jni/src/utils.rs
  java/jni_license_header.txt
  java/license_header.txt
Labels: java, chore

#4033 feat: allow creating empty scalar indices
  python/python/lance/dataset.py
  python/python/tests/test_create_empty_index.py
  python/src/dataset.rs
  python/src/tracing.rs
  rust/lance-index/src/traits.rs
  rust/lance-table/src/format/index.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/index.rs
  rust/lance/src/index/create.rs
  rust/lance/src/index/mem_wal.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/index/vector.rs
Labels: enhancement, python, java

#4448 fix: btree prewarm causes offset overflow
  rust/lance-index/src/scalar/btree.rs
Labels: bug

#4449 feat: support blob encoding in format 2.1
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
Labels: enhancement

#4441 feat(java): introduce delete in transaction
  java/core/lance-jni/src/transaction.rs
  java/core/src/main/java/com/lancedb/lance/operation/Delete.java
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
Labels: enhancement, java

#4388 feat(rust): support update stable rowid without index
  rust/lance-table/benches/row_id_index.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/utils.rs
  rust/lance/src/dataset/write/delete.rs
  rust/lance/src/dataset/write/update.rs
Labels: enhancement

#4456 ci: fix stable release version bump
  ci/bump_version.py
Labels: ci

#4458 ci: bump fsst version during release
  .bumpversion.toml
Labels: ci

#4459 ci: skip version validation for workspace version crates
  ci/bump_version.py
Labels: ci

#4190 test: add recurring test
  .github/workflows/recurring-tests.yml
  python/Makefile
  python/pyproject.toml
Labels: python, chore

#4470 chore: remove log that was added for debug purpose
  rust/lance-index/src/scalar/expression.rs
Labels: chore

#4476 ci: pin tersorflow version to bring macOS ARM CI back
  python/pyproject.toml
Labels: python, ci

#4420 feat: add contains_tokens udf
  docs/src/integrations/datafusion.md
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/lib.rs
  rust/lance-datafusion/src/udf.rs
Labels: enhancement

#4467 fix: lance failed to encode 1025 rep/def values
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: bug

#4480 feat: add fuzz tests for encoding
  .gitignore
  Cargo.lock
  rust/lance-encoding/.gitignore
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/encodings.rs
  rust/lance-encoding/src/encodings/fuzz_tests.rs
Labels: enhancement

#4490 fix: posting lists cache conflicts across partitions
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug

#4502 feat(python): expose diff_meta for pylance
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
Labels: enhancement, python

#4503 fix: address fuzz test #4492
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: bug

#4505 perf: use heap to maintain topk results
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/graph.rs
Labels: performance

#4481 refactor!: rename stable row id feature flag
  docs/src/format/table/index.md
  docs/src/guide/read_and_write.md
  docs/src/images/stable_row_id_indices.png
  protos/table.proto
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_dataset.py
  python/python/tests/test_fragment.py
  python/src/dataset.rs
  rust/lance-table/src/feature_flags.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/optimize/remapping.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/delete.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/io/exec/filtered_read.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/io/exec/scalar_index.rs
Labels: python, breaking-change

#4507 feat: add a cycle_bool data generator
  rust/lance-datagen/src/generator.rs
Labels: enhancement

#4513 fix: fix FTS index cache underutilization due to DeepSizeOf overestimation
  rust/lance-arrow/src/deepcopy.rs
  rust/lance-arrow/src/lib.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug

#4525 fix: full text search BM25 score is not accurate
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: bug, python

#4526 fix: use java/lang/String to get DeletionFileType value
  java/core/lance-jni/src/fragment.rs
Labels: bug, java

#4450 feat(rust): support update stable row id for merge insert without index
  Cargo.lock
  python/Cargo.lock
  python/python/lance/dataset.py
  rust/lance-table/src/rowids.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/utils.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/merge_insert/exec/write.rs
  rust/lance/src/dataset/write/merge_insert/logical_plan.rs
  rust/lance/src/dataset/write/update.rs
Labels: enhancement, python

#4541 fix: handle parsing sql_cast_expr to datafusion expr properly
  rust/lance-datafusion/src/planner.rs
Labels: bug, enhancement

#4474 refactor: reduce lance-encoding compile times
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/compression/bitpacking/Cargo.toml
  rust/compression/bitpacking/src/lib.rs
  rust/compression/fsst/Cargo.toml
  rust/compression/fsst/examples/benchmark.rs
  rust/compression/fsst/src/fsst.rs
  rust/compression/fsst/src/lib.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/compression_algo/fsst/README.md
  rust/lance-encoding/src/compression_algo/mod.rs
  rust/lance-encoding/src/compression_config.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/bitpacking.rs
  rust/lance-encoding/src/encodings/physical/block.rs
  rust/lance-encoding/src/encodings/physical/byte_stream_split.rs
  rust/lance-encoding/src/encodings/physical/general.rs
  rust/lance-encoding/src/encodings/physical/packed.rs
  rust/lance-encoding/src/lib.rs
  rust/lance-encoding/src/previous/encoder.rs
  rust/lance-encoding/src/previous/encodings/logical/blob.rs
  rust/lance-encoding/src/previous/encodings/logical/primitive.rs
  rust/lance-encoding/src/previous/encodings/physical.rs
  rust/lance-encoding/src/previous/encodings/physical/binary.rs
  rust/lance-encoding/src/previous/encodings/physical/bitpack.rs
  rust/lance-encoding/src/previous/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/previous/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/previous/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/previous/encodings/physical/value.rs
  rust/lance-encoding/src/statistics.rs
  rust/lance-encoding/src/testing.rs
Labels: python

#4551 perf: fallback to brute force FTS if filters matching fewer rows
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: python, performance

#4483 test(java): re-construct tests for merge operation
  java/core/src/test/java/com/lancedb/lance/TransactionTest.java
  java/core/src/test/java/com/lancedb/lance/operation/AppendTest.java
  java/core/src/test/java/com/lancedb/lance/operation/DataReplacementTest.java
  java/core/src/test/java/com/lancedb/lance/operation/DeleteTest.java
  java/core/src/test/java/com/lancedb/lance/operation/MergeTest.java
  java/core/src/test/java/com/lancedb/lance/operation/OperationTestBase.java
  java/core/src/test/java/com/lancedb/lance/operation/OverwriteTest.java
  java/core/src/test/java/com/lancedb/lance/operation/ProjectTest.java
  java/core/src/test/java/com/lancedb/lance/operation/ReserveFragmentsTest.java
  java/core/src/test/java/com/lancedb/lance/operation/RestoreTest.java
  java/core/src/test/java/com/lancedb/lance/operation/RewriteTest.java
  java/core/src/test/java/com/lancedb/lance/operation/UpdateConfigTest.java
  java/core/src/test/java/com/lancedb/lance/operation/UpdateTest.java
Labels: java, chore

#4552 feat: provide feature flag for shallow cloning
  rust/lance-table/src/feature_flags.rs
  rust/lance-table/src/format.rs
Labels: enhancement

#4562 fix: restore behavior of projection plans from schema
  rust/lance-datafusion/src/projection.rs
  rust/lance/src/dataset/scanner.rs
Labels: bug

#4555 chore: configurable FTS flat search threshold
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: python, chore

#4565 docs: fix inverted index default values in pydoc
  python/python/lance/dataset.py
  rust/lance-index/src/scalar/inverted/tokenizer.rs
Labels: documentation, python

#4563 refactor: remove Ray integration from Lance core
  .github/workflows/docs-deploy.yml
  docs/src/integrations/.pages
  docs/src/integrations/ray.md
  python/pyproject.toml
  python/python/lance/dependencies.py
  python/python/lance/ray/__init__.py
  python/python/lance/ray/distribute_task.py
  python/python/lance/ray/fragment_api.py
  python/python/lance/ray/sink.py
  python/python/tests/test_ray.py
  python/python/tests/test_s3_ddb.py
Labels: python

#4572 ci: add fsst and bitpacking to bumpversion.toml
  .bumpversion.toml
Labels: ci

#4113 perf: add dataset random take benchmark
  python/python/benchmarks/test_take.py
Labels: python, performance

#4545 feat: add lance-tools command
  Cargo.lock
  Cargo.toml
  rust/lance-tools/Cargo.toml
  rust/lance-tools/README.md
  rust/lance-tools/src/cli.rs
  rust/lance-tools/src/lib.rs
  rust/lance-tools/src/main.rs
  rust/lance-tools/src/meta.rs
  rust/lance-tools/src/util.rs
Labels: enhancement, java

#4574 chore: enable Maven auto-publish for Java artifacts
  java/pom.xml
Labels: java, chore

#4566 feat: add JSONB read/write support
  Cargo.lock
  Cargo.toml
  java/core/lance-jni/Cargo.lock
  python/Cargo.lock
  python/python/lance/dataset.py
  python/python/tests/test_json.py
  python/src/arrow.rs
  rust/lance-arrow/Cargo.toml
  rust/lance-arrow/src/bfloat16.rs
  rust/lance-arrow/src/json.rs
  rust/lance-arrow/src/lib.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/udf.rs
  rust/lance-datafusion/src/udf/json.rs
  rust/lance-file/src/datatypes.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/utils/tfrecord.rs
Labels: enhancement, python, java

#4576 perf: improve FTS performance for long query
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance/src/dataset.rs
Labels: performance

#4509 feat!: add storage options to wrapping object store
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/providers.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/utils/test.rs
  rust/lance/src/utils/test/throttle_store.rs
Labels: enhancement, breaking-change

#4582 chore: add contrib project docs to navigation sidebar
  .github/workflows/docs-deploy.yml
Labels: bug, chore

#4528 feat(java): add deleteRows for Fragment
  java/core/lance-jni/src/fragment.rs
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/RowAddress.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  rust/lance/src/dataset/fragment.rs
Labels: enhancement, java

#4580 fix: include base_id in DeletionFile serialization
  python/python/tests/test_fragment.py
  python/src/fragment.rs
Labels: bug, python

#4588 chore: async-std has been discontinued
  .github/workflows/rust.yml
  .typos.toml
  deny.toml
Labels: python, chore

#4587 fix: index out of bounds caused by exhausted posting iterator
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: bug

#4519 feat: add cumulative_cpu output to analyze_plan string
  python/python/lance/dataset.py
  rust/lance-datafusion/src/exec.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: bug, enhancement, python

#4496 feat(rust): support update stable row id for overlapping
  rust/lance-table/benches/row_id_index.rs
  rust/lance-table/src/rowids.rs
  rust/lance-table/src/rowids/index.rs
  rust/lance-table/src/rowids/segment.rs
  rust/lance/src/dataset/rowids.rs
Labels: enhancement

#4577 feat: add UDFs for json
  python/pyproject.toml
  python/python/tests/test_json.py
  rust/lance-arrow/src/json.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/udf.rs
  rust/lance-datafusion/src/udf/json.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/utils.rs
  rust/lance/src/dataset/write.rs
Labels: enhancement, python
