Repository lancedb/lance, pull requests merged in 2025-09, with the labels that each got.

#4599 docs: add docs for JSON and JSON UDFs
  docs/src/guide/.pages
  docs/src/guide/json.md
  docs/src/integrations/datafusion.md
Labels: documentation

#4606 chore: fix wrong order of assertEquals
  java/core/src/test/java/com/lancedb/lance/SqlQueryTest.java
Labels: java, chore

#4597 feat: allow using opendal to access s3, azblob and gcs
  Cargo.lock
  deny.toml
  python/Cargo.lock
  rust/lance-io/Cargo.toml
  rust/lance-io/src/object_store/providers/aws.rs
  rust/lance-io/src/object_store/providers/azure.rs
  rust/lance-io/src/object_store/providers/gcp.rs
Labels: enhancement, python

#4623 fix: can't train vector index with cosine distance on GPU
  python/python/tests/test_vector_index.py
  rust/lance-index/src/vector/transform.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index/vector/builder.rs
Labels: bug, python

#4635 chore: fix publish for lance-tools
  rust/lance-tools/Cargo.toml
Labels: chore

#4636 refactor(python): refactor take bench and support parametrize compression
  python/python/benchmarks/test_take.py
Labels: python

#4640 docs: polish docs for JSON data types
  docs/src/guide/json.md
Labels: documentation

#4633 chore: add test for index shallow_clone mulitple times
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/index.rs
Labels: chore

#4605 feat: add json parser for FtsQuery
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/parser.rs
  rust/lance-index/src/scalar/inverted/query.rs
Labels: enhancement

#4654 chore: update object_store
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/lance-core/src/utils/testing.rs
  rust/lance-io/src/object_store/tracing.rs
  rust/lance-io/src/testing.rs
  rust/lance/src/utils/test.rs
Labels: python, chore

#4649 feat(java): supports fragment-level mergeColumn interface
  java/core/lance-jni/src/fragment.rs
  java/core/src/main/java/com/lancedb/lance/Fragment.java
  java/core/src/main/java/com/lancedb/lance/fragment/FragmentMergeResult.java
  java/core/src/test/java/com/lancedb/lance/FragmentTest.java
  java/core/src/test/java/com/lancedb/lance/TestUtils.java
Labels: enhancement, java

#4646 fix: use better error estimation for float32 dot product
  rust/lance-linalg/src/distance/dot.rs
Labels: bug, chore

#4657 chore: upgrade jieba-rs to 0.8.1
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
Labels: python, chore

#4578 feat: support build FTS index distributedly
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  python/src/transaction.rs
  python/src/utils.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/tokenizer.rs
  rust/lance/src/dataset.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/create.rs
  rust/lance/src/index/scalar.rs
Labels: enhancement, python

#4671 chore: fix wrong paths after java module refactoring
  .bumpversion.toml
  .github/workflows/java-publish.yml
  .github/workflows/license-header-check.yml
Labels: chore

#4674 feat(java): extends WriteParams in java with `enable_stable_row_ids` option
  java/lance-jni/src/blocking_dataset.rs
  java/lance-jni/src/ffi.rs
  java/lance-jni/src/fragment.rs
  java/lance-jni/src/utils.rs
  java/src/main/java/com/lancedb/lance/Dataset.java
  java/src/main/java/com/lancedb/lance/Fragment.java
  java/src/main/java/com/lancedb/lance/WriteParams.java
  java/src/test/java/com/lancedb/lance/DatasetTest.java
  java/src/test/java/com/lancedb/lance/TestUtils.java
Labels: enhancement, java

#4642 docs: non-optional enum fields in proto3 do not have explicit presence
  protos/table.proto
Labels: documentation

#4679 fix: correctly decode lists with all nulls
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: bug

#4680 fix: circular reference in index caching leaks memory
  python/pyproject.toml
  python/python/tests/test_memory_leaks.py
  rust/lance-core/src/cache.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/benches/ngram.rs
  rust/lance-index/benches/zonemap.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/json.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-index/src/scalar/registry.rs
  rust/lance-index/src/scalar/zonemap.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/session.rs
  rust/lance/src/session/caches.rs
  rust/lance/src/session/index_caches.rs
Labels: bug, python

#4614 feat: add new cleanup policy to retain latest n versions
  rust/lance-io/src/object_store.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
Labels: enhancement

#4673 feat!: add MERGED state to MemWAL index
  java/lance-jni/src/transaction.rs
  protos/table.proto
  protos/transaction.proto
  python/src/transaction.rs
  rust/lance-index/src/mem_wal.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/dataset/write/merge_insert/exec/write.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index/mem_wal.rs
  rust/lance/src/io/commit/conflict_resolver.rs
Labels: enhancement, python, java, breaking-change

#4699 feat: optimize bitmap index with lazy loading and column projection
  rust/lance-index/src/scalar/bitmap.rs
Labels: enhancement

#4714 perf: avoid per-iop clone of filename
  rust/lance-io/src/scheduler.rs
Labels: performance

#4725 fix: refine SIMD support detection for AArch64 on iOS/tvOS
  rust/lance-core/src/utils/cpu.rs
Labels: bug

#4734 fix: correct underestimate of Bloom filter epsilon
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar/bloomfilter/sbbf.rs
Labels: bug, python

#4726 perf: hierarchical clustering
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-index/benches/kmeans.rs
  rust/lance-index/src/optimize.rs
  rust/lance-index/src/vector/kmeans.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-linalg/src/kernels.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/exec/filtered_read.rs
  rust/lance/src/io/exec/knn.rs
Labels: python, performance

#4750 fix: fix the preview release is wrong for preview versions
  .github/workflows/make-release-commit.yml
Labels: bug

#4763 chore: split python indexing code into small components
  python/python/lance/indices/__init__.py
  python/python/lance/indices/builder.py
  python/python/lance/indices/ivf.py
  python/python/lance/indices/pq.py
Labels: python, chore

#4764 feat: exposing option to provide a serialized manifest to the Java SDK
  java/lance-jni/src/blocking_dataset.rs
  java/src/main/java/com/lancedb/lance/Dataset.java
  java/src/main/java/com/lancedb/lance/ReadOptions.java
  java/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#4770 docs: make duckdb example runnable
  docs/src/integrations/duckdb.md
Labels: documentation

#4742 fix(FlatMatchQuery): add support for List of Utf8
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug, python

#4766 fix: fts boolean query and boost query do not support phrase
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar.rs
  rust/lance/src/io/exec/fts.rs
Labels: bug, python

#4743 fix: speed up generating ProjectionPlan for full schema
  rust/lance-datafusion/src/projection.rs
Labels: bug

#4768 perf: cache num_cpus::get
  rust/lance-core/src/utils/tokio.rs
Labels: performance

#4740 feat: allow out-of-line bitpacking supports tail chunk
  rust/lance-encoding/src/encodings/physical/bitpacking.rs
Labels: enhancement

#4784 fix: fix decoder bugs in 2.1 list handling, expand test coverage
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/fuzz_tests.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/bitpacking.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/encodings/physical/rle.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/previous/encoder.rs
  rust/lance-encoding/src/previous/encodings/logical/blob.rs
  rust/lance-encoding/src/previous/encodings/physical/bitmap.rs
  rust/lance-encoding/src/previous/encodings/physical/bitpack.rs
  rust/lance-encoding/src/previous/encodings/physical/dictionary.rs
  rust/lance-encoding/src/previous/encodings/physical/fixed_size_binary.rs
  rust/lance-encoding/src/previous/encodings/physical/fixed_size_list.rs
  rust/lance-encoding/src/previous/encodings/physical/packed_struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-encoding/src/version.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit/conflict_resolver.rs
Labels: bug, python

#4684 feat: add udtf for fts query
  rust/lance/src/datafusion/dataframe.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/udtf.rs
Labels: enhancement

#4786 fix: move indexes back to table.proto to avoid forward compat. issues
  .github/workflows/python.yml
  protos/index.proto
  protos/index_old.proto
  python/python/tests/forward_compat/datagen.py
  python/python/tests/forward_compat/test_compat.py
  python/python/tests/forward_compat/util.py
  python/python/tests/test_scalar_index.py
  rust/lance-index/benches/ngram.rs
  rust/lance-index/benches/zonemap.rs
  rust/lance-index/build.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/tokenizer.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-index/src/scalar/registry.rs
  rust/lance-index/src/scalar/zonemap.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/index/scalar.rs
  test_data/.gitignore
  test_data/0.36.0/README.md
  test_data/0.36.0/btree_in_index_pkg.lance/_indices/a71ff08b-bb4c-4f4d-9cd0-a88e2684fc7b/page_data.lance
  test_data/0.36.0/btree_in_index_pkg.lance/_indices/a71ff08b-bb4c-4f4d-9cd0-a88e2684fc7b/page_lookup.lance
  test_data/0.36.0/btree_in_index_pkg.lance/_transactions/0-0016483e-4bb6-445e-a414-378c7a67ec1d.txn
  test_data/0.36.0/btree_in_index_pkg.lance/_transactions/1-5d10dd5e-2efc-4352-a341-004c47726b06.txn
  test_data/0.36.0/btree_in_index_pkg.lance/_versions/1.manifest
  test_data/0.36.0/btree_in_index_pkg.lance/_versions/2.manifest
  test_data/0.36.0/btree_in_index_pkg.lance/data/26637990-d7f6-43ab-be33-068e25a4895b.lance
  test_data/0.36.0/datagen.py
  test_data/forward_compat/.gitignore
Labels: bug, python

#4754 feat: support manifeset summary and get it from Version
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset.rs
Labels: enhancement

#4802 feat: implement blob encoding for 2.1
  protos/encodings_v2_1.proto
  rust/lance-core/src/datatypes.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/primitive/blob.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/previous/encodings/logical/blob.rs
  rust/lance-encoding/src/testing.rs
Labels: enhancement

#4811 feat(index/fts): build fst at write time instead of read time
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/merger.rs
Labels: enhancement

#4813 feat: add support for already-dictionary to 2.1
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/primitive/dict.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/previous/encodings/physical/dictionary.rs
Labels: enhancement

#4810 docs: vector index specs
  docs/src/format/table/index/.pages
  docs/src/format/table/index/vector/.pages
  docs/src/format/table/index/vector/index.md
Labels: documentation

#4815 refactor: cowardly refuse to use scalar indexes on expressions with null literals
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/expression.rs
Labels: python

#4816 chore: bump python support version to 3.13
  .github/workflows/pypi-publish.yml
  .github/workflows/python.yml
  .github/workflows/recurring-tests.yml
  python/pyproject.toml
Labels: python, chore

#4817 chore: fix various typos in the index spec and add sbbf details
  docs/src/format/table/index/index.md
  docs/src/format/table/index/scalar/bloom_filter.md
  docs/src/format/table/index/scalar/btree.md
  docs/src/format/table/index/scalar/fts.md
  docs/src/format/table/index/system/frag_reuse.md
  docs/src/format/table/index/system/memwal.md
  docs/src/format/table/index/vector/index.md
Labels: chore

#4793 test: add python test for configuring the zone size of a zone map index
  python/python/tests/test_scalar_index.py
Labels: python, chore

#4824 fix: don't interpret 64-bit offsets as 32 bits when decompressing per-value data in 2.1
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/constants.rs
  rust/lance-encoding/src/encodings/physical/block.rs
  rust/lance-encoding/src/testing.rs
Labels: bug

#4834 chore: remove unused dependency async-priority-channel
  Cargo.lock
  python/Cargo.lock
  rust/lance-io/Cargo.toml
Labels: python, chore

#4710 feat(rust)!: support branch based on shallow_clone
  java/lance-jni/src/blocking_dataset.rs
  protos/table.proto
  protos/transaction.proto
  python/src/dataset.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/branch_location.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/refs.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
Labels: enhancement, python, java, breaking-change

#4852 fix: fix typo "blfoat16" -> "bfloat16" in datatypes.rs
  rust/lance-core/src/datatypes.rs
Labels: bug

#4840 feat: allow reading blob descs in 2.1, fix bugs in FSL decoder when items are nullable
  protos/encodings_v2_1.proto
  python/python/lance/file.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_dataset.py
  python/python/tests/test_file.py
  python/python/tests/test_migration.py
  python/python/tests/test_optimize.py
  python/python/tests/test_scalar_index.py
  python/src/file.rs
  python/src/lib.rs
  rust/lance-arrow/src/lib.rs
  rust/lance-arrow/src/schema.rs
  rust/lance-core/src/datatypes.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/compression.rs
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/primitive/blob.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical/constant.rs
  rust/lance-encoding/src/encodings/physical/value.rs
  rust/lance-encoding/src/format.rs
  rust/lance-encoding/src/previous/encoder.rs
  rust/lance-encoding/src/previous/encodings/logical/blob.rs
  rust/lance-encoding/src/repdef.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python
