Repository lancedb/lance, pull requests merged in 2025-06, with the labels that each got.

#3921 fix: unexpected posting block size when remap posting list
  rust/lance-core/src/container/list.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/scalar/inverted/encoding.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance/src/dataset/optimize/remapping.rs
  rust/lance/src/index/frag_reuse.rs
Labels: bug

#3920 fix: some compile error for index
  rust/lance/src/dataset/optimize/remapping.rs
  rust/lance/src/index/frag_reuse.rs
Labels: bug

#3929 chore: fix rebase error
  rust/lance/src/dataset/index/frag_reuse.rs
  rust/lance/src/index/frag_reuse.rs
Labels: chore

#3930 docs: fix some grammatical errors for operations comments
  rust/lance/src/dataset/transaction.rs
Labels: documentation

#3918 fix: skip non-leaf fields when projecting by column names in 2.1
  Cargo.lock
  java/core/lance-jni/src/file_reader.rs
  rust/lance-core/src/datatypes/field.rs
  rust/lance-file/Cargo.toml
  rust/lance-file/src/v2/reader.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance/src/dataset/fragment.rs
Labels: bug, java

#3934 fix: prevent and handle empty fragments
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/conflict_resolver.rs
Labels: bug

#3937 fix: correctly specify schema in encoded substrait for expr
  rust/lance-datafusion/src/substrait.rs
Labels: bug

#3907 feat(java): support checkout version
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3936 fix: newer indices may be read from cache
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/index.rs
Labels: bug

#3941 feat: add storage options for `LanceFileReader`
  java/core/lance-jni/src/file_reader.rs
  java/core/src/main/java/com/lancedb/lance/file/LanceFileReader.java
  java/core/src/test/java/com/lancedb/lance/FileReaderWriterTest.java
Labels: enhancement, java

#3935 feat: prefix matching for FTS
  python/python/lance/query.py
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/iter.rs
  rust/lance-index/src/scalar/inverted/query.rs
  rust/lance/src/io/exec/fts.rs
Labels: enhancement, python

#3945 feat(java): support list versions and checkout version in Dataset
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/Version.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3817 feat: add a few lance examples in Rust
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  docs/examples/Python/artefact_management.rst
  docs/examples/Python/clip_training.rst
  docs/examples/Python/flickr8k_dataset_creation.rst
  docs/examples/Python/llm_dataset_creation.rst
  docs/examples/Python/llm_training.rst
  docs/examples/Python/spark_datasource_example.rst
  docs/examples/Rust/hnsw.rst
  docs/examples/Rust/llm_dataset_creation.rst
  docs/examples/Rust/write_read_dataset.rst
  docs/examples/examples.rst
  python/Cargo.lock
  rust/examples/Cargo.toml
  rust/examples/src/full_text_search.rs
  rust/examples/src/hnsw.rs
  rust/examples/src/ivf_hnsw.rs
  rust/examples/src/llm_dataset_creation.rs
  rust/examples/src/write_read_ds.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance/examples/hnsw.rs
Labels: enhancement, python

#3952 feat: rebase conflict between rewrite and frag reuse index cleanup
  rust/lance/src/dataset/index.rs
  rust/lance/src/dataset/index/frag_reuse.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/transaction.rs
  rust/lance/src/index/frag_reuse.rs
  rust/lance/src/io/commit/conflict_resolver.rs
Labels: enhancement

#3956 fix: null value rows missing after bitmap remap
  rust/lance-index/src/scalar/bitmap.rs
Labels: bug

#3959 chore(ci): maximize build space to avoid no space left for rust build
  .github/workflows/rust.yml
Labels: ci, chore

#3974 fix: call remove_outer_validity() before dictionary_encode
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
Labels: bug

#3978 fix: don't crash when reading index trained on old version
  python/Cargo.lock
  python/python/tests/test_migration.py
  rust/lance/src/io/exec/scalar_index.rs
  test_data/v0.18.2/index_no_details.lance/_indices/f1fc279b-59f2-4617-a3e7-057af5fee009/page_data.lance
  test_data/v0.18.2/index_no_details.lance/_indices/f1fc279b-59f2-4617-a3e7-057af5fee009/page_lookup.lance
  test_data/v0.18.2/index_no_details.lance/_transactions/0-5690b12b-f47e-401f-828d-e7493702eee9.txn
  test_data/v0.18.2/index_no_details.lance/_transactions/1-8d8fb153-abd4-43f8-9a8c-005bb7ff0de2.txn
  test_data/v0.18.2/index_no_details.lance/_versions/1.manifest
  test_data/v0.18.2/index_no_details.lance/_versions/2.manifest
  test_data/v0.18.2/index_no_details.lance/data/78e5b8c8-4fb0-42b0-96cb-57278b250c90.lance
Labels: bug, python

#3954 fix: don't panic on DF table provider if test has filter on indexed column
  python/python/tests/test_table_provider.py
  python/src/lib.rs
  rust/lance/src/io/exec/rowids.rs
Labels: bug, python

#4019 fix: panic caused by reading empty posting list
  Cargo.lock
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/wand.rs
Labels: bug

#4022 feat(rust): add get config interface for dataset
  rust/lance/src/dataset.rs
Labels: enhancement, chore

#4025 chore: fix broken spark doc link
  docs/distributed_write.rst
Labels: chore

#4002 feat: support unenforced primary key concept in schema
  protos/file.proto
  rust/lance-core/src/datatypes/field.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-file/src/datatypes.rs
Labels: enhancement

#3949 feat!: move file metadata cache to bytes capacity
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/file_reader.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/main/java/com/lancedb/lance/ReadOptions.java
  python/python/lance/__init__.py
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/dataset.rs
  python/src/file.rs
  rust/lance-core/src/cache.rs
  rust/lance-encoding-datafusion/src/zone.rs
  rust/lance-encoding/benches/decoder.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/reader.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-file/src/v2/testing.rs
  rust/lance-file/src/v2/writer.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance-table/src/format/manifest.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/index.rs
  rust/lance/src/dataset/rowids.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/index.rs
  rust/lance/src/index/prefilter.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/conflict_resolver.rs
  rust/lance/src/io/deletion.rs
  rust/lance/src/session.rs
Labels: enhancement, python, java, breaking-change

#4032 feat: redirect Spark documentation to new lance-spark website
  docs/examples/Python/spark_datasource_example.rst
  docs/examples/examples.rst
  docs/index.rst
  docs/integrations/spark.rst
Labels: enhancement

#3932 fix: separate loading configuration handling for jieba and lindera
  docs/tokenizer.rst
  python/python/tests/models/lindera/invalid_dict/config.json
  python/python/tests/models/lindera/invalid_dict/config.yml
  python/python/tests/models/lindera/invalid_dict2/config.json
  python/python/tests/models/lindera/invalid_dict2/config.yml
  python/python/tests/models/lindera/ipadic/config.yml
  python/python/tests/models/lindera/load_config_fallback/config_env.yml
  python/python/tests/models/lindera/load_config_priority/config.yml
  python/python/tests/models/lindera/load_config_priority/config_env.yml
  python/python/tests/models/lindera/user_dict/config.json
  python/python/tests/models/lindera/user_dict/config.yml
  python/python/tests/models/lindera/user_dict2/config.json
  python/python/tests/models/lindera/user_dict2/config.yml
  python/python/tests/test_scalar_index.py
  rust/lance-index/Cargo.toml
  rust/lance-index/src/scalar/inverted/tokenizer.rs
  rust/lance-index/src/scalar/inverted/tokenizer/jieba.rs
  rust/lance-index/src/scalar/inverted/tokenizer/lindera.rs
Labels: bug, python

#4035 fix: reading large fragment reuse index details fails with file not found
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/index/frag_reuse.rs
Labels: bug

#4042 chore: fix compile error due to remaining FileMetadataCache
  rust/lance/src/index/vector/ivf/v2.rs
Labels: chore

#4024 feat: add cache stats for new cache
  rust/lance-core/src/cache.rs
  rust/lance/src/session.rs
Labels: enhancement, python, java

#3886 feat: add consecutive batch shard sampler for pytorch
  python/python/lance/sampler.py
  python/python/tests/test_sampler.py
Labels: enhancement, python

#3671 feat: add IVF_HNSW_FLAT index
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-index/src/lib.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement, python

#4058 chore: remove unused method compute_partitions
  rust/lance-index/src/vector/ivf/transform.rs
Labels: chore

#4023 refactor: don't use schema dictionary unless using legacy storage
  python/python/tests/test_dataset.py
  rust/lance-table/src/format/manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/dataset/write/insert.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: python

#4045 fix: torchdataset for lance does not support S3
  python/python/lance/torch/data.py
  python/python/tests/torch_tests/test_data.py
Labels: bug, python

#4067 chore: fix broken HuggingFace wikitext dataset link
  docs/examples/Python/llm_dataset_creation.rst
Labels: chore

#4065 fix: take benchmark can not read dataset
  rust/lance/benches/take.rs
Labels: bug

#3967 feat: support large_string/large_binary in lance format v2.1
  Cargo.lock
  deny.toml
  python/Cargo.lock
  rust/lance-encoding/Cargo.toml
  rust/lance-encoding/src/data.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/statistics.rs
Labels: bug, enhancement, python

#3984 fix(doc): fix doc typo in Ray integration documentation for Lance Data Sink
  docs/integrations/ray.rst
Labels: bug

#3866 docs: fix write_dataset append mode obsolete description
  python/python/lance/dataset.py
Labels: documentation, python

#4080 feat: upgrade arrow object_store to 0.12.2
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance-core/src/utils/testing.rs
  rust/lance-file/src/lib.rs
  rust/lance-io/src/object_reader.rs
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_store/list_retry.rs
  rust/lance-io/src/object_store/tracing.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/refs.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python

#4077 fix: don't check vector indices when loading scalar index
  rust/lance/src/index/scalar.rs
Labels: bug

#4093 fix: typo in `feature_flags.rs`
  rust/lance-table/src/feature_flags.rs
Labels: bug

#4076 feat: add random take bench based on file reader api and fragment api
  rust/lance/benches/take.rs
  rust/lance/src/dataset.rs
Labels: enhancement

#4096 feat: support IVF_SQ index
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement, python

#3667 feat: add ignore_missing flag for safe dataset deletion
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_dataset.py
  python/src/dataset.rs
Labels: enhancement, python

#3633 feat: add a toggle for automatic rank/world_size discovery
  python/python/lance/torch/data.py
Labels: bug, enhancement, python

#4098 chore: update tantivy version to 0.24.1
  Cargo.lock
  Cargo.toml
Labels: chore

#4039 feat(java): support config operation for Dataset
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/lance-jni/src/utils.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java
