Repository lancedb/lance, pull requests merged in 2025-02, with the labels that each got.

#3428 feat: auto-migrate old index metadata
  rust/lance-core/src/utils.rs
  rust/lance-core/src/utils/parse.rs
  rust/lance-io/src/object_store.rs
  rust/lance/src/dataset.rs
  rust/lance/src/index.rs
Labels: enhancement

#3431 fix: bump openssl for CVE
  Cargo.lock
  python/Cargo.lock
Labels: bug, python

#3408 feat: allow replacement of entire datafile when the schema lines up correctly
  protos/transaction.proto
  python/python/lance/dataset.py
  python/python/lance/file.py
  python/python/lance/ray/sink.py
  python/python/tests/test_dataset.py
  python/src/transaction.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/transaction.rs
Labels: enhancement, python, rust

#3432 chore: clean up reader coerce in fragment.py
  python/python/lance/fragment.py
  python/python/lance/types.py
Labels: python, chore

#3434 fix: remove extraneous padding in plain encoder
  rust/lance-arrow/src/lib.rs
  rust/lance-io/src/encodings/plain.rs
Labels: bug

#3436 test: assert the indexed/unindexed rows for optimizing tests
  rust/lance/src/index.rs
Labels: chore

#3441 fix: implement with_new_children for FTS
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/fts.rs
Labels: bug

#3442 fix: don't eagerly materialize fields that the user hasn't asked for
  .pre-commit-config.yaml
  java/core/src/test/java/com/lancedb/lance/FilterTest.java
  java/core/src/test/java/com/lancedb/lance/ScannerTest.java
  python/python/lance/dataset.py
  python/python/lance/fragment.py
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write/merge_insert.rs
Labels: bug, python, java

#3438 perf: make miniblock decoding cheaper
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/build.rs
  rust/lance-encoding/src/buffer.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encoder.rs
  rust/lance-encoding/src/encodings/logical/binary.rs
  rust/lance-encoding/src/encodings/logical/blob.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/primitive.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/encodings/physical.rs
  rust/lance-encoding/src/encodings/physical/binary.rs
  rust/lance-encoding/src/encodings/physical/block_compress.rs
  rust/lance-encoding/src/encodings/physical/fsst.rs
  rust/lance-encoding/src/format.rs
  rust/lance-file/src/v2.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance/src/dataset/fragment.rs
Labels: performance

#3446 fix: allocate much memory for residual vectors than needed
  rust/lance-index/src/vector/residual.rs
Labels: bug

#3451 fix: flat KNN column stats order doesn't match schema
  rust/lance/src/io/exec/knn.rs
Labels: bug

#3458 feat: expose specifying scanner filters via datafusion
  rust/lance/src/dataset/scanner.rs
Labels: enhancement

#3454 feat(python): add files lance/schema.py, lance/file.py, lance/util.py for pyright typecheck
  python/pyproject.toml
Labels: enhancement, python

#3456 feat(java): support add columns via reader
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3462 feat: support to read IVF partitions
  python/python/lance/dataset.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance-index/src/traits.rs
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/hnsw/index.rs
  rust/lance/src/index.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/session/index_extension.rs
Labels: enhancement, python

#3470 fix: flat FTS panic with prefilter
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/inverted/index.rs
Labels: bug, python

#3469 fix: temporarily disable spilling when training indices on string columns
  python/python/tests/test_scalar_index.py
  rust/lance-index/src/scalar/btree.rs
  rust/lance/src/index/scalar.rs
Labels: bug, python

#3471 feat: add with_new_children implementations for several nodes
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/io/exec/scalar_index.rs
Labels: enhancement

#3468 feat: add support for ngram indices
  .typos.toml
  protos/table.proto
  python/python/lance/dataset.py
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  rust/lance-core/src/datatypes/schema.rs
  rust/lance-core/src/utils/mask.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/scalar.rs
  rust/lance/src/io/exec/scalar_index.rs
Labels: enhancement, python

#3476 fix: scalar quantization can't work with NaNs
  rust/lance-index/src/vector/sq.rs
Labels: bug

#3479 docs: fix typo in read_and_write.rst
  docs/read_and_write.rst
Labels: documentation

#3302 docs: add README.md for java module
  java/README.md
Labels: documentation, java

#3453 chore(api)!: remove unused param in take call
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/python/lance/dataset.py
Labels: python, chore, breaking-change

#3484 feat: add support for explain analyze
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_dataset.py
  python/src/scanner.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/io/exec/utils.rs
Labels: enhancement, python
