Repository lancedb/lance, pull requests merged in 2025-03, with the labels that each got.

#3495 chore: update clippy suggestions
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/src/lib.rs
  python/src/scanner.rs
  rust/lance-core/src/utils/mask.rs
  rust/lance-datafusion/src/planner.rs
  rust/lance-encoding/src/compression_algo/fsst/src/fsst.rs
Labels: python, chore

#3498 feat(java): support delete rows from the dataset
  java/core/lance-jni/src/blocking_dataset.rs
  java/core/src/main/java/com/lancedb/lance/Dataset.java
  java/core/src/test/java/com/lancedb/lance/DatasetTest.java
Labels: enhancement, java

#3499 feat: add support for empty structs to the 2.0 format
  python/python/tests/test_file.py
  rust/lance-datagen/src/generator.rs
  rust/lance-encoding/src/decoder.rs
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/logical/struct.rs
  rust/lance-encoding/src/testing.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement, python

#3467 feat: cache v3 index partitions in dataset session
  rust/lance-index/src/vector.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement

#3497 feat: add support for pickling fragment metadata
  python/python/lance/lance/fragment.pyi
  python/python/tests/test_fragment.py
  python/src/fragment.rs
Labels: enhancement, python

#3501 perf: parallelize ngram indexing
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/ngram.rs
Labels: performance

#3504 feat: support add all null column as metadata-only operation via sql
  python/python/tests/test_schema_evolution.py
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/schema_evolution/optimize.rs
Labels: enhancement, python

#3500 fix: bypass the arrow take for struct array
  python/python/tests/test_dataset.py
  rust/lance/src/dataset/take.rs
Labels: bug, python

#3437 perf: implement XTR for retrieving multivector
  rust/lance-linalg/src/distance.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/testing.rs
Labels: performance

#3506 fix: prevent despecialization of object store methods
  rust/lance-io/src/object_store/tracing.rs
  rust/lance/src/utils/test.rs
Labels: bug

#3502 fix: the IVF/PQ centroids/codebook is with wrong data type if training on GPU
  python/python/lance/dataset.py
  python/python/lance/vector.py
  python/python/tests/test_f16.py
Labels: bug, python

#3509 docs: include create scalar index and drop index to the top level of Python API doc
  docs/api/python.rst
  python/python/lance/dataset.py
Labels: documentation, python

#3483 feat: `ConditionalPutCommitHandler` for concurrency on S3, faster commit
  .github/workflows/python.yml
  .github/workflows/run_integtests/action.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  docs/read_and_write.rst
  python/python/tests/test_s3_ddb.py
  rust/lance-io/src/object_store.rs
  rust/lance-table/Cargo.toml
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/dynamodb.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance-table/src/io/manifest.rs
  rust/lance/Cargo.toml
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/refs.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/dynamodb.rs
  rust/lance/src/io/commit/external_manifest.rs
  rust/lance/src/io/commit/s3_test.rs
  rust/lance/src/utils/test.rs
Labels: enhancement, python

#3511 feat: add gcp token-based auth support
  rust/lance-io/src/object_store.rs
Labels: enhancement, python

#3503 feat!: update DataFusion to 45.0 and Arrow to 54.1
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/src/datagen.rs
  python/src/dataset.rs
  python/src/dataset/blob.rs
  python/src/dataset/commit.rs
  python/src/dataset/optimize.rs
  python/src/dataset/stats.rs
  python/src/file.rs
  python/src/fragment.rs
  python/src/indices.rs
  python/src/lib.rs
  python/src/schema.rs
  python/src/tracing.rs
  python/src/transaction.rs
  python/src/utils.rs
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance/src/datafusion/dataframe.rs
  rust/lance/src/io/exec/rowids.rs
Labels: enhancement, python, breaking-change

#3519 feat: emit a trace event when a significant user file is created or deleted
  python/Cargo.lock
  python/Cargo.toml
  python/src/lib.rs
  rust/lance-table/src/io/deletion.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/write.rs
Labels: enhancement, python

#3520 fix: pass down correct types when creating indices and items scheduler
  rust/lance-encoding/src/encodings/logical/list.rs
  rust/lance-encoding/src/encodings/physical.rs
Labels: bug

#3527 feat: write_dataset from pylist and pydict
  python/python/lance/types.py
  python/python/tests/test_dataset.py
Labels: enhancement, python

#3521 docs: fix read_and_write example
  .github/workflows/docs-check.yml
  .gitignore
  docs/arrays.rst
  docs/conf.py
  docs/format.rst
  docs/index.rst
  docs/read_and_write.rst
  docs/requirements.txt
Labels: documentation, python, java

#3477 feat!: create index in v3 version by default
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/Cargo.toml
  python/python/tests/test_vector_index.py
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/ivf/shuffler.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/builder.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/transform.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/builder.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: enhancement, python, breaking-change

#3528 docs: organize contents into sections
  docs/arrays.rst
  docs/blob.rst
  docs/conf.py
  docs/index.rst
  docs/integrations/integrations.rst
  docs/requirements.txt
  docs/tokenizer.rst
  notebooks/quickstart.ipynb
Labels: documentation

#3518 feat: rework how we train ngram indices for better performance
  Cargo.lock
  rust/lance-core/src/error.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance/src/index/scalar.rs
Labels: enhancement

#3530 docs: update ray integration and move schema evolution doc to a separate doc
  docs/conf.py
  docs/index.rst
  docs/integrations/ray.rst
  docs/introduction/read_and_write.rst
  docs/introduction/schema_evolution.rst
  docs/object_store.rst
  docs/read_and_write.rst
  docs/requirements.txt
Labels: documentation

#3532 docs: fix checklinks
  docs/introduction/read_and_write.rst
  python/python/lance/dataset.py
Labels: documentation, python

#3534 docs: add example of `Dataset.insert`
  docs/api/api.rst
  docs/conf.py
  docs/introduction/read_and_write.rst
Labels: documentation

#3529 chore: suppress humantime advisory
  Cargo.lock
  deny.toml
  python/Cargo.lock
  python/Cargo.toml
  rust/lance/Cargo.toml
Labels: python, chore

#3535 docs: update README to include new table format and format v2 blogs
  README.md
Labels: documentation

#3533 feat: expose make_deletions_null to python as include_deleted_rows
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_dataset.py
  python/python/tests/test_scalar_index.py
  python/python/tests/test_vector_index.py
  python/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
Labels: enhancement, python

#3513 perf: coalesce continuous indices into ranges if possible
  rust/lance-encoding/src/decoder.rs
Labels: performance

#3525 perf: improve v3 indexing perf
  python/python/tests/test_vector_index.py
  rust/lance-index/benches/sq.rs
  rust/lance-index/src/vector/flat.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/flat/transform.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/ivf.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/pq/transform.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/sq/transform.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-index/src/vector/v3/shuffler.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/builder.rs
Labels: python, performance

#3538 feat: add project transaction operation for pylance sdk
  python/python/lance/dataset.py
  python/python/tests/test_dataset.py
  python/src/transaction.rs
Labels: enhancement, python

#3536 feat: set object store retry via environment variables
  .github/workflows/rust.yml
  rust/lance-io/src/object_store.rs
Labels: enhancement, chore

#3542 docs: enable merge insert doctest
  docs/api/api.rst
  docs/api/py_modules.rst
  docs/conf.py
  docs/introduction/read_and_write.rst
  python/python/lance/blob.py
  python/python/lance/dataset.py
Labels: documentation, python

#3548 docs: raw distributed write
  docs/_static/distributed_append.png
  docs/api/py_modules.rst
  docs/api/python.rst
  docs/conf.py
  docs/distributed_write.rst
  docs/index.rst
  docs/integrations/ray.rst
Labels: documentation

#3559 ci: fix cross compilation of fp16 kernels
  rust/lance-linalg/build.rs
Labels: ci

#3543 refactor: rework how take handles parallelism
  python/python/tests/test_scalar_index.py
  rust/lance-datafusion/src/exec.rs
  rust/lance-file/src/v2/reader.rs
  rust/lance-io/src/scheduler.rs
  rust/lance/src/datafusion.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/fragment.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/take.rs
  rust/lance/src/dataset/write/merge_insert.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/pushdown_scan.rs
  rust/lance/src/io/exec/rowids.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/io/exec/utils.rs
Labels: python

#3562 docs: how to use tags
  docs/index.rst
  docs/integrations/ray.rst
  docs/tags.rst
  python/python/lance/dataset.py
Labels: documentation, python

#3561 fix: indexing time in unit tests is much slower than before
  rust/lance-index/src/vector/hnsw.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/pq/transform.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#3573 fix: the PQ codes corrupted after remapping
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#3576 fix: remove some expensive debug impls
  rust/lance-core/src/cache.rs
  rust/lance/src/dataset.rs
  rust/lance/src/index/cache.rs
  rust/lance/src/session.rs
Labels: bug

#3575 feat: add tracing events for I/O, index loading, and plan execution
  Cargo.lock
  docs/performance.rst
  python/Cargo.lock
  python/python/tests/test_dataset.py
  python/python/tests/test_f16.py
  python/src/dataset.rs
  rust/lance-core/src/utils/futures.rs
  rust/lance-core/src/utils/tracing.rs
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/exec.rs
  rust/lance-datafusion/src/utils.rs
  rust/lance-index/benches/inverted.rs
  rust/lance-index/benches/ngram.rs
  rust/lance-index/src/lib.rs
  rust/lance-index/src/metrics.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/bitmap.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/scalar/flat.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/label_list.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-index/src/vector.rs
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/hnsw/builder.rs
  rust/lance-index/src/vector/hnsw/index.rs
  rust/lance-index/src/vector/v3/subindex.rs
  rust/lance-io/src/scheduler.rs
  rust/lance-table/src/io/deletion.rs
  rust/lance/benches/scalar_index.rs
  rust/lance/src/datafusion.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/dataset/write.rs
  rust/lance/src/index.rs
  rust/lance/src/index/append.rs
  rust/lance/src/index/vector.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/fixture_test.rs
  rust/lance/src/index/vector/ivf.rs
  rust/lance/src/index/vector/ivf/io.rs
  rust/lance/src/index/vector/ivf/v2.rs
  rust/lance/src/index/vector/pq.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/knn.rs
  rust/lance/src/io/exec/scalar_index.rs
  rust/lance/src/io/exec/scan.rs
  rust/lance/src/io/exec/take.rs
  rust/lance/src/io/exec/utils.rs
  rust/lance/src/session/index_extension.rs
Labels: enhancement, python

#3577 fix: reintroduce TakeExec.dataset method
  rust/lance/src/io/exec/take.rs
Labels: bug

#3568 feat: make it possible to get the field ids from a lance_schema
  python/python/lance/lance/schema.pyi
  python/python/tests/test_schema.py
  python/src/schema.rs
Labels: enhancement, python

#3555 fix(android): compilation error on android
  rust/lance-core/src/utils/cpu.rs
Labels: bug

#3582 chore: collect all related jars for lance spark connector when building
  java/spark/pom.xml
Labels: java, chore

#3584 feat(python): add warning about fork
  python/python/lance/__init__.py
Labels: enhancement, python

#3557 perf: improve 4bit PQ performance
  rust/lance-index/src/vector/flat/index.rs
  rust/lance-index/src/vector/flat/storage.rs
  rust/lance-index/src/vector/pq.rs
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/sq/storage.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance-linalg/src/simd/u8.rs
Labels: performance

#3590 ci: support python310 tomli
  ci/check_versions.py
Labels: bug

#3585 feat: add tracing to cleanup
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/cleanup.rs
Labels: enhancement

#3591 fix: work around deranged breaking change not labeled as such
  rust/lance-file/src/reader.rs
Labels: bug

#3588 feat: add JNI bindings for the file reader/writer
  Cargo.lock
  java/core/lance-jni/Cargo.toml
  java/core/lance-jni/src/error.rs
  java/core/lance-jni/src/file_reader.rs
  java/core/lance-jni/src/file_writer.rs
  java/core/lance-jni/src/lib.rs
  java/core/src/main/java/com/lancedb/lance/file/LanceFileReader.java
  java/core/src/main/java/com/lancedb/lance/file/LanceFileWriter.java
  java/core/src/test/java/com/lancedb/lance/FileReaderWriterTest.java
  rust/lance-encoding/src/decoder.rs
  rust/lance-file/src/v2/reader.rs
Labels: enhancement, java

#3596 fix: divide by 0 error if remapping PQ storage to empty
  rust/lance-index/src/vector/pq/distance.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#3599 perf(java): cache the fragments to avoid parse the fragment json for each task
  java/spark/src/main/java/com/lancedb/lance/spark/LanceConfig.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceDatasetAdapter.java
  java/spark/src/main/java/com/lancedb/lance/spark/internal/LanceFragmentScanner.java
Labels: performance, java

#3602 feat(python): support adding null columns with pyarrow field or schema
  python/python/lance/dataset.py
  python/python/lance/lance/__init__.pyi
  python/python/tests/test_dataset.py
  python/src/dataset.rs
Labels: enhancement, python

#3606 fix: schema isn't expected for IVF_PQ
  rust/lance-index/src/vector/ivf/transform.rs
  rust/lance-index/src/vector/pq/storage.rs
  rust/lance-index/src/vector/storage.rs
  rust/lance/src/index/vector/builder.rs
  rust/lance/src/index/vector/ivf/v2.rs
Labels: bug

#3609 fix: propagate parent span to spawned ObjectWriter tasks
  rust/lance-io/src/object_writer.rs
Labels: bug

#3600 chore: remove SNAPSHOT from version
  java/core/pom.xml
  java/pom.xml
  java/spark/pom.xml
Labels: java, chore

#3611 docs: add example of adding new columns with only pyarrow Field or Schema
  docs/introduction/schema_evolution.rst
Labels: documentation

#3607 fix: avoid creating empty encoding task and part for PrimitiveFieldEncoder
  rust/lance-encoding/src/encodings/logical/primitive.rs
Labels: bug

#3613 feat: add support for fixed size binary to btree
  python/Cargo.lock
  python/python/lance/dataset.py
  python/python/tests/test_scalar_index.py
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/datagen.rs
  rust/lance-datafusion/src/expr.rs
  rust/lance-datafusion/src/lib.rs
  rust/lance-datagen/src/generator.rs
  rust/lance-index/src/scalar/btree.rs
  rust/lance-index/src/scalar/expression.rs
  rust/lance-index/src/scalar/lance_format.rs
  rust/lance-index/src/scalar/ngram.rs
  rust/lance-table/src/utils/stream.rs
Labels: enhancement, python

#3574 docs: add spark r/w lance demo
  docs/examples/examples.rst
  docs/examples/spark_datasource_example.rst
Labels: documentation

#3608 fix: fix python format
  .github/workflows/python.yml
  .pre-commit-config.yaml
  python/python/lance/__init__.py
  python/python/lance/dependencies.py
  python/python/lance/util.py
  python/python/tests/test_scalar_index.py
Labels: bug, python

#3592 perf: migrate to `ManifestLocation`, add e_tag
  Cargo.lock
  rust/lance-io/src/object_store.rs
  rust/lance-io/src/object_writer.rs
  rust/lance-table/src/io/commit.rs
  rust/lance-table/src/io/commit/dynamodb.rs
  rust/lance-table/src/io/commit/external_manifest.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/builder.rs
  rust/lance/src/dataset/cleanup.rs
  rust/lance/src/dataset/optimize.rs
  rust/lance/src/dataset/refs.rs
  rust/lance/src/dataset/schema_evolution.rs
  rust/lance/src/dataset/write/commit.rs
  rust/lance/src/dataset/write/update.rs
  rust/lance/src/index.rs
  rust/lance/src/io/commit.rs
  rust/lance/src/io/commit/dynamodb.rs
  rust/lance/src/io/commit/external_manifest.rs
Labels: performance

#3618 feat: upgrade to datafusion 46
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  rust/lance-datafusion/Cargo.toml
  rust/lance-datafusion/src/planner.rs
  rust/lance-datafusion/src/sql.rs
  rust/lance-datafusion/src/substrait.rs
  rust/lance/src/index.rs
  rust/lance/src/io/exec/projection.rs
  rust/lance/src/io/exec/rowids.rs
Labels: enhancement, python

#3610 feat: support fuzzy query and boost query
  Cargo.lock
  Cargo.toml
  python/Cargo.lock
  python/python/lance/dataset.py
  python/python/lance/query.py
  python/python/tests/test_scalar_index.py
  python/src/dataset.rs
  python/src/schema.rs
  python/src/tracing.rs
  python/src/utils.rs
  rust/lance-index/Cargo.toml
  rust/lance-index/benches/inverted.rs
  rust/lance-index/src/scalar.rs
  rust/lance-index/src/scalar/inverted.rs
  rust/lance-index/src/scalar/inverted/builder.rs
  rust/lance-index/src/scalar/inverted/index.rs
  rust/lance-index/src/scalar/inverted/query.rs
  rust/lance-index/src/scalar/inverted/wand.rs
  rust/lance/examples/full_text_search.rs
  rust/lance/src/dataset.rs
  rust/lance/src/dataset/scanner.rs
  rust/lance/src/io/exec/fts.rs
  rust/lance/src/io/exec/utils.rs
Labels: enhancement, python

#3624 fix: merge insert with empty index
  python/python/tests/test_dataset.py
  rust/lance/src/io/exec/take.rs
Labels: bug, python
